@if (!isHidden()) {
  <div class="compact-banner">
    <!-- Decorative poker chip -->
    <div class="poker-chip"></div>

    <button
      mat-icon-button
      (click)="hideBanner()"
      class="close-button"
      matTooltip="Dismiss">
      <mat-icon>close</mat-icon>
    </button>

    <div class="banner-text">
      <span class="headline">{{ messageTitle() }}</span>
      <span class="message">{{ messageBody() }}</span>
    </div>

    <div class="banner-actions">
      <button mat-flat-button class="top-up-button" (click)="openUpsell()">
        Get credits
      </button>
    </div>
  </div>
}
