@import '../../common.scss';

.dialog-content {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.mat-mdc-dialog-content {
  flex: auto;
}

.tab-content {
  padding-top: 1rem;
}

.avatar-selector {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(80px, 1fr));
  gap: 16px;
  padding: 8px;
  padding-top: 1rem;

  @include extraSmallScreen {
    grid-template-columns: repeat(auto-fit, minmax(50px, 1fr));
  }
}

.avatar-selector-item {
  display: flex;
  justify-content: center;
  align-items: center;
  transition: transform 300ms 100ms ease-in-out;
  will-change: transform;

  &:hover {
    transform: scale(1.1);
  }

  .avatar-image {
    cursor: pointer;
  }
}

.mat-mdc-icon-button {
  width: 100% !important;
  height: 100% !important;

  &.selected {
    border: 1px solid lightgray;
  }
}

.mat-badge-content {
  top: 5px;
  right: 0px;
}

.avatar-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.avatar {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  overflow: hidden;
}

.profile-overview {
  display: flex;
  gap: 16px;
  padding: 1rem;
  margin-bottom: 1rem;

  @media only screen and (max-width: 600px) {
    flex-direction: column;
  }

  @include extraSmallScreen {
    padding: 0;
  }

  .profile-image {
    flex: 1;
    padding: 0.5rem;
    padding-left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .profile-details {
    flex: 3;

    mat-form-field {
      width: 100%;
    }
  }
}

.section-title {
  margin-top: 1rem;
}

.customizer-panel {
  box-shadow: none !important;
  border: 1px solid var(--main-color);
}
.configuration-row {
  padding: 0.5rem 0rem;
}

.chip-selector {
  margin-bottom: 0.5rem;
}

.data-items {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
  margin-bottom: 1rem;
}

.data-item {
  display: flex;
  flex-direction: column;
  gap: 0.2rem;

  &.profile {
    margin-bottom: 1rem;
  }
}

.change-email-button {
  margin-bottom: 1.5rem;
}

.subscription-chip {
  margin-bottom: 1rem;
}

.bundle-wrap {
  background: var(--on-light-background-color);
  border-radius: 12px;
  padding: 1rem;
  margin: 1rem 0;

  .bundle-content {
    display: flex;
    gap: 1rem;
    align-items: center;
  }

  .title {
    font-size: 1rem;
    margin-bottom: 0.2rem;
    margin-top: 0;
  }

  .image-wrap {
    width: 100px;
    height: 100px;
    overflow: hidden;
    border-radius: 8px;
    background: var(--on-light-background-color);

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

    @include extraSmallScreen {
      display: none;
    }
  }

  .credit-status {
    margin-top: 0.5rem;
    padding-left: 1rem
  }

  .next-expiry,
  .next-credit {
    font-size: 0.8rem;
    line-height: 1rem;
    color: #808ca1;
    margin-bottom: 0;
    margin-top: 0px;
  }

  .loading-spinner-container {
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
