.dialog-content {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.mat-dialog-content {
    flex: auto;
}

.tab-content {
    padding-top: 1rem;
}

.avatar-selector {
    display: grid;
    overflow: auto;
    grid-template-columns: repeat(auto-fit, minmax(80px, 1fr));
    gap: 16px;
    padding: 8px;
    padding-top: 1rem;
}

.avatar-selector-item {
    display: flex;
    justify-content: center;
    align-items: center;
    transition: transform 300ms 100ms ease-in-out;
    will-change: transform;

    &:hover {
        transform: scale(1.1);
    }

    .avatar-image {
        cursor: pointer;
    }
}

.mat-icon-button {
    width: 100%;
    height: 100%;

    &.selected {
        border: 1px solid lightgray;
    }
}

.mat-badge-content {
    top: 5px;
    right: 0px;
}

.avatar-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.avatar {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    overflow: hidden;
}

.profile-overview {
    display: flex;
    gap: 16px;
    padding: 1rem;
    margin-bottom: 1rem;

    @media only screen and (max-width: 600px) {
        flex-direction: column;
    }

    .profile-image {
        flex: 1;
        padding: 0.5rem;
        padding-left: 0;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .profile-details {
        flex: 3;

        mat-form-field {
            width: 100%;
        }
    }
}

.section-title {
    margin-top: 1rem;
}