<h1 mat-dialog-title>Planning just got a whole lot more powerful! 🚀</h1>
<div mat-dialog-content>
  <p>
    We're excited to announce a major update to our app, packed with awesome new
    features and a streamlined credit system to fuel your collaboration. Get
    ready to:
  </p>
  <ul>
    <li>
      🔒 Lock down your meetings: Password protection keeps your planning
      sessions private.
    </li>
    <li>
      🦸‍♂️ Empowering leaders: Custom permission handling gives SCRUM masters the
      control they need to keep things organized.
    </li>
    <li>
      ♾️ Collaborate without limits: No more size restrictions for
      organizations.
    </li>
    <li>
      🃏 Add a touch of fun: Spice up your meetings with unlimited PokerBot for
      a playful way to summarize key decisions.
    </li>
  </ul>
  <p>
    💰 We are also introducing credits: New rooms cost 1 credit, but fear not!
    All new users get 5 free credits, and as a valued existing user, you'll
    start with 10 credits for your next planning sessions. Plus, you'll get 1
    free credit every month and can easily top up anytime.
  </p>
</div>
<div mat-dialog-actions>
  <button mat-flat-button color="primary" mat-dialog-close>Sounds good!</button>
</div>
