.summary {
  background: var(--light-background-color);
  border-radius: 12px;
  margin-bottom: 2rem;

  .summary-response {
    white-space: pre-line;
    color: #757780;
    padding: 1rem;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    max-height: 300px;
    overflow-y: scroll;
    
    .dark-theme & {
      border-bottom-color: rgba(255, 255, 255, 0.08);
      color: #b0b0b0;
    }
  }

  .summary-buttons {
    padding: 1rem;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
  }

  .middle-text {
    text-align: center;
    h2 {
      font-weight: 600;
    }
    p {
      font-size: 0.9rem;
    }
  }
}

.disclaimer {
  font-size: 0.9rem;
}

.loading-blocks {
  display: flex;
  flex-wrap: wrap;

  @keyframes pulse {
    0% {
      opacity: 0.5;
    }
    100% {
      opacity: 1;
    }
  }

  .loading-block {
    height: 1.5rem;
    background: #757780;
    border-radius: 1px;
    margin-bottom: 0.5rem;
    animation: pulse 400ms infinite alternate;
    width: 8px;
  }
}

.free-credits {
  margin-left: auto;
  color: #575e71;
  font-size: 0.9rem;
}
