.content {
    // TODO: fix this!
    padding-top: 89px;

    @media screen and (max-width: 800px) {
        padding-top: 48px;
    }
}

.footer {
    padding: 2rem 1rem;

    .links {
        display: flex;
        gap: 1rem;
        justify-content: center;

        a {
            color: #d9e2ff;
            text-decoration: none;
        }
    }
}