.estimator-buttons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  flex: 1;
  padding: 1rem;

  .estimator-button {
    &.majority {
      --mdc-protected-button-container-color: var(
        --mdc-filled-button-container-color
      );
      --mdc-protected-button-label-text-color: var(
        --mdc-filled-button-label-text-color
      );
    }

    &.majority-override {
      --mdc-protected-button-container-color: var(--accent-color);
      --mdc-protected-button-label-text-color: white;
    }
  }
}
