<h1 mat-dialog-title>What is Planning Poker Premium?</h1>
<div mat-dialog-content class="content">
  <div class="details">
    <p>
      Our premium subscription now offers improved room security, team
      management, custom branding support and much more coming soon. Subscribe
      now to enjoy all these features and
      <strong
        >support the maintenance and improvement of this open-source
        project</strong
      >.
    </p>
    <ul>
      <li>
        Create private rooms protected by a password or available only for
        members of your organization
      </li>
      <li>
        Create an organization with branding support to customize your
        experience
      </li>
      <li>Adjust room member permissions to your preferences</li>
      <li>Unlock your full planning history</li>
      <li>
        <strong>Coming soon</strong> Integrate with JIRA for seamless
        imports/exports
      </li>
      <li>
        <strong>Coming soon</strong> Create sub-teams in your organization,
        invite members to rooms
      </li>
    </ul>
  </div>

  <div class="sidebar">
    <div class="banner">
      <span class="price">15€ / month</span>
      <span class="discount">
        Only 10€/month (33% off) for your first three months. Thank you for
        being an early adopter!
      </span>
      <span class="details"
        >With a 14 day free-trial, so you can explore all premium
        features.</span
      >
    </div>
    <button mat-flat-button color="primary">Get Premium now</button>
  </div>
</div>
