.sidebar {
  display: flex;
  flex: 1 0 0;
  flex-direction: column;

  .banner {
    background: var(--light-blue);
    margin-bottom: 1rem;
    padding: 2rem 1rem;
    border-radius: 24px;
    display: flex;
    flex-direction: column;

    .price {
      margin-bottom: 0;
      font-weight: 500;

      .tooltip-text {
        cursor: pointer;
        text-decoration: underline;
      }
    }
    .details {
      font-size: 0.8rem;
    }

    &.secondary {
      background: #BFC6DC;
      color: #293042;
    }

    .stripe-logo {
      width: 40%;
      margin-left: -10px;
    }
  }
}

.content {
  display: flex;
  gap: 1rem;

  .details {
    flex: 2 1 0;
    padding-right: 1rem;
  }
}

.discount {
  background: white;
  padding: 0.5rem;
  border-radius: 6px;
  font-weight: 500;
  font-size: 0.8rem;
}
