<div>
  <div mat-dialog-content>
    <p><mat-icon>lock</mat-icon></p>
    <div *ngIf="authTypeRequired$ | async as authTypeRequired; else loading">
      <ng-container *ngIf="authTypeRequired === 'password'">
        <p>
          This room is protected by a password. Please enter it below to join
          this planning session.
        </p>
        <mat-form-field class="room-password" appearance="outline">
          <mat-label>Password</mat-label>
          <input matInput type="password" [formControl]="roomPassword" />
        </mat-form-field>
        <div class="error" *ngIf="errorMessage | async as error">
          {{ error }}
        </div>
      </ng-container>
      <ng-container *ngIf="authTypeRequired === 'organization'">
        <p>
          This room can only be joined by members of the creator's organization.
          Ask the room creator to add you as an organization member to continue.
        </p>
      </ng-container>
    </div>
  </div>
  <div mat-dialog-actions>
    <button
      mat-flat-button
      color="primary"
      [disabled]="!roomPassword.valid"
      (click)="joinRoomWithPassword()"
      *ngIf="(authTypeRequired$ | async) === 'password'"
    >
      Join room
    </button>
    <button mat-flat-button mat-dialog-close>Cancel</button>
  </div>
</div>
<ng-template #loading>
  <div class="loading">
    <mat-progress-spinner
      mode="indeterminate"
      [diameter]="30"
    ></mat-progress-spinner>
  </div>
</ng-template>
