.loading {
  padding: 4rem 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.room-password {
  width: 100%;
}

.error {
  padding: 1rem;
  background: #ffb4ab;
  color: #690005;
}
