<app-header> </app-header>
<section class="hero-header">
  <div class="header-intro">
    <h1>
      Real-time online planning poker<br />
      for remote scrum teams
    </h1>
    <button mat-button [routerLink]="'create'" class="start-planning-btn">
      Start Planning
    </button>
    <a [routerLink]="'features'" class="see-features">See all features</a>
    <div class="used-by">
      Used by awesome engineers at
      <ul class="logo-list">
        <li><img src="/assets/logos/prezi.svg" alt="Prezi logo" /></li>
        <li><img src="/assets/logos/netflix.svg" alt="Netflix logo" /></li>
      </ul>
    </div>
  </div>

  <div class="poker-card large">3</div>
  <div class="poker-card small">1</div>
  <div
    class="mouse"
    (click)="scrollDown()"
    [ngClass]="isScrollDownHidden && 'hidden'"
  ></div>
</section>
<section class="how-to" id="how-to">
  <div class="how-to-section">
    <div class="how-to-image">
      <div class="input-image">
        nifty-parrot
        <span class="cursor">|</span>
      </div>
    </div>
    <div class="how-to-text">
      <span class="how-to-step">1</span>
      Create an Estimation Room to start planning your next sprint's cards.
    </div>
  </div>
  <div class="how-to-section">
    <div class="how-to-image">
      <div class="share-image">
        <span class="pointer">
          <img src="/assets/cursor.svg" alt="A mouse cursor" />
        </span>
        <span class="share-text">Share</span>
      </div>
    </div>
    <div class="how-to-text">
      <span class="how-to-step">2</span>
      Share your room with colleagues so they can join your real-time
      estimation.
    </div>
  </div>
  <div class="how-to-section">
    <div class="how-to-image">
      <div class="jira-card">
        <span class="jira-story"></span>
        <span class="jira-number-text">PP-652</span>
        <span class="jira-text">Design Planning Poker landing page</span>
      </div>
    </div>
    <div class="how-to-text">
      <span class="how-to-step">3</span>
      Estimate cards & stories and find consensus easily.
    </div>
  </div>
</section>
<section class="about">
  <h1>What is planning poker?</h1>
  <p>
    Planning poker, also called SCRUM poker or pointing poker, is a
    consensus-based, gamified technique for estimating, mostly used to estimate
    effort or relative size of development goals in software development. In
    planning poker, members of the group make estimates by playing numbered
    cards face-down to the table, instead of speaking them aloud. The cards are
    revealed, and the estimates are then discussed. By hiding the figures in
    this way, the group can avoid the cognitive bias of anchoring, where the
    first number spoken aloud sets a precedent for subsequent estimates.
  </p>

  <div class="made-by">
    <p>Developed by:</p>
    <a
      class="made-by-box"
      href="https://github.com/biharygergo/card-estimator"
      rel="noopener"
      ><img
        class="made-by-img"
        src="/assets/gergely-bihary.png"
        alt="A profile picture of Gergely Bihary"
      />
      Gergely Bihary</a
    >
  </div>
</section>
<zoom-app-banner bannerLocation="banner_landing"></zoom-app-banner>
