.loading {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 3rem 0;
}

.organization-form {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    margin-bottom: 2rem;

    .form-input {
        width: 100%;
    }
}

.section-title {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    font-weight: bold;
    font-size: 0.9rem;
}

.members-section {
    margin: 2rem 0;
}

.member {
    display: flex !important;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 0 !important;
    flex-wrap: wrap;
  }
  