.loading {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 3rem 0;
}

.organization-form {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.form-input {
  width: 100%;
}

.save-button {
  margin: 1rem 0;
}

.section-title {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  font-weight: bold;
  font-size: 0.9rem;
}

.member {
  display: flex !important;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 0 !important;
  flex-wrap: wrap;
}

.create-account-button {
  margin-right: 0.5rem;
}

.members-section {
  margin-bottom: 0.5rem;
}

.file-upload {
  margin-top: 0.5rem;
}

.logo-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-top: 0.5rem;
  border-radius: 6px;
  background: var(--light-background-color);

  padding: 1rem;
  gap: 1rem;
  img {
    width: 100px;
    height: 100px;
    object-fit: contain;
    border-radius: 6px;
    background: white;
  }
}

.empty-state {
  background: var(--light-background-color);
  padding: 1rem;
  border-radius: 16px;
}


.alert-card {
  margin: 1rem 0;
}