.hero-header-section {
  background: linear-gradient(90deg, #345ca8 30.32%, #80c2f2 100%);
}

.hero-header {
  display: flex;
  position: relative;
  overflow: hidden;
  padding: 24px 24px 0 24px;
  max-width: 1200px;
  margin: 0 auto;
  gap: 8px;

  .header-intro {
    display: flex;
    flex-direction: column;
    gap: 20px;
    color: white;
    flex: 1 0 50%;
    padding-top: 3rem;

    h1 {
      font-size: 2rem;
      line-height: 2.8rem;
      font-weight: bold;
      margin-bottom: 0;
    }

    .start-planning-btn {
      background: #d9e2ff;
      padding: 0.5rem 3rem;
      font-size: 1rem;
      color: #345ca8;
      margin-bottom: 16px;
    }

    .used-by {
      display: flex;
      flex-direction: column;
    }

    .logo-list {
      display: flex;
      list-style: none;
      gap: 12px;
      margin-top: 0;
      padding: 0;
      margin-bottom: 50px;
      img {
        height: 60px;
      }
    }
  }

  .header-cards {
    flex: 1 1 50%;
    display: flex;
    justify-content: flex-end;
    img {
      width: 90%;
      min-width: 400px;
      object-fit: contain;
      margin-bottom: -40%;
    }
  }

  @media screen and (max-width: 800px) {
    flex-direction: column;
    padding: 24px 24px 0 24px;

    .header-intro {
      gap: 24px;
      padding-top: 2rem;
      text-align: center;

      h1 {
        font-size: 1.3rem;
        line-height: 1.7rem;
      }
      .start-planning-btn {
        padding: 0.3rem 0.8rem;
        font-size: 1rem;
        width: 100%;
      }

      .logo-list {
        justify-content: center;
      }
    }

    .header-cards {
      justify-content: center;
    }
  }
}

.features-section {
  padding-top: 75px;
  background: var(--background-dark);

  .features-content {
    padding: 24px 24px 0 24px;
    max-width: 1000px;
    margin: 0 auto;

    h2 {
      color: #bfc6dc;
      text-align: center;
      margin-bottom: 4rem;
      font-size: 1.7rem;
    }

    .features-grid {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;

      gap: 32px;
      .feature-card {
        height: 450px;
        padding: 50px 40px;
        color: #bfc6dc;
        background: #18325d;
        position: relative;
        overflow: hidden;
        border-radius: 20px;

        flex: 1 1 calc(40% - 32px);

        &.wide {
          flex: 1 1 calc(60% - 32px);
        }

        h3 {
          font-size: 1.5rem;
          font-weight: bold;
        }

        img {
          position: absolute;
          object-fit: contain;
          width: 100%;
          bottom: -10%;
          left: 0;
        }
      }
    }
  }

  @media screen and (max-width: 800px) {
    .features-content {
      h2 {
        font-size: 1.1rem;
      }

      .features-grid {
        gap: 16px;

        .feature-card {
          height: 350px;
          flex: 1 1 100%;

          &.wide {
            flex: 1 1 100%;
          }

          img {
            height: 80%;
          }
        }
      }
    }
  }
}

.demo-video-section {
  padding-top: 75px;
  background: var(--background-dark);

  .demo-video-section-content {
    padding: 24px 24px 0 24px;
    max-width: 1200px;
    margin: 0 auto;

    h2 {
      color: #bfc6dc;
      text-align: center;
      margin-bottom: 4rem;
      font-size: 1.7rem;
    }

    .video-container {
      position: relative;
      margin-bottom: 2rem;

      video {
        width: 100%;
        border-radius: 20px;
      }

      button {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);

        background: white;
        color: #18325d;
        &.hidden {
            display: none;
        }
      }
    }
  }

  .steps-container {
    display: flex;
    justify-content: center;
    color: #BFC6DC;

    .mat-tab-label {
      color: #BFC6DC;
      font-size: 1.1rem;
    }

    .mat-tab-header-pagination-chevron {
      border-color: #BFC6DC;
    }

    .mat-tab-header {
      border-bottom: 1px solid #3F4759;
    }

    .step-content {
      padding: 2rem 0;
      color: #BFC6DC;
      text-align: center;
      max-width: 500px;
      margin: 0 auto;
    }
  }
}
