<section class="hero-header-section">
<div class="hero-header">
    <div class="header-intro">
      <h1>
        Real-time online planning poker<br />
        for remote scrum teams
      </h1>
      <p>Better estimation sessions for the whole team.</p>
      <div>
        <button mat-flat-button [routerLink]="'/create'" class="start-planning-btn">
            Start Planning
          </button>
      </div>
      
      <div class="used-by">
        Trusted by teams at hundreds of companies, including:
        <ul class="logo-list">
          <li><img src="/assets/logos/prezi.svg" alt="Prezi logo" /></li>
          <li><img src="/assets/logos/netflix.svg" alt="Netflix logo" /></li>
        </ul>
      </div>
    </div>
    <div class="header-cards">
        <img src="/assets/header_cards.png" />
    </div>
  </div>
</section>