.banner-heading {
  padding: 0.5rem;
  color: white;
  text-align: center;

  a {
    color: white;
  }

  @media screen and (max-width: 800px) {
    padding-top: 0.8rem;
  }
}

.used-by-section {
  padding-top: 5rem;
  background: var(--background-dark);

  .used-by-content {
    padding: 24px 24px 0 24px;
    max-width: 1000px;
    margin: 0 auto;

    h3 {
      color: #bfc6dc;
      text-align: center;
      margin-bottom: 4rem;
      font-size: 1.7rem;
    }

    .logo-carousel {
      overflow: hidden;
      position: relative;
      height: 100px;

      &:after,
      &:before {
        background: linear-gradient(
          to right,
          #001a43 0%,
          hsla(0, 0%, 100%, 0) 100%
        );
        content: "";
        height: 75pt;
        position: absolute;
        width: 200px;
        z-index: 2;
      }

      &:after {
        right: 0;
        top: 0;
        transform: rotateZ(180deg);
      }
    }

    @keyframes scroll {
      100% {
        transform: translateX(calc(-100% + 600px + 6 * 3rem + 20px));
      }
      0% {
        transform: translateX(0);
      }
    }

    .logo-carousel-track {
      display: flex;
      align-items: center;
      list-style-type: none;
      animation: scroll 60s linear infinite;
      position: absolute;

      li {
        flex-shrink: 0;
        margin-right: 3rem;
        img {
          width: 100px;
          height: 80px;
          object-fit: contain;
          filter: brightness(0) invert(1);
        }
      }
    }
  }
}

.features-section {
  padding-top: 5rem;
  background: var(--background-dark);

  .features-content {
    padding: 24px 24px 0 24px;
    max-width: 1000px;
    margin: 0 auto;

    h3 {
      color: #bfc6dc;
      text-align: center;
      margin-bottom: 4rem;
      font-size: 1.7rem;
    }
  }
}

.demo-video-section {
  padding-top: 5rem;
  background: var(--background-dark);

  .demo-video-section-content {
    padding: 24px 24px 0 24px;
    max-width: 1200px;
    margin: 0 auto;

    h3 {
      color: #bfc6dc;
      text-align: center;
      margin-bottom: 4rem;
      font-size: 1.7rem;
    }

    .video-container {
      position: relative;
      max-width: calc(1000px - 2 * 24px);
      margin: 0 auto;
      margin-bottom: 2rem;
      border-radius: 20px;
      overflow: hidden;

      video {
        width: 100%;
        display: block;
      }

      .start-video-overlay {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;

        display: flex;
        align-items: center;
        justify-content: center;

        cursor: pointer;

        &:hover {
          button {
            transform: scale(1.6);
          }
        }

        &.hidden {
          display: none;
        }
      }

      button {
        transform: scale(1.5);
        background: white;
        color: #18325d;

        transition: background 200ms linear;
        transition-property: background, transform;

        &:hover {
          background: #d9e2ff;
        }
      }
    }
  }

  .steps-container {
    display: flex;
    justify-content: center;
    color: #bfc6dc;
    --mdc-tab-indicator-active-indicator-color: white;
    --mat-tab-header-active-focus-indicator-color: white;

    .mdc-tab {
      .mdc-tab__text-label {
        color: #bfc6dc;
        font-size: 1.1rem;
      }

      &.mdc-tab--active {
        .mdc-tab__text-label {
          color: #afc6ff;
          opacity: 1;
        }
      }
    }

    .mat-mdc-tab-header-pagination-chevron {
      border-color: #bfc6dc;
    }

    .mat-mdc-tab-header {
      border-bottom: 1px solid #3f4759;
    }

    .step-content {
      padding: 2rem 0;
      color: #bfc6dc;
      text-align: center;
      max-width: 500px;
      margin: 0 auto;
    }
  }
}

.about-section {
  padding: 5rem 0;
  padding-top: 4rem;
  background: var(--background-dark);
  display: flex;
  justify-content: center;

  .about-section-content {
    margin: 24px 24px 0 24px;
    max-width: 1200px;
    border-radius: 20px;
    overflow: hidden;
    background: #18325d;
    display: flex;

    .about-section-left {
      flex: 3 1 55%;
      padding: 5rem 2rem;
      display: flex;
      flex-direction: column;
      gap: 2rem;

      .mat-expansion-panel-spacing {
        margin: 10px 0;
      }

      .mat-expansion-panel {
        background: #243c65;
        color: #d9e2ff;
        box-shadow: none;

        &:first-of-type {
          border-top-right-radius: 20px;
          border-top-left-radius: 20px;
        }

        &:last-of-type {
          border-bottom-right-radius: 20px;
          border-bottom-left-radius: 20px;
        }

        &:not(.expanded) {
          margin-bottom: 10px;
        }

        .mat-expansion-panel-header {
          height: 60px;
        }

        .mat-expansion-panel-header-title {
          color: #d9e2ff;
          font-size: 1.5rem;
          line-height: 1.6rem;
          font-weight: bold;
        }

        .mat-expansion-panel-header-description,
        .mat-expansion-indicator::after {
          color: white;
        }

        p {
          a {
            color: white;
          }
        }
      }

      .made-by {
        color: #d9e2ff;
        margin-bottom: 1rem;
      }

      .authors {
        display: flex;
        flex-wrap: wrap;
        gap: 1rem;

        .made-by-box {
          background: #d9e2ff;
          border-radius: 6px;
          color: #345ca8;
          padding: 0.5rem 1rem;
          display: inline-flex;
          align-items: center;
          justify-content: center;
          cursor: pointer;
          text-decoration: none;
          gap: 1rem;

          transition: background 200ms linear;

          &:hover {
            background: #afc6ff;
          }

          img {
            height: 30px;
            width: 30px;
            border-radius: 50%;
            object-fit: cover;
            object-position: center;
          }
        }
      }
    }

    .about-section-right {
      flex: 2 1 45%;
      position: relative;

      img {
        position: absolute;
        left: 0;
        bottom: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: top;
      }
    }
  }

  @media screen and (max-width: 800px) {
    .about-section-content {
      flex-direction: column;

      .about-section-left {
        flex: 1 1 100%;
        order: 2;

        .mat-expansion-panel {
          .mat-expansion-panel-header-title {
            font-size: 1.2rem;
            line-height: 1.2rem;
          }
        }
      }

      .about-section-right {
        flex: 1 1 100%;
        min-height: 300px;
        order: 1;
      }
    }
  }
}

.knowledge-base-section {
  padding-top: 5rem;
  background: var(--background-dark);

  .knowledge-base-section-content {
    padding: 24px 24px 0 24px;
    max-width: 1200px;
    margin: 0 auto;
  }

  .knowledge-base-articles {
    display: flex;
    flex-direction: column;
    align-items: center;

    .view-all-button {
      color: #d9e2ff;
    }
  }

  .knowledge-base-articles-card {
    color: #d9e2ff;
    background: #18325d;
    border-radius: 20px;
    display: flex;

    max-width: calc(1000px - 48px);
    margin: 0 auto;
    margin-bottom: 2rem;
    overflow: hidden;

    .knowledge-base-articles-card-image {
      flex: 1 0 80px;
      position: relative;
      img {
        object-fit: cover;
        width: 100%;
        height: 100%;
      }
    }

    .knowledge-base-articles-card-content {
      flex: 5;
      padding: 1rem;

      h4 {
        margin-top: 0;
        font-size: 1.2rem;
      }

      p {
        line-height: 1.2rem;
      }

      a {
        margin-top: 1rem;
        color: #d9e2ff;
      }
    }
  }

  h3 {
    color: #bfc6dc;
    text-align: center;
    margin-bottom: 4rem;
    font-size: 1.7rem;
  }
}

.subtitle {
  font-size: 1.1rem;
  line-height: 1.5;
  color: var(--landing-text-color);
  max-width: 800px;
  text-align: center;
  margin: 0 auto;
  margin: 3rem auto;
  margin-top: -1rem;

  @media (max-width: 768px) {
    font-size: 1rem;
    margin: 0.5rem 0 1rem;
  }
}
