<section class="hero-header-section">
  <div class="hero-header">
    <div class="header-intro">
      <h1>
        Real-time online planning poker<br />
        for remote scrum teams
      </h1>
      <p>Better estimation sessions for the whole team.</p>
      <div>
        <button
          mat-flat-button
          [routerLink]="'/create'"
          class="start-planning-btn"
        >
          Start Planning
        </button>
      </div>

      <div class="used-by">
        Trusted by teams at hundreds of companies, including:
        <ul class="logo-list">
          <li><img src="/assets/logos/prezi.svg" alt="Prezi logo" /></li>
          <li><img src="/assets/logos/netflix.svg" alt="Netflix logo" /></li>
        </ul>
      </div>
    </div>
    <div class="header-cards">
      <img src="/assets/header_cards.png" />
    </div>
  </div>
</section>
<section class="features-section">
  <div class="features-content">
    <h2>All the features you need for a smooth planning session</h2>
    <div class="features-grid">
      <div class="feature-card wide">
        <h3>Easy-to-use and accessible UI</h3>
      </div>
      <div class="feature-card">
        <h3>Manage rounds and download results</h3>
      </div>
      <div class="feature-card">
        <h3>Use any kind of card set</h3>
        <img src="/assets/card_set.png" />
      </div>
      <div class="feature-card wide">
        <h3>Available on the web and as a Zoom App</h3>
        <img src="/assets/zoom_app.png" />
      </div>
    </div>
  </div>
</section>
<section class="demo-video-section">
  <div class="demo-video-section-content">
    <h2>Create your room in seconds and customize it to your team</h2>
    <div class="video-container">
      <video #video loop muted (loadedmetadata)="video.muted = true">
        <source
          src="https://storage.googleapis.com/card-estimator.appspot.com/landing_video.mp4"
          type="video/mp4"
        />
      </video>
      <button
        mat-fab
        color="primary"
        aria-label="Play demo video"
        (click)="video.play()"
        [class.hidden]="!video.paused"
      >
        <mat-icon>play_arrow</mat-icon>
      </button>
    </div>
    <div class="steps-container">
      <mat-tab-group dynamicHeight>
        <mat-tab label="Get ready"
          ><div class="step-content">
            <p>
              The team lead or SCRUM Master prepares the agenda for the meeting
              and selects items from the backlog.
            </p>
          </div>
        </mat-tab>
        <mat-tab label="Create room and invite others"
          ><div class="step-content">
            <p>
              The leader creates a room on planningpoker.live and invites
              colleagues to join. Just copy the invite link to the clipboard and
              send it to your colleagues.
            </p>
          </div>
        </mat-tab>
        <mat-tab label="Set cards and manage rounds"
          ><div class="step-content">
            <p>
              You can discuss topics from the backlog ad-hoc or create the
              agenda before the meeting starts in the topics sidebar.
            </p>
          </div>
        </mat-tab>
        <mat-tab label="Vote and find consensus"
          ><div class="step-content">
            <p>
              Each member votes on the active topic and the leader reveals the
              results. The group discusses the result and finds consensus. Use
              the countdown timer to make sure everybody stays on time.
            </p>
          </div>
        </mat-tab>
      </mat-tab-group>
    </div>
  </div>
</section>
<section class="about-section">
  <div class="about-section-content">
    <div class="about-section-left">
      <mat-accordion multi>
        <mat-expansion-panel [expanded]="true" disabled hideToggle>
          <mat-expansion-panel-header>
            <mat-panel-title> What is Planning Poker? </mat-panel-title>
          </mat-expansion-panel-header>
          <p>
            Planning poker, also called SCRUM poker or pointing poker, is a
            consensus-based, gamified technique for estimating, mostly used to
            estimate effort or relative size of development goals in software
            development.
          </p>
        </mat-expansion-panel>
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>How to play?</mat-panel-title>
          </mat-expansion-panel-header>
          <p>
            In planning poker, members of the group make estimates by playing
            numbered cards face-down to the table, instead of speaking them
            aloud. The cards are revealed, and the estimates are then discussed.
            By hiding the figures in this way, the group can avoid the cognitive
            bias of anchoring, where the first number spoken aloud sets a
            precedent for subsequent estimates.
          </p>
          <p>
            When played online, members are together in a real-time estimation
            "room" or "session" and their cards are displayed on the screen. The
            same rules are applied, but everything is more convenient and
            automated.
          </p>
        </mat-expansion-panel>
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>About this app</mat-panel-title>
          </mat-expansion-panel-header>
        </mat-expansion-panel>
      </mat-accordion>
      <div class="made-by">
        <p>Developed & Designed by:</p>
        <div class="authors">
          <a
            class="made-by-box"
            href="https://github.com/biharygergo"
            rel="noopener"
            ><img
              class="made-by-img"
              src="/assets/gergely-bihary.png"
              alt="A profile picture of Gergely Bihary"
            />
            Gergely Bihary</a
          >
          <a
            class="made-by-box"
            href="https://github.com/biharygergo"
            rel="noopener"
            ><img
              class="made-by-img"
              src="/assets/kristof_nagy.jpeg"
              alt="A profile picture of Kristóf Nagy"
            />
            Kristóf Nagy</a
          >
        </div>
      </div>
    </div>
    <div class="about-section-right">
      <img src="/assets/meeting_table.png" />
    </div>
  </div>
</section>
