<h1 mat-dialog-title class="dialog-title">Batch import</h1>
<div mat-dialog-content>
  <p class="disclaimer">
    Import multiple issues from your selected task management solution. Toggle
    the selection to adjust the order of issues when voting.
  </p>
  <div class="tab-content">
    @if(hasActiveIntegration()) {

    <div class="tab-section">
      <div class="issue-search" [formGroup]="searchForm">
        <mat-form-field appearance="outline" subscriptSizing="dynamic">
          <input
            matInput
            placeholder="Enter issue filter"
            formControlName="query"
          />
          <mat-label>Filter</mat-label>
        </mat-form-field>
      </div>
      <button mat-stroked-button (click)="onSubmitSearch.next()">Search</button>
      <button
        mat-button
        (click)="onClearSearch.next()"
        [disabled]="!isSearchShown()"
      >
        Clear
      </button>
    </div>
    <div class="tab-section">
      <div class="results">
        <mat-chip-option
          [selected]="isOnlySelectedToggled()"
          (selectionChange)="
            isOnlySelectedToggled.set(!isOnlySelectedToggled())
          "
          >Show selected issues</mat-chip-option
        >

        @if(isLoading()) {
        <mat-progress-spinner
          mode="indeterminate"
          [diameter]="30"
          class="spinner"
        />
        } @else {
        <h4>{{ visibleIssues().label }}</h4>
        @if(visibleIssues().subtitle) {
        <p>{{ visibleIssues().subtitle }}</p>
        }

        <div
          cdkDropList
          (cdkDropListDropped)="drop($event)"
          [cdkDropListDisabled]="!isOnlySelectedToggled()"
        >
          @for(issue of visibleIssues().issues; track issue.key) {
          <div class="issue-container" cdkDrag>
            <mat-accordion class="issue-box">
              <mat-expansion-panel class="issue-box--panel">
                <mat-expansion-panel-header class="issue-box--panel-header">
                  <div class="issue-box--content">
                    <div class="issue-box--checkmark">
                      <mat-checkbox
                        [checked]="selectedIssueIdsMap[issue.key]"
                        (change)="toggleSelectedIssue(issue)"
                        (click)="$event.stopPropagation()"
                      />
                    </div>
                    <span class="issue-title">{{ issue.summary }}</span>
                  </div>
                </mat-expansion-panel-header>
                <ng-template matExpansionPanelContent>
                  <app-rich-topic
                    [richTopic]="issue"
                    [hideUploadButton]="true"
                  />
                </ng-template>
              </mat-expansion-panel>
            </mat-accordion>
          </div>
          } @empty {
          <p>{{ visibleIssues().empty }}</p>
          }
        </div>
        }
      </div>
    </div>
    } @else {
    <div class="tab-section">
      <p>Connect your account with Jira or Linear to import issues.</p>
      <div class="cta-buttons">
        <button mat-button>Connect to Jira</button>
        <button mat-button>Connect to Linear</button>
      </div>
    </div>
    }
  </div>
</div>
<mat-dialog-actions>
  <span class="selected-issues-text">
    {{ selectedIssues().length | i18nPlural : issuesPlural }}
  </span>
  <button mat-button matDialogClose cdkFocusInitial>Cancel</button>
  <button
    mat-flat-button
    cdkFocusInitial
    [disabled]="selectedIssues().length === 0 || isSubmitting()"
    (click)="onSubmitImport.next()"
  >
    Import
  </button>
</mat-dialog-actions>
