@import '../../common.scss';

.issue-search {
  mat-form-field {
    width: 100%;
    margin-bottom: 0.5rem;
  }
}

.results {
  .issue-box {
    width: 100%;
    --mat-expansion-header-expanded-state-height: 50px;

    ::ng-deep .mat-expansion-panel-body {
      padding: 8px;
    }

    &--panel {
      margin-bottom: 0.5rem;
    }

    &--panel-header {
      padding: 0px 8px;
      padding-right: 20px;
    }

    &--content {
      display: flex;
      align-items: center;
      width: 100%;
    }
  }
}

.selected-issues-text {
  color: var(--mat-card-subtitle-text-color);
  margin-right: auto;
}

.spinner {
  margin: 2rem auto;
}

.cdk-drag-preview {
  border-radius: 16px;
  box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
    0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12);

  .issue-box--content {
    display: flex;
    align-items: center;
    width: 100%;
  }

  .issue-box--panel-header {
    padding: 0px 8px;
    padding-right: 20px;
  }
}

.cdk-drag-placeholder {
  opacity: 0;
}

.cdk-drag-animating {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.cdk-drop-list-dragging .issue-container:not(.cdk-drag-placeholder) {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.issue-title {
  text-overflow: ellipsis;
  white-space: nowrap;
  max-width: 80%;
  overflow: hidden;
}

.filter-chips-container {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
  margin-bottom: 0.5rem;

  .filter-chip {
    display: flex;
    background: var(--mdc-chip-elevated-selected-container-color);
    border: 1px solid var(--mdc-chip-elevated-selected-container-color);
    border-radius: 24px;
    overflow: hidden;
    font-size: 13px;

    &__label {
      font-weight: 500;
      padding: 6px 16px;
      text-align: center;
      border-right: 1px solid rgba(0, 0, 0, 0.12);
      display: flex;
      align-items: center;
    }

    &__comparator {
      font-weight: 500;
      padding: 6px;
      text-align: center;
      border-right: 1px solid rgba(0, 0, 0, 0.12);
      display: flex;
      align-items: center;
    }

    &__input {
      display: flex;
      align-items: center;
      input {
        width: 130px;
        border-top-right-radius: 24px;
        border-bottom-right-radius: 24px;
        padding: 6px 8px;
        height: 100%;
        border: none;
        background: var(--mdc-chip-elevated-selected-container-color);
        color: var(--mdc-dialog-supporting-text-color);
        font-family: 'Roboto';
        font-weight: 500;
        font-size: 13px;
      }
    }

    @include extraSmallScreen {
      &__label {
        padding: 4px 8px;
        text-overflow: ellipsis;
        overflow: hidden;
        font-size: 12px;
      }

      &__comparator, &__input input {
        padding: 4px;
        font-size: 12px;
      }
    } 
  }
}

.load-more-button {
  display: block;
  margin: 0.5rem auto;
}
