.round-history-container {
  mat-card {
    margin: 1rem;
  }

  .card-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 8px;
  }

  .round-title {
    display: flex;
    align-items: center;
    gap: 16px;
  }
}

.sidenav-header {
  padding: 1rem;
  background: var(--main-color);
  color: white;
}

.sidenav-actions {
  margin-top: -10px;
  background: var(--light-background-color);
  padding: 1rem;
  display: flex;
  gap: 8px;
  align-items: center;
  justify-content: flex-end;
}

.add-round-container {
  padding: 16px;

  &.update-round {
    padding-top: 0;
  }
}

.add-round-button {
  width: 100%;
  background-color: var(--main-color);
}

.blob {
  background: black;
  border-radius: 50%;
  box-shadow: 0 0 0 0 rgba(0, 0, 0, 1);
  height: 10px;
  width: 10px;
  transform: scale(1);
  animation: pulse-black 2s infinite;
  flex-shrink: 0;
}

.blob.green {
  background: rgba(51, 217, 178, 1);
  box-shadow: 0 0 0 0 rgba(51, 217, 178, 1);
  animation: pulse-green 2s infinite;
}

@keyframes pulse-green {
  0% {
    transform: scale(0.95);
    box-shadow: 0 0 0 0 rgba(51, 217, 178, 0.7);
  }

  70% {
    transform: scale(1);
    box-shadow: 0 0 0 10px rgba(51, 217, 178, 0);
  }

  100% {
    transform: scale(0.95);
    box-shadow: 0 0 0 0 rgba(51, 217, 178, 0);
  }
}

.card-round-result {
  .result-container {
    border-radius: 4px;
    background-color: var(--main-color);
    color: white;
    padding: 3px 6px;
    font-weight: 500;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.flat-accordion {
  cursor: initial;
  box-shadow: none;
  border-radius: 4px !important;

  &.mat-expanded {
    background: #efefef;
  }
}

.expansion-panel-action-row {
  border: none;

  button {
    background: white;
  }
}

.card-round-number {
  color: #001A43;
  font-weight: bold;
  font-size: 0.8rem;
  display: flex;
  align-items: center;
  gap: 0.5rem;

  mat-icon {
    color: #001A43;
    font-size: 0.8rem;
    height: 0.8rem;
    width: 0.8rem;
  }
}

.topic-card {
  cursor: pointer;
  transition: border-color 100ms linear;

  &:hover {
    border-color: var(--main-color);
  }
}