@import "../../common.scss";

.card-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 8px;
}

.round-title {
  display: flex;
  align-items: center;
  gap: 16px;
}

.sidenav-header {
  padding: 1rem;
  background: var(--main-color);
  color: white;
}

.sidenav-actions {
  margin-top: -5px;
  background: var(--light-background-color);
  padding: 1rem;
  display: flex;
  gap: 8px;
  align-items: center;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.add-round-container {
  padding: 16px;

  &.update-round {
    padding-top: 0;
  }
}

.add-round-button {
  width: 100%;
  background-color: var(--main-color);

  &:disabled {
    color: white;
    opacity: 0.5;
  }
}

@keyframes pulse-green {
  0% {
    transform: scale(0.95);
    box-shadow: 0 0 0 0 rgba(51, 217, 178, 0.7);
  }

  70% {
    transform: scale(1);
    box-shadow: 0 0 0 10px rgba(51, 217, 178, 0);
  }

  100% {
    transform: scale(0.95);
    box-shadow: 0 0 0 0 rgba(51, 217, 178, 0);
  }
}

.card-round-result {
  .result-container {
    border-radius: 4px;
    background-color: var(--main-color);
    color: white;
    padding: 3px 6px;
    font-weight: 500;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.flat-accordion {
  cursor: initial;
  box-shadow: none;
  border-radius: 4px !important;

  &.mat-expanded {
    background: var(--on-light-background-color);
  }

  ::ng-deep .mat-expansion-panel-body {
    @include extraSmallScreen {
      padding: 0.5rem;
    }
  }
}

.panel-content {
  padding-top: 16px;
}

.expansion-panel-action-row {
  border: none;

  button {
    background: var(--background-light);
  }
}

.card-round-number {
  font-weight: bold;
  font-size: 0.8rem;
  display: flex;
  align-items: center;
  gap: 0.5rem;

  mat-icon {
    font-size: 1rem;
    height: 1rem;
    width: 1rem;
  }

  .active-round {
    color: var(--accent-color);
  }
}

.topic-card {
  cursor: pointer;
  transition: border 100ms linear;
  margin: 1rem;

  @include extraSmallScreen {
    margin: 0.5rem;
  }

  &:hover {
    border-color: var(--main-color);
  }
}

.cdk-drag-preview {
  box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
    0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12);

  .active-round {
    display: none;
  }
}

.cdk-drag-placeholder {
  opacity: 0;
}

.cdk-drag-animating {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.round-history-container.cdk-drop-list-dragging
  .topic-card:not(.cdk-drag-placeholder) {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}
