<app-velocity [roomId]="room?.roomId" *ngIf="!!room?.roomId"></app-velocity>
<div class="sidenav-actions">
  <button mat-stroked-button (click)="openSummaryModal()">
    <mat-icon>auto_fix_normal</mat-icon>
    AI Summary
  </button>
  <button mat-stroked-button (click)="openBatchAddModal()">
    <mat-icon>library_add</mat-icon>
    Batch add
  </button>
  <div
    [matTooltip]="
      config.runningIn === 'zoom'
        ? 'Downloading results is only available on the web version of the app.'
        : ''
    "
  >
    <button
      mat-stroked-button
      aria-label="Download results as .csv"
      (click)="downloadAsCsv()"
      [disabled]="
        rounds.length <= 1 ||
        config.runningIn === 'zoom' ||
        !(permissionsService.canDownloadResults() | async)
      "
    >
      <mat-icon>download_for_offline</mat-icon>
      Download
    </button>
  </div>
</div>
<div class="round-history-container">
  <ng-container *ngFor="let round of rounds; let roundNumber = index">
    <mat-card
      appearance="outlined"
      class="topic-card"
      *ngIf="(editedRound | async)?.round.id !== round.id; else editRoundCard"
      (click)="detailsPanel.toggle()"
      (keyup.enter)="detailsPanel.toggle()"
      tabindex="0"
    >
      <mat-card-content>
        <div class="card-header">
          <span class="card-round-number">
            #{{ roundNumber + 1 }}
            <mat-icon
              [matTooltip]="
                round.show_results
                  ? 'Results revealed'
                  : 'Results not yet revealed'
              "
              >{{
                round.show_results ? "visibility" : "visibility_off"
              }}</mat-icon
            >
          </span>

          <button
            mat-icon-button
            [matMenuTriggerFor]="menu"
            (click)="$event.stopPropagation()"
          >
            <mat-icon>more_vert</mat-icon>
          </button>
          <mat-menu #menu="matMenu">
            <button
              mat-menu-item
              aria-label="View the results of the given round"
              (click)="detailsPanel.toggle(); $event.stopPropagation()"
            >
              <mat-icon>unfold_more</mat-icon>
              {{ detailsPanel.expanded ? "Collapse" : "Expand" }}
            </button>
            <button
              mat-menu-item
              aria-label="Set selected round as active"
              (click)="setActiveRound(roundNumber)"
              [disabled]="
                roundNumber === currentRound ||
                !(permissionsService.canCreateRounds() | async)
              "
            >
              <mat-icon>play_arrow</mat-icon>
              Vote now
            </button>
            <button
              mat-menu-item
              aria-label="Edit topic name of round"
              (click)="editedRound.next({round, roundIndex: roundNumber})"
              [disabled]="!(permissionsService.canEditTopic() | async)"
            >
              <mat-icon>edit</mat-icon>
              Edit topic
            </button>
            <button
              mat-menu-item
              aria-label="Revote selected round"
              (click)="revoteRound(roundNumber)"
              [disabled]="!(permissionsService.canCreateRounds() | async)"
            >
              <mat-icon>clear_all</mat-icon>
              Clear votes
            </button>

            <mat-divider></mat-divider>
            <button
              mat-menu-item
              aria-label="Delete round"
              (click)="deleteRound(roundNumber)"
              [disabled]="
                !(permissionsService.canEditTopic() | async) ||
                (roundNumber === 0 && rounds.length === 1)
              "
            >
              <mat-icon>delete</mat-icon>
              Delete round
            </button>
          </mat-menu>
        </div>

        <h3 class="round-title" [class.active]="roundNumber === currentRound">
          <div class="blob green" *ngIf="roundNumber === currentRound"></div>
          {{ round.topic }}
        </h3>

        <mat-expansion-panel
          class="flat-accordion"
          (click)="$event.stopPropagation()"
          #detailsPanel
        >
          <ng-template matExpansionPanelContent>
            <div class="panel-content">
              <app-rich-topic
                [richTopic]="round.richTopic"
                [roundStatistics]="roundStatistics?.[roundNumber]"
                [selectedEstimationCardSetValue]="
                  selectedEstimationCardSetValue
                "
              ></app-rich-topic>
              <app-round-results
                [room]="room"
                [roundStatistics]="roundStatistics"
                [members]="room.members"
                [currentRound]="roundNumber"
                [selectedEstimationCardSetValue]="
                  selectedEstimationCardSetValue
                "
              >
              </app-round-results>

              <h3 matSubheader>Notes</h3>
              <div class="note-wrapper">
                <p [innerText]="round.notes?.note || 'No notes taken.'"></p>
              </div>
            </div>
          </ng-template>
        </mat-expansion-panel>
      </mat-card-content>
    </mat-card>
    <ng-template #editRoundCard>
      <div
        class="add-round-container update-round"
        *ngIf="editedRound | async as roundInfo"
      >
        <add-or-update-topic
          [roundNumber]="roundInfo.roundIndex + 1"
          [topicInput]="{
            topic: roundInfo.round.topic || '',
            richTopic: roundInfo.round.richTopic
          }"
          (onSaveOrUpdate)="updateRoundConfirmed($event)"
          (onCancel)="editedRound.next(undefined)"
        ></add-or-update-topic>
      </div>
    </ng-template>
  </ng-container>
  <div class="add-round-container">
    <button
      mat-flat-button
      color="primary"
      (click)="addRound()"
      *ngIf="!isAddingRound"
      class="add-round-button"
      [disabled]="!(permissionsService.canCreateRounds() | async)"
    >
      <mat-icon>add</mat-icon>
      Add round
    </button>
    <add-or-update-topic
      *ngIf="isAddingRound"
      [topicInput]="{ topic: '' }"
      [roundNumber]="rounds.length + 1"
      (onSaveOrUpdate)="addRoundConfirmed($event)"
      (onCancel)="cancelAddingRound()"
    >
    </add-or-update-topic>
  </div>
</div>
