<app-page-header title="Frequently Asked Questions"></app-page-header>
<main>
  <div class="faq-rows">
    @for (category of categories; track category.category) {
      <div class="faq-category">
        <div class="category-title">
          <h2>{{ category.category }}</h2>
        </div>
        <mat-accordion multi class="category-answers">
          @for (faq of category.faqs; track faq.question) {
            <app-faq-row [question]="faq.question" [answer]="faq.answer" />
          }
        </mat-accordion>
      </div>
    }
  </div>
  <div class="cta-wrapper">
    <start-planning-cta></start-planning-cta>
  </div>
</main>
<app-carbon-ad placement="landing" />
