main {
  padding: 50px 10%;

  .faq-category {
    display: flex;
    margin-bottom: 3rem;

    .category-title {
      width: 300px;
      padding-top: 0.5rem;
      flex-shrink: 0;
      color: white;
      h2 {
        font-size: 2rem;
      }
    }

    .category-answers {
      flex: 4;
    }

    @media screen and (max-width: 800px) {
      flex-direction: column;
    }
  }

  .faq-rows {
    max-width: 1200px;
    margin: 0 auto;
  }

  .mat-expansion-panel-spacing {
    margin: 0 0;
  }
}

.cta-wrapper {
  max-width: 1200px;
  margin: 0 auto;
  border-radius: 20px;
  overflow: hidden;
}
