<app-page-header title="Frequently Asked Questions"></app-page-header>
<main>
  <div class="faq-rows">
    @for (category of categories; track category.category) {
      <div class="faq-category">
        <div class="category-title">
          <h2>{{ category.category }}</h2>
        </div>
        <mat-accordion multi class="category-answers">
          @for (faq of category.faqs; track faq.question) {
            <mat-expansion-panel>
              <mat-expansion-panel-header>
                <mat-panel-title>{{ faq.question }}</mat-panel-title>
              </mat-expansion-panel-header>
              <p [innerHtml]="faq.answer"></p>
            </mat-expansion-panel>
          }
        </mat-accordion>
      </div>
    }
  </div>
  <div class="cta-wrapper">
    <start-planning-cta></start-planning-cta>
  </div>
</main>
<app-carbon-ad placement="landing" />
