<form>
  <mat-form-field appearance="outline" color="accent" subscriptSizing="dynamic">
    <mat-label>Notes</mat-label>
    <textarea
      matInput
      placeholder="Ex. Jane will help Joe implement foo()"
      [formControl]="noteValue"
      (blur)="onNoteBlur()"
      (focus)="onNoteFocus()"
      cdkTextareaAutosize
      id="notes-field"
    ></textarea>
    @if (isNoteDisabled && editedBy) {
      <mat-hint
        >{{ editedBy?.name || "Nobody" }} is taking notes</mat-hint
        >
      }
      @if (isCurrentUserEditing) {
        <mat-hint>Your notes are shared with everyone in the room</mat-hint>
      }
    </mat-form-field>
  </form>
  