<form>
  <mat-form-field appearance="outline" color="accent" subscriptSizing="dynamic">
    <mat-label>Notes</mat-label>
    <textarea
      matInput
      placeholder="Ex. Jane will help Joe implement foo()"
      [formControl]="noteValue"
      (blur)="onNoteBlur()"
      (focus)="onNoteFocus()"
      cdkTextareaAutosize
      id="notes-field"
    ></textarea>
    <mat-hint *ngIf="isNoteDisabled && editedBy"
      >{{ editedBy?.name || "Nobody" }} is taking notes</mat-hint
    >
    <mat-hint *ngIf="isCurrentUserEditing">Your notes are shared with everyone in the room</mat-hint>
  </mat-form-field>
</form>
