<mat-sidenav-container class="sidenav-container">
  <mat-sidenav-content class="sidenav-content">
    <div class="navbar">
      <div class="navbar-left">
        <app-profile-dropdown class="profile-dropdown"></app-profile-dropdown>
      </div>
      <div class="navbar-right">
        <button
          mat-flat-button
          color="primary"
          aria-label="Toggle topics sidebar"
          (click)="sidenav.toggle()"
          class="topics-toggle"
          [matBadge]="rounds.length"
          matBadgePosition="after"
          matBadgeColor="accent"
          size="small"
        >
          <mat-icon>format_list_numbered</mat-icon>
          Manage rounds
        </button>
      </div>
    </div>
    <div class="room-container">
      <div class="meta-container">
        <mat-card appearance="outlined" class="topic-container">
          <mat-card-content (click)="onTopicClicked()">
            <h2 *ngIf="!isEditingTopic">
              {{ room?.rounds[currentRound].topic }}
              <button mat-stroked-button>
                <mat-icon>edit</mat-icon>
                Edit topic
              </button>
            </h2>
            <input
              placeholder="Add a JIRA ticket or a short description of the current round"
              [formControl]="roundTopic"
              (blur)="topicBlur()"
              class="topic-input"
              *ngIf="isEditingTopic"
              #topicInput
              autofocus
              (keyup.enter)="topicBlur()"
            />
          </mat-card-content>
        </mat-card>
        <mat-card
          appearance="outlined"
          class="members-card"
          resizeMonitor
          [verticalSpacing]="0"
        >
          <div>
            <mat-card-content>
              <app-round-results
                [room]="room"
                [roundStatistics]="roundStatistics"
                [members]="members$ | async"
                [currentRound]="currentRound"
                [selectedEstimationCardSetValue]="
                  selectedEstimationCardSetValue
                "
                [userProfiles$]="userProfiles$"
              >
              </app-round-results>
            </mat-card-content>
            <div class="card-footer-actions extra-padding">
              <app-notes-field [room]="room"></app-notes-field>
            </div>
          </div>
        </mat-card>
      </div>
      <app-card-deck
        [room]="room"
        [currentRound]="currentRound"
        [isObserver]="isObserver"
        [estimationValues]="estimationValues"
        [currentEstimate]="currentEstimate"
      ></app-card-deck>
      <div class="estimate-container">
        <mat-card appearance="outlined">
          <div class="action-buttons-container">
            <button
              mat-flat-button
              color="primary"
              (click)="newRound()"
              *ngIf="currentRound === rounds.length - 1"
            >
              <div class="center-icon-button">
                <mat-icon>add</mat-icon>
                New Round
              </div>
            </button>
            <button
              mat-flat-button
              color="primary"
              (click)="nextRound()"
              *ngIf="currentRound < rounds.length - 1"
            >
              <div class="center-icon-button">
                <mat-icon>navigate_next</mat-icon>
                Next Round
              </div>
            </button>
            <button
              mat-stroked-button
              color="primary"
              (click)="showResults()"
              [disabled]="(room?.rounds)[currentRound]?.show_results"
            >
              <div class="center-icon-button">
                <mat-icon>visibility</mat-icon>
                Reveal Votes
              </div>
            </button>
          </div>
          <mat-card-footer class="room-id-container">
            <h4>
              <span
                >Room ID: <strong>{{ room?.roomId }}</strong></span
              >
              <button mat-stroked-button color="primary" (click)="copyRoomId()">
                <mat-icon>link</mat-icon>
                Invite
              </button>
            </h4>
          </mat-card-footer>
          <mat-card-footer class="card-footer-actions">
            <countdown-timer [room]="room$"></countdown-timer>
          </mat-card-footer>
          <mat-card-footer class="card-footer-actions align-right">
            <button mat-stroked-button color="warn" (click)="leaveRoom()">
              <mat-icon>exit_to_app</mat-icon>
              Leave
            </button>
            <button
              mat-stroked-button
              (click)="toggleMute()"
            >
              <mat-icon>{{ isMuted ? 'volume_mute' : 'volume_up'}}</mat-icon>
              {{ isMuted ? "Muted" : "Sound" }}
            </button>

            <button
              mat-stroked-button
              [matMenuTriggerFor]="menu"
              aria-label="Estimator settings"
              class="estimator-settings-button"
              (click)="clickedUnitsButton()"
            >
              <mat-icon>style</mat-icon>
              Set cards
            </button>
            <mat-menu #menu="matMenu">
              <button
                mat-menu-item
                *ngFor="let cardSet of estimationCardSets"
                (click)="setEstimationCardSet(cardSet.key)"
                [ngClass]="
                  selectedEstimationCardSetValue.key === cardSet.key &&
                  'selected'
                "
              >
                <mat-icon>{{ cardSet.icon }}</mat-icon>
                <span class="card-set-title"
                  >{{ cardSet.title }} ({{
                    getCardSetDisplayValues(cardSet)
                  }})</span
                >
              </button>
              <mat-divider></mat-divider>

              <button mat-menu-item (click)="openAddCardDeckModal()">
                <mat-icon>add</mat-icon>
                <span>Set a custom card deck</span>
              </button>
            </mat-menu>
          </mat-card-footer>
        </mat-card>
        <anonymous-user-banner
          [hideable]="true"
          *ngIf="(sessionCount$ | async) > 1"
        ></anonymous-user-banner>
      </div>

      <app-github-badge *ngIf="!config.isRunningInZoom"></app-github-badge>
    </div>
  </mat-sidenav-content>
  <mat-sidenav #sidenav [mode]="'over'" position="end" class="topics-sidenav">
    <app-topics-sidebar
      [room]="room"
      [rounds]="rounds"
      [selectedEstimationCardSetValue]="selectedEstimationCardSetValue"
      [currentRound]="currentRound"
      [roundStatistics]="roundStatistics"
    ></app-topics-sidebar>
  </mat-sidenav>
</mat-sidenav-container>
