.sidenav-container {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.sidenav-content {
  background: var(--main-color);
}

.topics-sidenav {
  width: 400px;
  background: #efefef;
}

.room-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0.5rem;
  flex-wrap: wrap;

  @media screen and (min-width: 800px) {
    padding: 2rem;
  }
}

.meta-container {
  margin: 0.5rem;
  display: flex;
  flex-direction: column;
  flex-basis: 100%;

  @media screen and (min-width: 800px) {
    flex: 1;
  }
}

.estimate-container {
  margin: 0.5rem;
  flex-basis: 100%;
  display: flex;
  flex-direction: column;

  @media screen and (min-width: 800px) {
    flex: 1;
  }
}

.members-card {
  margin-top: 2rem;
}

.avatar {
  background: #f5a115;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-weight: bold;
}

.member {
  display: flex !important;
  flex-direction: row;
  justify-content: space-between;
}

.action-buttons-container {
  display: flex;
  flex-direction: row;
  height: 68px;
  button {
    flex: 1;
    background: #f5a115;
    color: white;
    &:not(:last-child) {
      margin-right: 1rem;
    }
    &:disabled {
      background-color: lightgray;
    }
  }
}

.estimator-buttons {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-top: 2rem;

  .estimator-button-container {
    width: 33.333%;
    display: flex;
    button {
      margin: 0 0.3rem 0.5rem 0.3rem;
      flex: 1;
      height: 100px;
      font-size: 1.3rem;
      font-weight: 400;
      &:disabled {
        background-color: white;
      }
    }
  }
}

.card-footer {
  padding: 1rem;
  border-top: 0.5px solid lightgrey;
  h3 {
    margin: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;

    small {
      cursor: pointer;
      color: #f5a115;

      &:hover {
        font-weight: bold;
      }
    }
  }
}

.card-footer-actions {
  margin-top: 1rem;
  border-top: 0.5px solid lightgrey;
  padding: 1rem;
  display: flex;
  justify-content: flex-end;

  button:not(:last-of-type) {
    margin-right: 0.5rem;
  }

  &.extra-padding {
    padding-bottom: 2rem;
  }
}

.topic-input {
  width: 100%;
  border: none;
  border-bottom: 1px solid lightgray;
  font-size: 20px;
  font-family: inherit;
  height: 32px;

  &:focus {
    outline: none;
  }
}

.topic-container {
  h2 {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  mat-card-subtitle {
    margin-bottom: 0;
  }
}

.mat-card-header-text {
  margin: 0;
}

.round-history-container {
  margin-top: 2rem;
}

.ad-explainer {
  margin: 1rem 0.3rem;
  margin-bottom: 0;
  display: flex;
  justify-content: flex-end;

  span {
    color: white;
    font-size: 0.8rem;
    cursor: pointer;
    user-select: none;
  }
}
.ad-container {
  margin-top: 0.2rem;
  min-height: 90px;

  .mat-card {
    height: 100%;
    padding: 0;
  }
}

.statistic {
  display: flex !important;
  flex-direction: row;
  justify-content: space-between;

  span {
    color: #f5a115;
  }
}

.mat-menu-item.selected {
  .mat-icon {
    color: #f5a115;
  }
}

.flat-accordion {
  box-shadow: none;
  border-radius: 4px !important;

  &.mat-expanded {
    background: #efefef;
  }
}

.expansion-panel-action-row {
  border: none;

  button {
    background: white;
  }
}

.active-badge {
  border-radius: 4px;
  background-color: #f5a115;
  color: white;
  padding: 1px 6px;
  margin-left: 8px;
  font-size: 12px;
  line-height: 12px;
  display: flex;
  align-items: center;
}

.result-container {
  margin-right: 4px;
  border-radius: 4px;
  background-color: #f5a115;
  color: white;
  padding: 1px 6px;
  margin-left: 8px;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
}

.note-wrapper {
  padding: 0px 16px;
}

.round-history-container {
  mat-card {
    margin: 1rem;
  }

  .card-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 8px;
  }

  .mat-menu-trigger {
    height: 30px;
    width: 30px;
    line-height: 30px;

    .mat-icon {
      font-size: 20px;
      line-height: 20px;
    }
  }

  .round-title {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}

.sidenav-actions {
  padding: 1rem 1rem 0 1rem;
  display: flex;
  gap: 8px;
  align-items: center;
  justify-content: flex-end;
}

.flat-card {
  box-shadow: none;
}

.card-round-number {
  color: var(--main-dark-color);
  opacity: 0.8;
  font-size: 0.7rem;
}

.blob {
  background: black;
  border-radius: 50%;
  box-shadow: 0 0 0 0 rgba(0, 0, 0, 1);
  margin-left: 10px;
  margin-right: 8px;
  height: 10px;
  width: 10px;
  transform: scale(1);
  animation: pulse-black 2s infinite;
  flex-shrink: 0;
}

.blob.green {
  background: rgba(51, 217, 178, 1);
  box-shadow: 0 0 0 0 rgba(51, 217, 178, 1);
  animation: pulse-green 2s infinite;
}

@keyframes pulse-green {
  0% {
    transform: scale(0.95);
    box-shadow: 0 0 0 0 rgba(51, 217, 178, 0.7);
  }
  
  70% {
    transform: scale(1);
    box-shadow: 0 0 0 10px rgba(51, 217, 178, 0);
  }
  
  100% {
    transform: scale(0.95);
    box-shadow: 0 0 0 0 rgba(51, 217, 178, 0);
  }
}
