@import "../common.scss";

.sidenav-container {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.unlock-features-button {
  --mdc-outlined-button-outline-color: white !important;
  --mdc-outlined-button-label-text-color: white !important;
}

@keyframes backgroundTransition {
  100% {
    background: var(--main-color);
  }
}

.sidenav-content {
  background: var(--main-color);

  animation: backgroundTransition 300ms;
  animation-fill-mode: forwards;
}

.topics-sidenav {
  width: min(90%, 450px);
}

.room-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  max-width: 1400px;
  margin: 0 auto;

  padding: 1rem 2rem 200px 2rem;

  @media screen and (max-width: 800px) {
    padding: 0.5rem;
  }
}

.meta-container {
  margin: 0.5rem;
  display: flex;
  flex-direction: column;
  flex: 2 1 60%;

  @media screen and (max-width: 800px) {
    flex: 1 1;
  }

  @include extraSmallScreen {
    margin: 0;
  }
}

.estimate-container {
  margin: 0.5rem;
  margin-bottom: 1rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  flex: 1 1 33%;

  &.minimized {
    flex: 0 0 50px;
    transition: flex 200ms ease-out;
  }

  @media screen and (max-width: 800px) {
    flex: 1 1;
    margin: 0;
    margin-bottom: 1rem;

    &.minimized {
      flex: 1 1;
      transition: flex 200ms ease-out;
    }
  }

  @include extraSmallScreen {
  }
}

.topic-input {
  width: 100%;
  border: none;
  border-bottom: 1px solid lightgray;
  font-size: 20px;
  font-family: inherit;
  height: 32px;

  &:focus {
    outline: none;
  }
}

.topic-container {
  transition: height 100ms ease-out;
  overflow: hidden;
  margin-bottom: 1rem;

  h2 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
    margin: 0;
    overflow-wrap: break-word;
    font-size: 1.3rem;

    button {
      flex-shrink: 0;
    }
  }

  @media screen and (max-width: 500px) {
    h2 {
      flex-direction: column;
      align-items: flex-start;
    }
  }

  mat-card-subtitle {
    margin-bottom: 0;
  }
}

.mat-card-header-text {
  margin: 0;
}

.members-card {
  margin-bottom: 1rem;
  flex-shrink: 0;
  transition: height 200ms ease-out;
  overflow: hidden;

  @media screen and (max-width: 800px) {
    margin-bottom: 0;
  }
}

.anonymous-user-banner {
  @media screen and (max-width: 800px) {
    margin: 0.5rem;
  }

  @include extraSmallScreen {
    margin: 0;
  }
}

.ad-explainer {
  margin: 1rem 0.3rem;
  margin-bottom: 0;
  display: flex;
  justify-content: flex-end;

  span {
    color: white;
    font-size: 0.8rem;
    cursor: pointer;
    user-select: none;
  }
}

.ad-container {
  margin-top: 0.2rem;
  min-height: 90px;

  .mat-mdc-card {
    height: 100%;
    padding: 0;
  }
}

.rounded-card {
  border: none;
}

.credits-button {
  color: white !important;
  border-color: rgba(255, 255, 255, 0.5) !important;

  &.alert {
    border-color: var(--accent-color) !important;
    color: var(--accent-color) !important;
  }
}

@keyframes roundIncreaseAnimation {
  from {
    opacity: 1;
    transform: translateY(0%);
  }
  to {
    opacity: 0;
    transform: translateY(-100%);
  }
}

@keyframes roundDecreaseAnimation {
  from {
    opacity: 1;
    transform: translateY(0%);
  }
  to {
    opacity: 0;
    transform: translateY(100%);
  }
}


@keyframes appearBelowAnimation {
  from {
    opacity: 0;
    transform: translateY(100%);
  }
  to {
    opacity: 1;
    transform: translateY(0%);
  }
}

@keyframes appearAboveAnimation {
  from {
    opacity: 0;
    transform: translateY(-100%);
  }
  to {
    opacity: 1;
    transform: translateY(0%);
  }
}

.topic-title {
  span {
    transition: opacity 200ms linear, transform 200ms linear;

    &.round-increase {
      animation: roundIncreaseAnimation 200ms ease-out;
    }

    &.round-decrease {
      animation: roundDecreaseAnimation 200ms ease-out;
    }

    &.appear-below {
      animation: appearBelowAnimation 200ms ease-in;
    }

    &.appear-above {
      animation: appearAboveAnimation 200ms ease-in;
    }
  }
}