<div class="landing-cta">
  <div class="cta-inner">
    <div class="cards-container">
      <img
        ngSrc="cta-cards_pxapvv"
        placeholder
        alt="Two cards with numbers"
        width="300"
        height="200"
        sizes="(max-width: 800px) 100vw, 60vw"
      />
    </div>

    <div class="cta-content">
      <div class="cta-text">
        <h2>Try Planning Poker today!</h2>
        <p>Better sprint planning and estimation for the whole team</p>
      </div>
      <a mat-flat-button routerLink="/create">Start Planning</a>
    </div>
  </div>
</div>
