<app-page-header title="Zoom Integration" subtitle="Install our embedded app in your favorite video conferencing tool"></app-page-header>
<main>
  <div>
    <section class="integration-hero">
      <div class="hero-header">
        <h1 class="title">Planning Poker is now available within Zoom!</h1>
        <p class="details">
          Use the Zoom integration to easily share planning poker sessions with
          your team. <br />
          You don't even need to leave your Zoom meeting to have the same great
          planning experience as before.
        </p>
        <div class="cta">
          <a
            mat-stroked-button
            color="primary"
            href="https://planningpoker.live/api/installZoomApp"
            class="white-button"
          >
            <mat-icon>download</mat-icon>
            Install in Zoom
          </a>
        </div>
      </div>
      <div class="hero-video">
        <video
          #video
          autoplay
          loop
          muted
          playsinline
          (canplay)="video.play()"
          (loadedmetadata)="video.muted = true"
        >
          <source
            src="https://storage.googleapis.com/card-estimator.appspot.com/Planning_Poker_Animation.mp4"
            type="video/mp4"
          />
        </video>
      </div>
    </section>
    <section class="integration-hero">
      <h2 class="title">How does it work?</h2>
      <div class="steps-container">
        <div class="instruction-image">
          <img
            src="https://storage.googleapis.com/card-estimator.appspot.com/Instruction_1.png"
            alt="Permissions screen when adding the app to Zoom"
            [class.visible]="selectedIndex === 0"
          />
          <img
            src="https://storage.googleapis.com/card-estimator.appspot.com/Instruction_2.png"
            alt="Apps screen inside Zoom"
            [class.visible]="selectedIndex === 1"
          />
          <img
            src="https://storage.googleapis.com/card-estimator.appspot.com/Instruction_3.png"
            alt="The app is running inside Zoom"
            [class.visible]="selectedIndex === 2"
          />
          <img
            src="https://storage.googleapis.com/card-estimator.appspot.com/Instruction_4.png"
            alt="An ongoing planning session with participants in Zoom"
            [class.visible]="selectedIndex === 3"
          />
        </div>
        <mat-tab-group
          dynamicHeight
          (selectedIndexChange)="selectedIndex = $event"
        >
          <mat-tab label="1. Install the app in Zoom"
            ><div class="step-content">
              <p>
                To add the app to your Zoom account, click the "Install" button
                above or install the app from Zoom Marketplace. You'll need to
                grant basic permissions for the app to appear inside your
                meeting.
              </p>
            </div>
          </mat-tab>
          <mat-tab label="2. Open the app inside Zoom"
            ><div class="step-content">
              <p>
                Once the app is installed, you can open it from the "Apps" menu
                in Zoom. The app will appear in the side-panel of your meeting.
              </p>
            </div>
          </mat-tab>
          <mat-tab label="3. Invite your colleagues in the meeting"
            ><div class="step-content">
              <p>
                After you've created a planning poker session, just click
                "Invite others" and a personalized invitation will be sent to
                everyone in the meeting.
              </p>
            </div>
          </mat-tab>
          <mat-tab label="4. Estimate projects together, in real-time"
            ><div class="step-content">
              <p>
                Once you are all in the same meeting and the app is open for
                everyone, you can start planning your project. Set a topic by
                clicking "Edit" next to "Topic of Round #1" and decide which
                card set you want to use.
              </p>
              <p>
                Each member votes on their own, and once all votes are cast the
                leader presses "Reveal Votes" to reveal all votes. To start the
                next round, click "New Round" (or "Next Round", if you've set
                the topics beforehand from the sidebar) The team continues this
                process until all topics have been voted on.
              </p>
            </div>
          </mat-tab>
        </mat-tab-group>
      </div>
      <mat-divider></mat-divider>
      <div class="integration-hero">
        <div class="hero-header">
          <h4 id="uninstall" class="title">Uninstalling the App</h4>
          <p class="details">
            If you wish to uninstall the App, go to the
            <a href="https://marketplace.zoom.us/user/installed"
              >installed apps section on Zoom Marketplace</a
            >
            and click Uninstall next to "Planning Poker".
          </p>
        </div>
      </div>
      <div class="integration-hero">
        <div class="hero-header">
          <h4 id="support" class="title">Getting Support and Reporting Bugs</h4>
          <p class="details">
            Are you stuck on a question or issue with the app? Check out the
            <a routerLink="/faq">Frequently Asked Questions</a>, maybe your
            query already has an answer.
          </p>
          <p class="details">
            If you need additional support or have found a bug, please open a
            ticket here
            <a
              href="https://github.com/biharygergo/card-estimator/issues"
              rel="noopener"
              >on GitHub</a
            >
            and our developers will try to help as fast as possible. We try
            respond to tickets within 24 hours. If you need immediate
            assistance, please contact us at
            <a href="mailto:hello@planningpoker.live"
              >hello@planningpoker.live</a
            >.
          </p>
        </div>
      </div>
    </section>
    <div class="banner-wrapper">
      <start-planning-cta></start-planning-cta>
    </div>
  </div>
</main>
