.menu-button {
    color: white !important;
    border-color: rgba(255,255,255,0.6) !important;
}

.item-with-premium {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.dark-mode-toggle {
    margin-left: auto;
}