@use '../../../components/page-header-with-cta/page-header-with-cta.component'
  as page-header-with-cta;

.integration-header {
  @include page-header-with-cta.heroBackground();
}

.integration-header-content {
  display: flex;
  position: relative;
  padding: 24px 24px 0 24px;
  max-width: 1000px;
  margin: 0 auto;
  gap: 2rem;

  .integration-header-left {
    display: flex;
    flex-direction: column;
    gap: 20px;
    color: white;
    flex: 1 0 50%;
    padding: 3rem 0;
    z-index: 2;

    a {
      color: white;
    }

    .integration-title {
      font-size: 2rem;
      line-height: 2.8rem;
      font-weight: bold;
      margin: 0;
    }

    .integration-description {
      font-size: 1rem;
      line-height: 1.2rem;
      font-weight: 500;
      margin-bottom: 0rem;
      margin-top: 0;
    }
  }

  .integration-header-right {
    flex: 1 1 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 400px;

    .integration-hero-video {
      object-fit: contain;
      height: auto;
      width: 100%;
      max-width: 500px;
      border-radius: 20px;
    }
  }

  @media screen and (max-width: 800px) {
    flex-direction: column;
    padding: 24px 24px 0 24px;

    .integration-header-left {
      gap: 24px;
      padding-top: 2rem;
      text-align: center;
    }

    .integration-header-right {
      justify-content: center;
      min-height: 350px;
    }
  }
}

.install-button {
  --mdc-filled-button-container-color: #d9e2ff;
  --mdc-filled-button-label-text-color: #345ca8;
  height: 3rem;
  padding: 0rem 3rem;
}

.integration-main {
  .integration-details {
    display: flex;
    flex-direction: column;
    gap: 24px;
    padding: 24px;
    max-width: 1200px;
    margin: 0 auto;
    color: var(--landing-text-color);
    padding: 5rem 1rem;

    .integration-details-title {
      font-size: 1.2rem;
      text-align: center;
      margin: 2rem auto;
      max-width: 800px;
    }

    .integration-details-step {
      display: flex;
      gap: 1rem;
      margin: 2rem 0;

      @media screen and (max-width: 800px) {
        flex-direction: column;
      }
      .integration-details-step-left {
        flex: 2;
        display: flex;
        flex-direction: column;
        justify-content: center;
      }

      .integration-details-step-right {
        flex: 3;
        padding: 1rem;
      }

      .integration-details-step-center {
        flex: 1;
      }

      .integration-details-step-image {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 8px;

        &.not-app-screenshot {
          width: calc(100% - 38px);
          margin: 0 auto;
          display: block;
          /* box-shadow: 3px 3px 10px 10px #000; */
          box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
          margin-top: 20px;
        }
      }

      .integration-details-step-youtube {
        max-width: 800px;
        margin: 0 auto;
        overflow: hidden;
        border-radius: 8px;
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
      }

      .integration-details-step-title {
      }

      .integration-details-step-description {
      }
    }
  }

  .integration-support {
    display: flex;
    flex-direction: column;
    gap: 24px;
    padding: 24px;
    max-width: 1000px;
    margin: 0 auto;
    color: var(--landing-text-color);
    padding: 5rem 1rem;
    text-align: center;

    .integration-support-title {
      font-size: 1.2rem;
    }

    a {
      color: white;
    }
  }
}
