@import "../../../common.scss";

main {
  background: white;
  padding: 2rem 0;
  min-height: 90vh;

  .breadcrumbs {
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem;
    font-size: 13px;

    a {
      color: var(--main-color);
      text-decoration: none;

      &:hover {
        text-decoration: underline;
      }
    }
  }

  .layout {
    max-width: 1100px;
    margin: 0 auto;
    display: flex;

    @include smallScreen {
      display: block;
    }
  }

  article {
    margin: 0 auto;
    flex: 3;

    padding: 1rem;
    font-size: 1rem;
    line-height: 1.5rem;
  }

  .recommendations {
    flex: 1;

    .recommendations-inner {
      padding: 1rem;
      margin-top: 200px;
      position: sticky;
      top: 100px;

      @include smallScreen {
        margin-top: 0;
        position: unset;
      }
    }

    .recommendation {
      background: var(--light-blue);
      border-radius: 8px;
      padding: 1rem 0.5rem;
      margin-bottom: 1rem;
      transition: background 300ms linear;

      h5 {
        margin: 0;
      }

      &:hover {
        background: var(--highlight-background-color);
      }

      a {
        color: black;
        text-decoration: none;
      }

      p {
        font-size: 14px;
      }
    }
  }

  h1 {
    font-size: 2rem;
    line-height: 2rem;
  }

  .author {
    margin-bottom: 0.1rem;
  }

  .cover-image {
    border-radius: 20px;
    overflow: hidden;
    position: relative;
    width: 100%;
    height: 400px;
    margin-bottom: 2rem;

    img {
      object-fit: cover;
    }
  }

  .card-header {
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid #efefef;
    margin-bottom: 2rem;
    padding-bottom: 1rem;
  }
}
.banner-wrapper {
  border-radius: 20px;
  overflow: hidden;
  margin: 2rem 0;
}

::ng-deep markdown {
  a {
    color: var(--main-color);
  }

  h1 {
    font-size: 1.4rem !important;
    font-weight: 700;
  }

  h2 {
    font-size: 1.3rem !important;
    font-weight: 700;
  }

  h3 {
    font-size: 1.2rem !important;
    font-weight: 700;
  }

  table {
    background: var(--light-blue);
    border-radius: 20px;
    padding: 1rem;
    margin: 1rem 0;
    overflow-x: scroll;

    td {
      padding: 0.5rem;
    }

    tr {
      border-bottom: 1px solid var(--main-dark);
    }
  }

  .image-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;

    img,
    video {
      max-width: 80%;
      border-radius: 20px;
      margin-bottom: 0.2rem;
      object-fit: cover;

      @media only screen and (max-width: 800px) {
        max-width: 100%;
      }
    }

    margin-top: 2rem;
    margin-bottom: 2rem;
  }

  .separator {
    width: 20px;
    height: 3px;
    border-radius: 16px;
    background: var(--main-color);
    margin: 2rem auto;
  }
}

.video-wrapper {
  margin: 1rem 0;
}

.tag-cloud {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
  margin-bottom: 1rem;

  span {
    color: var(--main-color);
    font-size: 13px;
    background: var(--light-blue);
    padding: 0.1rem 0.5rem;
    border-radius: 16px;
  }
}
