main {
  background: white;
  padding: 2rem 0;

  h1 {
    font-size: 2rem;
  }

  .author {
    margin-bottom: 0.1rem;
  }

  .cover-image {
    border-radius: 20px;
    overflow: hidden;
    position: relative;
    width: 100%;
    height: 400px;
    margin-bottom: 2rem;

    img {
      object-fit: cover;
    }
  }

  article {
    max-width: 1000px;
    margin: 0 auto;

    padding: 1rem;
    font-size: 1rem;
    line-height: 1.5rem;
  }

  .card-header {
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid #efefef;
    margin-bottom: 2rem;
    padding-bottom: 1rem;
  }
}
.banner-wrapper {
  border-radius: 20px;
  overflow: hidden;
  margin: 2rem 0;
}
