<mat-card appearance="outlined">
  <mat-card-content>
    <div class="card-header">
      <span class="card-round-number">#{{ roundNumber }}</span>
    </div>
    <mat-form-field appearance="outline" color="accent">
      <mat-label>Topic</mat-label>
      <textarea
        matInput
        cdkTextareaAutosize
        placeholder="Describe the topic of this round"
        [formControl]="topicNameFormControl"
        autofocus
      ></textarea>
      <mat-hint
        >Insert a short description of the topic.</mat-hint
      >
    </mat-form-field>
  </mat-card-content>
 

  <mat-card-footer class="card-footer-actions align-right">
    <button
      mat-flat-button
      color="primary"
      (click)="onSaveOrUpdate.next(topicNameFormControl.value)"
      [disabled]="!topicNameFormControl.value"
    >
      {{ topicName ? 'Update' : 'Add'}}
    </button>
    <button mat-flat-button (click)="onCancel.next()">Cancel</button>
  </mat-card-footer>
</mat-card>
