<div class="timer-container">
  <div class="progress">
    <mat-progress-bar
      mode="determinate"
      [value]="progressValue"
      [color]="durationLeft < 10 ? 'accent' : 'primary'"
      id="timer-progress-bar"
    ></mat-progress-bar>
    <span class="time-left">
      <ng-container *ngIf="timer.state === TimerState.INIT"
        >{{ durationLeft }} second timer</ng-container
      >
      <ng-container *ngIf="timer.state !== TimerState.INIT && durationLeft > 0"
        >{{ durationLeft }} seconds remaining</ng-container
      >
      <ng-container
        *ngIf="timer.state !== TimerState.INIT && durationLeft === 0"
        >Time is up!</ng-container
      ></span
    >
  </div>

  <div class="controls">
    <button
      mat-stroked-button
      (click)="addSeconds()"
      *ngIf="
        timer.state === TimerState.INIT || timer.state === TimerState.ACTIVE
      "
      id="add-time-button"
    >
      <mat-icon>add</mat-icon>
      30s
    </button>
    <button
      mat-stroked-button
      (click)="resetTimer(true)"
      *ngIf="timer.state === TimerState.STOPPED"
      id="reset-button"
    >
      <mat-icon>restart_alt</mat-icon>
      Reset
    </button>
    <button
      mat-stroked-button
      color="primary"
      (click)="startTimer(true)"
      *ngIf="
        timer.state === TimerState.INIT || timer.state === TimerState.STOPPED
      "
      [disabled]="durationLeft === 0"
      id="start-button"
    >
      <mat-icon>play_arrow</mat-icon>
      Start
    </button>
    <button
      mat-stroked-button
      color="primary"
      (click)="stopTimer(true)"
      *ngIf="timer.state === TimerState.ACTIVE"
      id="pause-button"
    >
      <mat-icon>pause</mat-icon>
      Pause
    </button>
  </div>
</div>
