<app-page-header title="Terms and Conditions"></app-page-header>
<main class="c7 c8 doc-content">
  <div class="main-content">
    <p class="c2" id="h.q6fbkpmuo5o5">
      <span class="c4">Welcome to Planning </span><span class="c4">Poker</span
      ><span class="c0"
        >, an online tool that allows teams to easily estimate project cards,
        vote and find consensus.</span
      >
    </p>
    <p class="c2" id="h.q6fbkpmuo5o5-1">
      <span class="c4"
        >Please read these customer terms of use (“Customer Terms”) carefully
        before accessing or using the Planning Poker services (“Service”)
        provided mainly through our website at https://planningpoker.live</span
      ><span class="c4"
        ><a
          class="c13"
          href="https://www.google.com/url?q=https://business.revealu.eu/%25C2%25A0&amp;sa=D&amp;source=editors&amp;ust=1659641409481379&amp;usg=AOvVaw2BJ9VH4hxB9RKiGmE9RH-E"
          >&nbsp;</a
        ></span
      ><span class="c0"
        >(the exact URL of the service may be subject to change) (“Website”) or
        via our integrations in meeting platforms (Zoom, Google Meet™,
        etc.).</span
      >
    </p>
    <p class="c2" id="h.q6fbkpmuo5o5-2">
      <span class="c4"
        >The Website is operated by Gergely Sándor Bihary E.V., a personal
        company registered in Hungary with number </span
      ><span class="c11">68867193-6201-231-01</span
      ><span class="c0"
        >&nbsp;whose registered office is at 1028, Budapest, Kevélyhegyi utca
        12/a (“we” or “us” or “our”). These Customer Terms apply to all
        Customers who access or use the Service.</span
      >
    </p>
    <p class="c2" id="h.q6fbkpmuo5o5-3">
      <span class="c0"
        >By checking the accept tickboxes during the registration process
        relating to the present Customer Termst and Privacy Policy, you agree to
        be legally bound by these Customer Terms and Privacy Policy as they may
        be modified and posted on our Website from time to time. In these
        Customer Terms, “you” refers to the entity you represent
        (“Customer”).</span
      >
    </p>
    <p class="c2" id="h.q6fbkpmuo5o5-4">
      <span class="c0"
        >If you do not agree with these Customer Terms or Privacy Policy, you
        may not use the Service.</span
      >
    </p>
    <p class="c2" id="h.q6fbkpmuo5o5-5">
      <span class="c0"
        >You may connect to the Service using an Internet browser supported by
        the Service. You are responsible for obtaining access to the Internet
        and any equipment necessary to use the Service.</span
      >
    </p>
    <p class="c2" id="h.q6fbkpmuo5o5-6"><span class="c0">Signup</span></p>
    <p class="c2" id="h.q6fbkpmuo5o5-7">
      <span class="c0"
        >In order to use the Service, you must create a "Room", which is a
        virtual equivalent of a meeting room. When creating a new room, if you
        have never used the Service before, a new "anonymous" user account will
        be created for you. This account allows access to the meeting room and
        let's you invite others to join the room and vote on topics securely.
        You may choose to update your account to a permanent account by signing
        in with a social authentication provider.</span
      >
    </p>
    <p class="c1 c7">
      <span class="c0"
        >Only natural persons of legal age and with sufficient legal capacity to
        contract may contract Services through this Website. In the event that
        the Client contracts the Services on behalf of a legal entity, he/she
        guarantees that he/she has the necessary powers of representation and
        authority to bind the legal entity to this Agreement.<br />Planning
        Poker reserves the right to refuse the Services or to immediately
        terminate the Agreement with a Customer if the Customer does not meet
        the age requirements or does not have sufficient legal capacity to
        contract or, if the Customer has previously violated these General Terms
        and Conditions.</span
      >
    </p>
    <p class="c1 c6 c7"><span class="c0"></span></p>
    <p class="c2" id="h.q6fbkpmuo5o5-8"><span class="c0">Term</span></p>
    <p class="c2" id="h.q6fbkpmuo5o5-9">
      <span class="c0"
        >Use of your account shall commence after signup and shall continue
        until terminated by either party in accordance with the provisions of
        these Customer Terms.</span
      >
    </p>
    <p class="c2" id="h.q6fbkpmuo5o5-10">
      <span class="c0">Customer Data</span>
    </p>
    <p class="c2" id="h.q6fbkpmuo5o5-11">
      <span class="c0"
        >You own all content and data you add to your account and you retain
        sole ownership of all rights, title and interest in, and to, your
        Customer Data. You have the sole responsibility for the legality,
        reliability, integrity, accuracy and quality of your Customer
        Data.</span
      >
    </p>
    <p class="c1"><span class="c0">Free access</span></p>
    <p class="c1">
      <span class="c4"
        >Planning Poker offers limited free access to the Service. At all times,
        the Customer will be informed about the fee-based Services, offering the
        possibility to subscribe to them, which will always be voluntary.</span
      >
    </p>
    <p class="c1 c6"><span class="c3"></span></p>
    <p class="c2" id="h.q6fbkpmuo5o5-12">
      <span class="c0">Paid access (in-development)</span>
    </p>
    <p class="c2" id="h.q6fbkpmuo5o5-13">
      <span class="c0"
        >For paying accounts, the Customer agrees to provide us with a valid
        payment card and authorise us to deduct payments of the current monthly
        fees as published on our Website. The payment card must be registered in
        the Customer’s name. Payment cards and payments are subject to
        validation and authorisation checks of the card issuer.</span
      >
    </p>
    <p class="c2" id="h.q6fbkpmuo5o5-14">
      <span class="c0"
        >If you sign up for a fee paying account the Service shall continue
        until cancelled or terminated and you shall be liable to pay monthly
        fees for the account. Customer will be billed monthly on or around the
        day after their subscription was created. When subscriptions are
        cancelled the monthly subscription fee will be billed proportionately.
        Fees are chargeable and shall be payable until an account is terminated
        or cancelled, even if you never use the Service.</span
      >
    </p>
    <p class="c2" id="h.q6fbkpmuo5o5-15">
      <span class="c0"
        >If you upgrade from an account to a higher tier paying account there is
        no trial period. You will be charged for the first month immediately
        following any such upgrade.</span
      >
    </p>
    <p class="c2" id="h.q6fbkpmuo5o5-16">
      <span class="c0"
        >If you downgrade your account then you may lose content, features or
        capacity. We do not accept any liability whatsoever for such
        losses.</span
      >
    </p>
    <p class="c2" id="h.q6fbkpmuo5o5-17">
      <span class="c0"
        >All fees are exclusive of all taxes, charges, levies, assessments and
        other fees of any kind imposed on use of the Service (unless otherwise
        indicated) and such amounts shall be the responsibility of, and payable
        by, the Customer.</span
      >
    </p>
    <p class="c2" id="h.q6fbkpmuo5o5-18">
      <span class="c0">Suspension &amp; Termination</span>
    </p>
    <p class="c2" id="h.q6fbkpmuo5o5-19">
      <span class="c0">Suspension &amp; Locking Access</span>
    </p>
    <p class="c2" id="h.q6fbkpmuo5o5-20">
      <span class="c0"
        >Only the Customer can ask us to lock all access to your account for any
        reason.</span
      >
    </p>
    <p class="c2" id="h.q6fbkpmuo5o5-21">
      <span class="c0"
        >We reserve the right to suspend access to your account if you fail to
        provide valid credit card details that enable us to charge the full
        amount of any outstanding fees and charges due or you fail to pay us any
        sums owed for the Service for any reason. We will provide you with prior
        notice by email of our intention to suspend your account.
      </span>
    </p>
    <p class="c2" id="h.q6fbkpmuo5o5-22">
      <span class="c0">Termination &amp; Cancellation</span>
    </p>
    <p class="c2" id="h.q6fbkpmuo5o5-23">
      <span class="c0"
        >We may terminate these Customer Terms immediately by giving you written
        notice if you commit any breach of these Customer Terms. We may
        terminate these Customer Terms for any other reason upon giving you 30
        days written notice.</span
      >
    </p>
    <p class="c2" id="h.q6fbkpmuo5o5-24">
      <span class="c0"
        >Termination of these Customer Terms for any reason shall not affect the
        accrued rights of the parties arising under these Customer Terms and all
        rights which by their nature should survive the expiry or termination of
        these Customer Terms shall remain in full force and effect.</span
      >
    </p>
    <p class="c2" id="h.q6fbkpmuo5o5-25">
      <span class="c0"
        >You may cancel your account with immediate effect by clicking the
        ‘Cancel Account’ link from within your account settings page. Your
        recurring billing schedule will be ended upon cancellation. If you
        reactivate an Account after cancellation or suspension, you will be
        billed in accordance with the original billing cycle.</span
      >
    </p>
    <p class="c2" id="h.q6fbkpmuo5o5-26">
      <span class="c0"
        >When an account is terminated or cancelled, the account and any content
        left behind in the account will be made inaccessible. For a period of 14
        days after any account has been cancelled you may request that we
        restore your account. After this period, your account and all Customer
        Data contained within it will be permanently deleted and the agreement
        between us as set out in these Customer Terms will automatically
        terminate. Please be aware that partial data may reside in our backup
        and/or archive systems for a period of up to 50 days.</span
      >
    </p>
    <p class="c2" id="h.q6fbkpmuo5o5-27">
      <span class="c0">Data Processing</span>
    </p>
    <p class="c2" id="h.q6fbkpmuo5o5-28">
      <span class="c0"
        >Each party undertakes to comply with its obligations under relevant
        applicable data protection laws, principles and agreements.</span
      >
    </p>
    <p class="c2" id="h.q6fbkpmuo5o5-29">
      <span class="c0"
        >Any information that you provide to us during signup or information
        provided when ordering the Service (such as the Customer’s email
        address) will be used by us in accordance with the terms of the Privacy
        Policy.</span
      >
    </p>
    <p class="c2" id="h.q6fbkpmuo5o5-30">
      <span class="c0"
        >If a third party alleges infringement of its data protection rights, we
        shall be obliged to take measures necessary to prevent the infringement
        of a third party’s rights from continuing.</span
      >
    </p>
    <p class="c2" id="h.q6fbkpmuo5o5-31">
      <span class="c0">Availability &amp; Support</span>
    </p>
    <p class="c2" id="h.q6fbkpmuo5o5-32">
      <span class="c0"
        >We will endeavour to make the Website and Service available to the
        Customer and Users 24 x 7, however we shall not be liable if for any
        reason the Website or Service is unavailable at any time or for any
        period.</span
      >
    </p>
    <p class="c2" id="h.q6fbkpmuo5o5-33">
      <span class="c0"
        >We may suspend access to your account temporarily and without notice in
        the case of system failure, maintenance or repair or due to a Force
        Majeure Event (defined below).</span
      >
    </p>
    <p class="c2" id="h.q6fbkpmuo5o5-34">
      <span class="c0"
        >We will provide technical support to you by email only. Technical
        support will only be provided for bugs or errors that are reproducible
        by us. You agree to provide us with full and accurate details of all
        bugs and errors, on request. You acknowledge that we provide no warranty
        that all or any bugs or errors will be corrected.</span
      >
    </p>
    <p class="c2" id="h.q6fbkpmuo5o5-35">
      <span class="c0"
        >Neither our staff nor our third party service partners have access to
        any user passwords and are therefore unable to access the organization’s
        account or data without receiving an invitation from the
        Administrator.</span
      >
    </p>
    <p class="c2" id="h.q6fbkpmuo5o5-36">
      <span class="c0">Intellectual Property Rights</span>
    </p>
    <p class="c2" id="h.q6fbkpmuo5o5-37">
      <span class="c0"
        >All intellectual property rights and title to the Service and materials
        on the Website, including without limitation photographs and graphical
        images (save to the extent they incorporate any Customer Data or third
        party owned item) shall remain owned by us and our licensors and no
        interest or ownership in the Service or Website is transferred to the
        Customer.</span
      >
    </p>
    <p class="c2" id="h.q6fbkpmuo5o5-38">
      <span class="c0"
        >When using the Service, Customers are encouraged to provide us with
        their feedback, suggestions or ideas for changes to the Service
        (“Feedback”). The Customer assigns to us all rights, title and interest
        in any Feedback. If for any reason such assignment is ineffective, the
        Customer shall grant us a non-exclusive, perpetual, irrevocable, royalty
        free, worldwide right and licence to use, reproduce, disclose,
        sub-licence, distribute, modify and exploit such feedback without
        restriction.</span
      >
    </p>
    <p class="c2" id="h.q6fbkpmuo5o5-39">
      <span class="c0"
        >We may take and maintain technical precautions to protect the Service
        and Website from improper or unauthorised use, distribution or
        copying.</span
      >
    </p>
    <p class="c2" id="h.q6fbkpmuo5o5-40">
      <span class="c0">Acceptable Conduct</span>
    </p>
    <p class="c2" id="h.q6fbkpmuo5o5-41">
      <span class="c0"
        >You must not use the Website or the Service: (i) in any way that
        breaches any applicable local, national or international law or
        regulation; (ii) in any way that is unlawful or fraudulent, or has any
        unlawful or fraudulent purpose or effect; (iii) for the purpose of
        harming or attempting to harm minors in any way; or (iv) to transmit, or
        procure the sending of, any unsolicited or unauthorised advertising or
        promotional material or any other form of similar solicitation
        (spam).</span
      >
    </p>
    <p class="c2" id="h.q6fbkpmuo5o5-42">
      <span class="c0"
        >We shall fully co-operate with any law enforcement authorities or court
        order requesting or directing us to disclose the identity or locate
        anyone posting any material in breach of the above rules on acceptable
        conduct.</span
      >
    </p>
    <p class="c1"><span class="c0">Trademark </span></p>
    <p class="c1 c6"><span class="c0"></span></p>
    <p class="c1">
      <span class="c4"
        >By signing up to the Service, the Customer grants us the right to use
        its trademark and trade name in the promotion of its Services on the
        Website and other promotional and marketing materials and in online
        media as public acknowledgment that it is a customer of the Service, to
        the exclusion of any other use.</span
      >
    </p>
    <p class="c1 c6"><span class="c3"></span></p>
    <p class="c2" id="h.q6fbkpmuo5o5-43">
      <span class="c0">Disclaimer &amp; Customer Warranties</span>
    </p>
    <p class="c2" id="h.q6fbkpmuo5o5-44">
      <span class="c0"
        >The material on the Website and the Service is provided “as is”,
        without any conditions, warranties or other terms of any kind. While we
        endeavour to ensure that the information provided on the Website and the
        information provided in connection with the Service is correct, we do
        not warrant the accuracy and completeness of such material. We may make
        changes to the material on the Website or to the Service, or to the
        products and prices described on the Website, at any time without
        notice. The material on the Website may be out of date, and we make no
        commitment to update such material.</span
      >
    </p>
    <p class="c2" id="h.q6fbkpmuo5o5-45">
      <span class="c0"
        >We may share information about our future product plans with you from
        time to time. Please note that any public statement about our product
        plans is an expression of intent and should not be relied upon when
        purchasing the Service. Any decision to purchase the Service should be
        based on the functionality or features we have made available today and
        not on the future delivery of any functionality or features.</span
      >
    </p>
    <p class="c2" id="h.q6fbkpmuo5o5-46">
      <span class="c0"
        >You warrant and represent that: (i) you have authority to enter into
        this agreement and to perform your obligations under these Customer
        Terms; (ii) the execution and performance of your obligations under
        these Customer Terms does not violate or conflict with the terms of any
        other agreement to which you are a party and is in accordance with any
        applicable laws; (iii) you shall respect all applicable laws and
        regulations, governmental orders and court orders, which relate to use
        of the Service, or Website, and these Customer Terms; and (iv) you
        rightfully own the necessary user rights, copyrights and ancillary
        copyrights and permits required for you to fulfil your obligations under
        these Customer Terms.</span
      >
    </p>
    <p class="c2" id="h.q6fbkpmuo5o5-47">
      <span class="c0"
        >Except as expressly stated in these Customer Terms, all warranties and
        conditions, whether express or implied by statute, common law or
        otherwise (including but not limited to satisfactory quality and fitness
        for purpose), are hereby excluded to the fullest extent permitted by
        law. No warranty is made regarding the results of usage of the Service
        or Website or that the functionality of the Service or Website will meet
        your requirements or that the Service or Website will operate
        uninterrupted or error free.</span
      >
    </p>
    <p class="c2" id="h.q6fbkpmuo5o5-48">
      <span class="c0">Limitation Of Liability</span>
    </p>
    <p class="c2" id="h.q6fbkpmuo5o5-49">
      <span class="c0"
        >We do not exclude or limit our liability to you for fraud, death or
        personal injury caused by any negligent act, omission or wilful
        misconduct by us in connection with the provision of the Website or
        Service, or any liability which cannot be excluded or limited under
        applicable law.</span
      >
    </p>
    <p class="c2" id="h.q6fbkpmuo5o5-50">
      <span class="c0"
        >In no event shall we be liable to you whether arising under these
        Customer Terms for any indirect or consequential loss or damage which
        shall include but not be limited to pure economic loss, losses incurred
        by any client of yours or other third party, loss of profits (whether
        categorised as direct or indirect loss), losses arising from business
        interruption, loss of business revenue, goodwill or anticipated savings,
        losses whether or not occurring in the normal course of business, wasted
        management or staff time, loss or corruption of data, or inability to
        use or the results of use of the Website or Service, any websites linked
        to the Website or the material on such websites.</span
      >
    </p>
    <p class="c2" id="h.q6fbkpmuo5o5-51">
      <span class="c0"
        >You acknowledge and agree our total liability to you under or in
        connection with the provision of the Website or Service under these
        Customer Terms including any claim for indemnity or contribution shall
        not exceed one hundred (100) per cent of the total amount (excluding any
        VAT, duty, sales or similar taxes) paid by you to us during the
        preceding twelve (12) month period.</span
      >
    </p>
    <p class="c2" id="h.q6fbkpmuo5o5-52">
      <span class="c0"
        >The Customer shall defend, indemnify and hold us and our employees,
        sub-contractors or agents harmless from and against any costs, losses,
        liabilities and expenses, including reasonable legal costs arising from
        any claim relating to or resulting directly or indirectly from: (i) any
        claimed infringement by the Customer, User or third party of any
        intellectual property rights with respect to use of the Website or
        Service outside of the scope of these Customer Terms; or (ii) use by us
        of any Customer Data or Customer or User provided item; or (iii) any
        access to or use of the Website or Service by a User, Client or a third
        party in breach of these Customer Terms; or (iv) breaches of data
        protection law or regulations resulting from the us processing data on
        behalf of and in accordance with the instructions of the Customer or
        User.</span
      >
    </p>
    <p class="c2" id="h.q6fbkpmuo5o5-53">
      <span class="c0">Confidentiality</span>
    </p>
    <p class="c2" id="h.q6fbkpmuo5o5-54">
      <span class="c0"
        >Each party may use the confidential information of the other party only
        for the purposes of these Customer Terms and must keep confidential all
        confidential information of the other party except to the extent (if
        any) the recipient of any confidential information is required by law to
        disclose the confidential information.</span
      >
    </p>
    <p class="c2" id="h.q6fbkpmuo5o5-55">
      <span class="c0"
        >Each party may disclose the confidential information of the other party
        to those of its employees and agents who have a need to know the
        confidential information for the purposes of these Customer Terms but
        only if the employee or agent executes a confidentiality undertaking in
        a form approved by the other party.</span
      >
    </p>
    <p class="c2" id="h.q6fbkpmuo5o5-56">
      <span class="c0"
        >The obligations of confidentiality under these Customer Terms do not
        extend to information that: (i) was rightfully in the possession of the
        receiving party before the commencement of these Customer Terms; (ii) is
        or becomes public knowledge (otherwise than as a result of a breach of
        these Customer Terms; or (iii) is required by law to be disclosed.</span
      >
    </p>
    <p class="c2" id="h.q6fbkpmuo5o5-57"><span class="c0">Assignment</span></p>
    <p class="c2" id="h.q6fbkpmuo5o5-58">
      <span class="c0"
        >You may not transfer, assign, charge or otherwise dispose of these
        Customer Terms or any of your rights or obligations arising hereunder,
        without our prior written consent.</span
      >
    </p>
    <p class="c2" id="h.q6fbkpmuo5o5-59">
      <span class="c0"
        >We may transfer, assign, charge, sub-contract or otherwise dispose of
        these Customer Terms, or any of our rights or obligations arising
        hereunder, at any time.</span
      >
    </p>
    <p class="c2" id="h.q6fbkpmuo5o5-60">
      <span class="c0">Relationship Between The Parties</span>
    </p>
    <p class="c2" id="h.q6fbkpmuo5o5-61">
      <span class="c0"
        >The parties are independent contractors and nothing in these Customer
        Terms will be construed as creating an employer-employee relationship
        between us.</span
      >
    </p>
    <p class="c2" id="h.q6fbkpmuo5o5-62">
      <span class="c0">Communicating Between Us</span>
    </p>
    <p class="c2" id="h.q6fbkpmuo5o5-63">
      <span class="c0">We will communicate with you in English only.</span>
    </p>
    <p class="c2" id="h.q6fbkpmuo5o5-64">
      <span class="c0"
        >All notices from you must be given to us by email at
        hello&#64;planningpoker.live or by recorded delivery to 1028 Kevélyhegyi
        utca 12/a, Budapest, Hungary. Unless explicitly stated otherwise in
        these Customer Terms we shall give all notices to you by email to the
        email address of the Administrator. Notices shall be deemed received and
        properly served 24 hours after an e-mail is sent, or for postal letters
        on receipt.</span
      >
    </p>
    <p class="c2" id="h.q6fbkpmuo5o5-65"><span class="c0">Changes</span></p>
    <p class="c2" id="h.q6fbkpmuo5o5-66">
      <span class="c0"
        >We maintain the right to change these Customer Terms, the Data
        Processing Agreement or Privacy Policy at any time, at our sole
        discretion upon giving you reasonable notice of any material change. Any
        changes will become effective on the date stated in such notice. If you
        or any User accesses or uses the Service after the date stated in any
        notice, this will constitute the Customer’s acceptance of any changes.
        If you do not accept the changes you should cancel your account before
        the date stated in the notice and stop using the Service.</span
      >
    </p>
    <p class="c2" id="h.q6fbkpmuo5o5-67">
      <span class="c0"
        >New features in the Service, including new tools and resources, will be
        subject to these Customer Terms.</span
      >
    </p>
    <p class="c2" id="h.q6fbkpmuo5o5-68">
      <span class="c0">Force Majeure</span>
    </p>
    <p class="c2" id="h.q6fbkpmuo5o5-69">
      <span class="c0"
        >We will not be liable or responsible for any failure to perform, or
        delay in performance of, any of our obligations caused by events outside
        our reasonable control (a “Force Majeure Event”).</span
      >
    </p>
    <p class="c2" id="h.q6fbkpmuo5o5-70">
      <span class="c0"
        >A Force Majeure Event includes any act, event, non-happening, omission
        or accident beyond our reasonable control and includes but is not
        limited to: (i) strikes, lock-outs or other industrial action; (ii)
        civil commotion, riot, invasion, terrorist attack or threat of terrorist
        attack, war (whether declared or not) or threat or preparation for war;
        (iii) fire, explosion, storm, flood, earthquake, subsidence, epidemic or
        other natural disaster; (iv) impossibility of the use of public or
        private telecommunications networks; (v) the acts, decrees, legislation,
        regulations or restrictions of any government.</span
      >
    </p>
    <p class="c2" id="h.q6fbkpmuo5o5-71">
      <span class="c0"
        >Our performance of our obligations shall be deemed to be suspended for
        the period that the Force Majeure Event continues, and we will have an
        extension of time for performance for the duration of that period. We
        will use our reasonable endeavours to bring the Force Majeure Event to
        an end or to find a solution by which our obligations under these
        Customer Terms may be performed despite the Force Majeure Event.</span
      >
    </p>
    <p class="c2" id="h.q6fbkpmuo5o5-72">
      <span class="c0">Miscellaneous</span>
    </p>
    <p class="c2" id="h.q6fbkpmuo5o5-73">
      <span class="c0"
        >Should a provision of these Customer Terms be invalid or become invalid
        then the legal effect of the other provisions shall be unaffected. A
        valid provision is deemed to have been agreed which comes closest to
        what the parties intended commercially and shall replace the invalid
        provision. The same shall apply to any omissions.</span
      >
    </p>
    <p class="c2" id="h.q6fbkpmuo5o5-74">
      <span class="c0"
        >These Customer Terms, together with all documents referred to in them
        constitute the whole agreement and understanding between the parties and
        supersedes all prior agreements, representations, negotiations and
        discussions between the parties relating to the subject matter
        thereof.</span
      >
    </p>
    <p class="c2" id="h.q6fbkpmuo5o5-75">
      <span class="c0">Governing Law &amp; Jurisdiction</span>
    </p>
    <p class="c2" id="h.obg5b5oemd56">
      <span class="c4"
        >These Customer Terms shall be governed by the laws of Hungary. The
        courts of Hungary shall have exclusive jurisdiction for the settlement
        of all disputes arising under these Customer Terms.</span
      >
    </p>
  </div>
</main>
