<main>
  <!-- <app-page-header
    [title]="'Story Point Calculator'"
    [subtitle]="
      'Convert story points to time and estimate your project timeline with this simple calculator.'
    "
  ></app-page-header> -->
  <section class="calculator-section">
    <div class="calculator-container">
      <div class="calculator">
        <mat-accordion multi="true">
          <mat-expansion-panel #parametersExpander [expanded]="true">
            <mat-expansion-panel-header>
              <mat-panel-title>Step 1: Parameters</mat-panel-title>
              <!-- <mat-panel-description>
                Configure the basic parameters of your project
              </mat-panel-description> -->
            </mat-expansion-panel-header>
            <div>
              <form [formGroup]="parametersForm">
                <mat-form-field appearance="outline">
                  <mat-label>Story points at project start</mat-label>
                  <input matInput formControlName="storyPoints" type="number" />
                  <mat-hint>How many story points to begin with?</mat-hint>
                </mat-form-field>
                <mat-form-field appearance="outline">
                  <mat-label>Project start date</mat-label>
                  <input
                    matInput
                    [matDatepicker]="picker"
                    formControlName="startDate"
                  />
                  <mat-hint>When will this project start?</mat-hint>
                  <mat-datepicker-toggle
                    matIconSuffix
                    [for]="picker"
                  ></mat-datepicker-toggle>
                  <mat-datepicker #picker></mat-datepicker>
                </mat-form-field>
                <mat-form-field appearance="outline">
                  <mat-label>Target velocity</mat-label>
                  <input
                    matInput
                    formControlName="targetVelocity"
                    type="number"
                  />
                  <span matTextSuffix>%</span>
                  <mat-hint
                    >What's the target velocity of the team? Consider unforeseen
                    bugs, blockers, overhead.</mat-hint
                  >
                </mat-form-field>
                <mat-form-field appearance="outline">
                  <mat-label>Staffing</mat-label>
                  <input matInput formControlName="staffing" type="number" />
                  <span matTextSuffix>people</span>
                  <mat-hint
                    >How many people are expected to work on this
                    project?</mat-hint
                  >
                </mat-form-field>
                <mat-form-field appearance="outline">
                  <mat-label>Buffer</mat-label>
                  <input matInput formControlName="buffer" type="number" />
                  <span matTextSuffix>week(s)</span>
                  <mat-hint
                    >How much buffer time should there be at the end of the
                    project? Consider testing, QA, release.</mat-hint
                  >
                </mat-form-field>
                <mat-form-field appearance="outline">
                  <mat-label>Story point equals to</mat-label>
                  <mat-select formControlName="storyPointToDays">
                    <mat-option [value]="0.125">1 hour</mat-option>
                    <mat-option [value]="1">1 day</mat-option>
                    <mat-option [value]="7">1 week</mat-option>
                  </mat-select>
                  <mat-hint
                    >How much time does one story-point usually take for one
                    person?</mat-hint
                  >
                </mat-form-field>
              </form>
            </div>
            <mat-action-row>
              <button mat-flat-button (click)="nextStep()">
                <mat-icon>arrow_forward</mat-icon>
                Continue
              </button>
            </mat-action-row>
          </mat-expansion-panel>
          <mat-expansion-panel #teamMembersExpander>
            <mat-expansion-panel-header>
              <mat-panel-title>Step 2: Team members (optional)</mat-panel-title>
              <!-- <mat-panel-description>
                Add your team members to get more accurate estimates
              </mat-panel-description> -->
            </mat-expansion-panel-header>
            @for(teamMember of teamMembers.controls; track $index) {
            <mat-card appearance="outlined" class="team-member">
              <mat-card-content>
                <h4>Team member {{ $index + 1 }}</h4>
                <form [formGroup]="teamMember">
                  <mat-form-field appearance="outline">
                    <mat-label>Team member name</mat-label>
                    <input matInput formControlName="name" />
                    <mat-hint>Who's working on this project?</mat-hint>
                  </mat-form-field>
                  <mat-form-field appearance="outline">
                    <mat-label>Contribution</mat-label>
                    <input
                      matInput
                      formControlName="contribution"
                      type="number"
                    />
                    <span matTextSuffix>%</span>
                    <mat-hint
                      >How much can this person contribute to the project? Any
                      other projects taking time?</mat-hint
                    >
                  </mat-form-field>
                  <mat-form-field appearance="outline">
                    <mat-label>Days off</mat-label>
                    <input
                      matInput
                      formControlName="daysOffUntilEnd"
                      type="number"
                    />
                    <span matTextSuffix>days</span>
                    <mat-hint
                      >How many days off are expected during the project?
                      Consider sick leaves, vacations, etc.</mat-hint
                    >
                  </mat-form-field>
                </form>
              </mat-card-content>
              <mat-card-actions align="end">
                <button
                  mat-button
                  color="warn"
                  (click)="removeTeamMember($index)"
                >
                  <mat-icon>delete</mat-icon>
                  Remove
                </button>
              </mat-card-actions>
            </mat-card>

            }
            <button mat-stroked-button (click)="addTeamMember()">
              <mat-icon>add</mat-icon>
              Add another team member
            </button>
          </mat-expansion-panel>
        </mat-accordion>
      </div>
      <div class="calculate-container">
        <button mat-flat-button (click)="calculate()">
          <mat-icon>arrow_forward</mat-icon>
          Calculate!
        </button>
      </div>
    </div>
  </section>
  @if (result()) {
  <section class="result-section">
    <div class="result-container">
      <mat-card class="result-statistics">
        <mat-card-content>
          <h3>Timeline</h3>
          <p>
            Based on the parameters you've set, here are the key dates and
            burndown of your project:
          </p>
          <div class="key-dates">
            <div class="key-date">
              <h4 class="key-date-title">
                Estimated end date
                <mat-icon
                  matTooltip="Based on the number of story points you've provided, this is the
                best-case scenario for finishing your project."
                  >help</mat-icon
                >
              </h4>
              <p>
                {{
                  result().estimatedEndDateFromStoryPoints | date : "mediumDate"
                }}
              </p>
            </div>
            <div class="key-date">
              <h4 class="key-date-title">
                Estimated days to complete
                <mat-icon
                  matTooltip="Based on the number of story points you've provided, this is the
                      total number of days required to complete the project."
                  >help</mat-icon
                >
              </h4>
              <p>{{ result().totalDaysFromStoryPoints }}</p>
            </div>
            @if (teamMembers.controls.length) {
            <div class="key-date">
              <h4 class="key-date-title">
                Actual end date
                <mat-icon
                  matTooltip="Considering the available capacity based on your team members,
                      this is the actual end date that is achievable for this project."
                  >help</mat-icon
                >
              </h4>
              <p>{{ result().actualEndDate | date : "mediumDate" }}</p>
            </div>
            <div class="key-date">
              <h4 class="key-date-title">
                Actual days to complete
                <mat-icon
                  matTooltip="Considering the available capacity based on your team members,
                      this is the actual number of days required to finish the
                      project."
                  >help</mat-icon
                >
              </h4>
              <p>{{ result().actualDaysFromCapacity }}</p>
            </div>
            }
          </div>
          <canvas
            baseChart
            [data]="lineChartData()"
            [options]="lineChartOptions"
            [type]="'line'"
          ></canvas>
        </mat-card-content>
      </mat-card>
    </div>
  </section>
  }
</main>
