section.faq-row {
  margin-bottom: 48px;
  h2 {
    font-size: 1.5rem;
  }

  p {
    font-size: 1.1rem;
  }
}

.mat-expansion-panel {
  background: var(--background-color);
  color: #d9e2ff;
  box-shadow: none !important;
  width: 100%;
  --mat-expansion-header-indicator-color: white;

  &.inverse {
    color: #000;
    --mat-expansion-header-indicator-color: #000;
  }

  &:first-of-type {
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
  }

  &:last-of-type {
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
  }

  &:not(.expanded) {
    margin-bottom: 10px;
  }

  .mat-expansion-panel-header {
    height: unset;
    padding: 1rem 0.5rem;
  }

  .mat-expansion-panel-header-title {
    color: #d9e2ff;
    font-size: 1.2rem;
    line-height: 1.4rem;
    font-weight: 400;
  }

  &.inverse {
    .mat-expansion-panel-header-title {
      color: #000;
    }

    ::ng-deep p {
      a {
        color: #000;
      }
    }
  }

  ::ng-deep p {
    a {
      color: white;
    }
  }
}
