.mat-mdc-dialog-content {
  padding: 0;
  transition: height 200ms ease-out;
  max-height: 80vh;
}

.content {
  display: flex;
  padding: 0;

  @media only screen and (max-width: 600px) {
    flex-direction: column;
  }
}

.main-panel {
  flex: 3 0 0;
  display: flex;
  flex-direction: column;

  .title {
    color: #001a43;
    text-align: center;
  }

  .error {
    padding: 1rem;
    background: #ffb4ab;
    color: #690005;
  }

  .social {
    display: flex;
    flex-direction: column;
    padding: 2rem;
    align-items: center;
    justify-content: center;

    small {
      margin-bottom: 1rem;
    }

    button {
      font-size: 1rem;
      height: 56px;
      width: 100%;

      mat-icon {
        margin-right: 1rem;
      }
    }
  }

  .traditional {
    display: flex;
    flex-direction: column;
    padding: 2rem;

    small {
      margin-bottom: 1rem;
      margin-left: auto;
      margin-right: auto;
    }

    form {
      display: flex;
      flex-direction: column;
      gap: 1rem;
      margin-bottom: 1rem;
    }
  }

  @media only screen and (max-width: 600px) {
    order: 1;
  }
}

.side-panel {
  flex: 2 1 0;
  position: relative;

  .background-image {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    object-position: center left;
    object-fit: cover;
  }

  .branding {
    z-index: 1;
    position: relative;
    padding: 2rem 1rem;
    color: white;

    img {
      height: 40px;
      width: 40px;
      border-radius: 8px;
      box-shadow: rgba(5, 18, 37, 0.32) 0px 1px 4px,
        rgba(5, 18, 37, 0.24) 0px 0px 8px;
    }
  }

  @media only screen and (max-width: 600px) {
    order: 0;
    min-height: 150px;

    .branding {
      display: none;
    }
  }
}

.progress-container {
  padding: 5rem 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
