<div mat-dialog-content resizeMonitor [verticalSpacing]="0">
  <div class="content">
    <div class="main-panel">
      <div class="header">
        <h3>
          {{
            intent === SignUpOrLoginIntent.LINK_ACCOUNT
              ? "Create a free Planning Poker account"
              : "Sign in to Planning Poker"
          }}
        </h3>
        <small>
          {{
            intent === SignUpOrLoginIntent.LINK_ACCOUNT
              ? "Enjoy all the benefits of a permanent account, your existing data is
          automatically transferred."
              : "On a new device? No problem, sign back in to your account."
          }}
        </small>
      </div>
      <div class="error" *ngIf="errorMessage$ | async as errorMessage">
        Oh-oh, something went wrong: {{ errorMessage }}
      </div>
      <ng-container *ngIf="isBusy | async; else notBusy">
        <div class="progress-container">
          <mat-progress-spinner
            mode="indeterminate"
            [diameter]="30"
          ></mat-progress-spinner>
        </div>
      </ng-container>
      <ng-template #notBusy>
        <div class="social">
          <small
            >{{
              intent === SignUpOrLoginIntent.LINK_ACCOUNT
                ? "Sign up"
                : "Sign in"
            }}
            with your corporate SSO in a single click.</small
          >
          <button
            mat-stroked-button
            color="primary"
            (click)="onSignUpWithGoogleClicked.next()"
          >
            <mat-icon
              ><svg
                version="1.1"
                xmlns="http://www.w3.org/2000/svg"
                width="18px"
                height="18px"
                viewBox="0 0 48 48"
                class="abcRioButtonSvg"
              >
                <g>
                  <path
                    fill="#EA4335"
                    d="M24 9.5c3.54 0 6.71 1.22 9.21 3.6l6.85-6.85C35.9 2.38 30.47 0 24 0 14.62 0 6.51 5.38 2.56 13.22l7.98 6.19C12.43 13.72 17.74 9.5 24 9.5z"
                  ></path>
                  <path
                    fill="#4285F4"
                    d="M46.98 24.55c0-1.57-.15-3.09-.38-4.55H24v9.02h12.94c-.58 2.96-2.26 5.48-4.78 7.18l7.73 6c4.51-4.18 7.09-10.36 7.09-17.65z"
                  ></path>
                  <path
                    fill="#FBBC05"
                    d="M10.53 28.59c-.48-1.45-.76-2.99-.76-4.59s.27-3.14.76-4.59l-7.98-6.19C.92 16.46 0 20.12 0 24c0 3.88.92 7.54 2.56 10.78l7.97-6.19z"
                  ></path>
                  <path
                    fill="#34A853"
                    d="M24 48c6.48 0 11.93-2.13 15.89-5.81l-7.73-6c-2.15 1.45-4.92 2.3-8.16 2.3-6.26 0-11.57-4.22-13.47-9.91l-7.98 6.19C6.51 42.62 14.62 48 24 48z"
                  ></path>
                  <path fill="none" d="M0 0h48v48H0z"></path>
                </g>
              </svg>
            </mat-icon>
            {{
              intent === SignUpOrLoginIntent.LINK_ACCOUNT
                ? "Sign up with Google"
                : "Sign in with Google"
            }}
          </button>
        </div>
        <mat-divider></mat-divider>
        <div class="traditional">
          <small>{{
            intent === SignUpOrLoginIntent.LINK_ACCOUNT
              ? "Or, register with your e-mail address:"
              : "Or, sign-in with your e-mail address:"
          }}</small>
          <form [formGroup]="form">
            <mat-form-field appearance="outline">
              <mat-label>E-mail</mat-label>
              <input
                matInput
                type="email"
                placeholder="you@company.com"
                formControlName="email"
              />
              <mat-icon matSuffix>alternate_email</mat-icon>
              <mat-hint>Most people use their work e-mail here.</mat-hint>
              <mat-error *ngIf="form.controls.email.errors?.['email']"
                >This does not look like a valid e-mail.</mat-error
              >
            </mat-form-field>
            <mat-form-field appearance="outline">
              <mat-label>Password</mat-label>
              <input matInput type="password" formControlName="password" />
              <mat-icon matSuffix>lock</mat-icon>
              <mat-error *ngIf="form.controls.password.errors?.['minlength']"
                >Password must be at least 8 characters long.</mat-error
              >
            </mat-form-field>
          </form>
          <button
            mat-stroked-button
            [disabled]="!form.valid"
            (click)="onCreateAccountClicked.next()"
          >
            {{
              intent === SignUpOrLoginIntent.LINK_ACCOUNT
                ? "Create account"
                : "Sign in"
            }}
          </button>
        </div>
      </ng-template>
    </div>
    <div class="side-panel">
      <picture>
        <source srcset="/assets/easy_accessible.webp" type="image/webp" />
        <source srcset="/assets/easy_accessible.jpeg" type="image/jpeg" />
        <img
          src="/assets/easy_accessible.jpeg"
          alt="UI components laid out visually"
        />
      </picture>
    </div>
  </div>
</div>
