<mat-card appearance="outlined" class="filter-card">
  <mat-card-content>
    <mat-form-field appearance="outline" class="filter-field">
      <mat-label>Search sessions</mat-label>
      <input
        matInput
        placeholder="Search for topic names"
        [formControl]="filter"
        autocomplete="off"
      />
      <mat-hint
        >Find topics like "JIRA-1234" from your previous sessions</mat-hint
      >
    </mat-form-field>
    <div class="premium-banner" *ngIf="(isPremium$ | async) === false">
      <h2 class="title">Unlock your full history</h2>
      <p>
        Subscribe to Planning Poker Premium to unlock your full planning history.
        Free accounts can view their last 3 sessions only.
      </p>
      <button mat-flat-button color="primary" (click)="clickedLearnMorePremium()">
        Learn more
      </button>
    </div>
  </mat-card-content>
</mat-card>

<div class="spinner-container" *ngIf="isLoading | async">
  <mat-progress-spinner
    mode="indeterminate"
    diameter="30"
  ></mat-progress-spinner>
</div>

<ng-container *ngIf="exportData | async; let exportData">
  <ng-container *ngIf="filteredSessions | async; let filteredSessions">
    <div [@staggerFadeAnimation]="filteredSessions.length">
      <div *ngFor="let session of filteredSessions" class="room-list-item">
        <mat-accordion>
          <mat-expansion-panel>
            <mat-expansion-panel-header>
              <mat-panel-title>
                {{ session.roomId }}
              </mat-panel-title>
              <mat-panel-description>
                {{ session.createdAt.seconds * 1000 | date : "short" }}
              </mat-panel-description>
            </mat-expansion-panel-header>
            <mat-list>
              <mat-list-item
                *ngFor="let round of exportData[session.id]?.rows"
                class="round-list-item"
              >
                {{ round.topic }}
                <span
                  matListItemMeta
                  class="round-average"
                  *ngIf="round.average !== ''"
                  >{{ round.average }}</span
                >
              </mat-list-item>
            </mat-list>
            <div class="actions">
              <a
                mat-stroked-button
                color="primary"
                [routerLink]="'/room/' + session.roomId"
              >
                <mat-icon>history</mat-icon>
                Rejoin
              </a>
            </div>
          </mat-expansion-panel>
        </mat-accordion>
      </div>
    </div>
    <div
      class="empty-container"
      *ngIf="!filteredSessions.length"
      @delayedFadeAnimation
    >
      <span *ngIf="!(previousSessions | async)?.length && !filter.value?.length"
        >No previous sessions.</span
      >
      <span *ngIf="filter.value?.length">No results found.</span>
    </div>
  </ng-container>
</ng-container>
