@import "../../common.scss";

.table-card {
  transition: height 200ms ease-out;
  border-color: var(--card-border-color);
}

mat-card {
  margin-bottom: 2rem;
  &.table-card {
    overflow: hidden;
  }
}

.premium-banner {
  margin: 1rem;

  @include extraSmallScreen {
    margin: 0.5rem;
  }
}
