<mat-card appearance="outlined" class="rounded-card">
  @if (isExpanded()) {
  <mat-card-content class="big-panel">
    <div class="action-buttons-container main-room-actions">
      @if (room()?.isAsyncVotingEnabled) {
      <div class="alert">
        <button
          mat-icon-button
          matTooltip="View previous round"
          (click)="changeLocalRound(-1)"
          [disabled]="localActiveRound.value === 0"
          id="async-previous-round"
        >
          <mat-icon>chevron_left</mat-icon>
        </button>
        <span>Async voting enabled</span>
        <button
          mat-icon-button
          matTooltip="View next round"
          (click)="changeLocalRound(1)"
          [disabled]="localActiveRound.value === rounds().length - 1"
          id="async-next-round"
        >
          <mat-icon>chevron_right</mat-icon>
        </button>
      </div>
      } @if (currentRound() === rounds().length - 1 &&
      !room().isAsyncVotingEnabled) {
      <button
        mat-flat-button
        color="primary"
        (click)="newRoundClicked.next()"
        [disabled]="
          !(permissionsService.canCreateRounds() | async) ||
          (newRoundButtonCooldownState$ | async).includes('cooldown') ||
          isEditingTopic()
        "
        class="new-round-button main-button"
        id="new-round-button"
      >
        @if ((newRoundButtonCooldownState$ | async) === 'cooldown') {
        <div class="center-icon-button" @fadeAnimation>
          <mat-icon>checkmark</mat-icon>
          Round #{{ currentRound() + 1 }} created
        </div>
        } @if ((newRoundButtonCooldownState$ | async) === 'initial') {
        <div class="center-icon-button" @fadeAnimation>
          <mat-icon>add</mat-icon>
          New round
        </div>
        }
      </button>
      } @if (currentRound() < rounds().length - 1 &&
      !room()?.isAsyncVotingEnabled) {
      <button
        mat-flat-button
        color="primary"
        (click)="nextRound()"
        [disabled]="
          !(permissionsService.canCreateRounds() | async) || isEditingTopic()
        "
        id="next-round-button"
        class="main-button"
      >
        <div class="center-icon-button">
          <mat-icon>navigate_next</mat-icon>
          Next round
        </div>
      </button>
      } @if (!room()?.isAsyncVotingEnabled) {
      <div
        class="split-action-button-container"
        [class.disabled]="
          !(permissionsService.canRevealResults() | async) ||
          (room()?.rounds)[currentRound()]?.show_results
        "
      >
        <button
          mat-stroked-button
          color="primary"
          (click)="showResults()"
          [disabled]="
            (room()?.rounds)[currentRound()]?.show_results ||
            !(permissionsService.canRevealResults() | async)
          "
          id="reveal-results-button"
          class="main-button"
        >
          <div class="center-icon-button">
            <mat-icon>visibility</mat-icon>
            {{
              (room()?.rounds)[currentRound()]?.show_results
                ? "Votes revealed"
                : "Reveal votes"
            }}
          </div>
        </button>
        <div
          class="split-action-button-container-side-button"
          [class.enabled]="room().isAutoRevealEnabled"
        >
          <button
            id="auto-reveal-button"
            mat-icon-button
            (click)="toggleAutoReveal()"
            [disabled]="!(permissionsService.canRevealResults() | async)"
            [matTooltip]="
              room().isAutoRevealEnabled
                ? 'Disable auto-reveal'
                : 'Enable auto-reveal (reveals results once all votes are cast)'
            "
          >
            <mat-icon class="material-symbols-outlined"
              >visibility_lock</mat-icon
            >
          </button>
        </div>
      </div>

      }
    </div>
    <div class="room-id-container">
      <h4>
        <span
          >Room ID: <strong>{{ room()?.roomId }}</strong></span
        >
        <button
          mat-stroked-button
          (click)="inviteButtonClicked.next()"
          [disabled]="(inviteButtonCooldownState$ | async).includes('cooldown')"
          id="invite-button"
        >
          @if ((inviteButtonCooldownState$ | async) === 'initial') {
          <div class="center-icon-button" @fadeAnimation>
            <mat-icon>link</mat-icon>
            Invite
          </div>
          } @if ((inviteButtonCooldownState$ | async) === 'cooldown') {
          <div class="center-icon-button" @fadeAnimation>
            <mat-icon>checkmark</mat-icon>
            {{ config.runningIn === "web" ? "Copied" : "Invited" }}
          </div>
          }
        </button>
      </h4>
    </div>
    <div class="card-footer-actions">
      <countdown-timer [room]="room$()" [minimized]="false" />
    </div>
    <div class="card-footer-actions align-right">
      <button
        mat-stroked-button
        #menuTrigger="matMenuTrigger"
        [matMenuTriggerFor]="roomSettingsMenu"
        id="room-options-button"
        class="responsive-label-button"
        matTooltip="Room settings"
      >
        <mat-icon>settings</mat-icon>
        Room settings
      </button>
      <button
        mat-stroked-button
        id="manage-rounds-button"
        class="responsive-label-button forced"
        matTooltip="Manage rounds"
        (click)="sidebarTriggered.emit()"
      >
        <mat-icon>list</mat-icon>
        Rounds
      </button>
      <button
        mat-stroked-button
        matTooltip="Minimize control panel"
        (click)="expandClicked.emit()"
        class="responsive-label-button forced"
        id="minimize-panel-button"
      >
        @if (!isSmallScreen()) {
        <mat-icon>chevron_right</mat-icon>
        } @else {
        <mat-icon>expand_less</mat-icon>
        }
      </button>
    </div>
  </mat-card-content>
  } @if (!isExpanded()) {
  <mat-card-content class="mini-panel">
    @if (currentRound() === rounds().length - 1 && !room().isAsyncVotingEnabled)
    {
    <button
      mat-icon-button
      aria-label="New round"
      color="primary"
      (click)="newRoundClicked.next()"
      [disabled]="
        !(permissionsService.canCreateRounds() | async) ||
        (newRoundButtonCooldownState$ | async).includes('cooldown') ||
        isEditingTopic()
      "
      class="new-round-button"
      id="new-round-button"
      matTooltip="Add a new round"
      [matTooltipPosition]="isSmallScreen() ? 'below' : 'left'"
    >
      @if ((newRoundButtonCooldownState$ | async) === 'cooldown') {
      <mat-icon @fadeAnimation>checkmark</mat-icon>
      } @if ((newRoundButtonCooldownState$ | async) === 'initial') {
      <mat-icon @fadeAnimation>add</mat-icon>
      }
    </button>
    } @if (currentRound() < rounds().length - 1 && !room().isAsyncVotingEnabled)
    {
    <button
      mat-icon-button
      color="primary"
      (click)="nextRound()"
      [disabled]="
        !(permissionsService.canCreateRounds() | async) || isEditingTopic()
      "
      matTooltip="Go to next round"
      [matTooltipPosition]="isSmallScreen() ? 'below' : 'left'"
      id="next-round-button"
    >
      <mat-icon>navigate_next</mat-icon>
    </button>
    } @if (!room().isAsyncVotingEnabled) {
    <button
      mat-icon-button
      (click)="showResults()"
      [disabled]="
        (room()?.rounds)[currentRound()]?.show_results ||
        !(permissionsService.canRevealResults() | async)
      "
      matTooltip="Reveal results"
      [matTooltipPosition]="isSmallScreen() ? 'below' : 'left'"
      id="reveal-results-button"
    >
      <mat-icon>visibility</mat-icon>
    </button>
    } @if (room().isAsyncVotingEnabled) {
    <button
      mat-icon-button
      matTooltip="View previous round"
      (click)="changeLocalRound(-1)"
      [disabled]="localActiveRound.value === 0"
      color="primary"
    >
      <mat-icon>chevron_left</mat-icon>
    </button>
    } @if (room().isAsyncVotingEnabled) {
    <button
      mat-icon-button
      matTooltip="View next round"
      (click)="changeLocalRound(1)"
      [disabled]="localActiveRound.value === rounds().length - 1"
      color="primary"
    >
      <mat-icon>chevron_right</mat-icon>
    </button>
    }
    <button
      mat-icon-button
      (click)="inviteButtonClicked.next()"
      [disabled]="(inviteButtonCooldownState$ | async).includes('cooldown')"
      matTooltip="Invite others"
      [matTooltipPosition]="isSmallScreen() ? 'below' : 'left'"
      id="invite-button"
    >
      @if ((inviteButtonCooldownState$ | async) === 'initial') {
      <mat-icon @fadeAnimation>link</mat-icon>
      } @if ((inviteButtonCooldownState$ | async) === 'cooldown') {
      <mat-icon @fadeAnimation>checkmark</mat-icon>
      }
    </button>
    <countdown-timer [room]="room$()" [minimized]="true" />
    <button
      mat-icon-button
      [matMenuTriggerFor]="roomSettingsMenu"
      id="room-options-button"
      matTooltip="Room settings"
      [matTooltipPosition]="isSmallScreen() ? 'below' : 'left'"
    >
      <mat-icon>settings</mat-icon>
    </button>
    <div>
      <button
        mat-icon-button
        (click)="expandClicked.emit()"
        matTooltip="Expand control panel"
        [matTooltipPosition]="isSmallScreen() ? 'below' : 'left'"
        id="expand-button"
      >
        @if (!isSmallScreen()) {
        <mat-icon>chevron_left</mat-icon>
        } @else {
        <mat-icon>expand_more</mat-icon>
        }
      </button>
    </div>
  </mat-card-content>
  }
</mat-card>
<mat-menu #roomSettingsMenu="matMenu">
  <button
    mat-menu-item
    aria-label="Toggle topics sidebar"
    (click)="sidebarTriggered.emit()"
    class="topics-toggle"
    id="topics-toggle"
  >
    <mat-icon>list</mat-icon>
    Manage rounds
  </button>
  <mat-divider />
  <button
    mat-menu-item
    [matMenuTriggerFor]="menu"
    aria-label="Estimator settings"
    class="estimator-settings-button"
    (click)="clickedUnitsButton()"
    id="card-sets-button"
    [disabled]="!(permissionsService.canChangeCardSet() | async)"
  >
    <mat-icon>style</mat-icon>
    Set cards
  </button>
  <button
    mat-menu-item
    [matMenuTriggerFor]="changeRoleMenu"
    aria-label="Switch current role"
    id="switch-role-button"
  >
    <mat-icon>switch_account</mat-icon>
    Change role
  </button>
  <button
    mat-menu-item
    [matMenuTriggerFor]="voteSettingsMenu"
    aria-label="Vote settings"
    id="vote-settings-button"
  >
    <mat-icon>ballot</mat-icon>
    Voting settings
  </button>
  <button
    mat-menu-item
    aria-label="Permissions and security"
    class="estimator-settings-button"
    (click)="openRoomConfigurationModal()"
  >
    <mat-icon>security</mat-icon>
    <span>Security and permissions</span>
  </button>
  <mat-divider />
  <button mat-menu-item (click)="muteClicked.emit()" id="sound-button">
    <mat-icon>{{ isMuted() ? "volume_mute" : "volume_up" }}</mat-icon>
    {{ isMuted() ? "Sound is off" : "Sound is on" }}
  </button>
  <button
    mat-menu-item
    color="warn"
    (click)="leaveRoom()"
    id="leave-room-button"
  >
    <mat-icon>exit_to_app</mat-icon>
    Leave room
  </button>
</mat-menu>
<mat-menu #voteSettingsMenu="matMenu">
  <div mat-menu-item role="menuitemcheckbox" class="pass-option">
    <mat-checkbox
      (click)="toggleAutoReveal(); $event.stopPropagation()"
      [disabled]="!(permissionsService.canRevealResults() | async)"
      [checked]="room()?.isAutoRevealEnabled"
      class="menu-option-checkbox auto-reveal-checkbox"
      ><span class="pass-option-label"
        >Auto-reveal results
        <mat-icon
          matTooltip="When enabled, results are revealed once all votes are cast."
          class="menu-item-icon"
          >help</mat-icon
        ></span
      ></mat-checkbox
    >
  </div>
  <div mat-menu-item role="menuitemcheckbox" class="pass-option">
    <mat-checkbox
      (click)="toggleAsyncVoting(); $event.stopPropagation()"
      [checked]="room()?.isAsyncVotingEnabled"
      class="menu-option-checkbox async-vote-checkbox"
      ><span class="pass-option-label"
        >Async voting
        <mat-icon
          matTooltip="Async voting lets team members vote on their own pace. Make sure you prepare topics in advance before enabling async voting. Once all votes are cast disable async mode to discuss results together."
          class="menu-item-icon"
          >help</mat-icon
        ></span
      ></mat-checkbox
    >
  </div>
  <div mat-menu-item role="menuitemcheckbox" class="pass-option">
    <mat-checkbox
      (click)="toggleAnonymousVoting(); $event.stopPropagation()"
      [checked]="room()?.isAnonymousVotingEnabled"
      class="menu-option-checkbox anonymous-vote-checkbox"
      ><span class="pass-option-label"
        >Anonymous voting
        <mat-icon
          matTooltip="Anonymous voting hides members' names to reduce bias during discussions."
          class="menu-item-icon"
          >help</mat-icon
        ></span
      ></mat-checkbox
    >
  </div>
  <div mat-menu-item role="menuitemcheckbox" class="pass-option">
    <mat-checkbox
      (click)="toggleChangeVoteAfterReveal(); $event.stopPropagation()"
      [checked]="room()?.isChangeVoteAfterRevealEnabled"
      class="menu-option-checkbox change-vote-checkbox"
      ><span class="pass-option-label"
        >Change vote after reveal
        <mat-icon
          matTooltip="Allow members to change their vote after the results are revealed."
          class="menu-item-icon"
          >help</mat-icon
        ></span
      ></mat-checkbox
    >
  </div>
</mat-menu>
<mat-menu #menu="matMenu">
  @for (cardSet of estimationCardSets(); track $index) {
  <button
    mat-menu-item
    (click)="setEstimationCardSet(cardSet)"
    [ngClass]="
      selectedEstimationCardSetValue().key === cardSet.key && 'selected'
    "
  >
    <mat-icon>{{ cardSet.icon }}</mat-icon>
    <span class="card-set-title"
      >{{ cardSet.title }} ({{ getCardSetDisplayValues(cardSet) }})</span
    >
  </button>
  }
  <mat-divider></mat-divider>
  <div mat-menu-item role="menuitemcheckbox" class="pass-option">
    <mat-checkbox
      (click)="toggleShowPassOption(); $event.stopPropagation()"
      [checked]="room()?.showPassOption"
      class="menu-option-checkbox pass-option-checkbox"
      ><span class="pass-option-label"
        >Include "Pass" (?) card</span
      ></mat-checkbox
    >
  </div>
  <mat-divider></mat-divider>
  <button
    mat-menu-item
    [matMenuTriggerFor]="savedCardsMenu"
    aria-label="Saved card sets"
    id="card-saved-sets-button"
    [disabled]="savedCardSets().length === 0"
  >
    <mat-icon>cloud</mat-icon>
    Saved card sets ({{ savedCardSets().length }})
  </button>
  <mat-menu #savedCardsMenu="matMenu">
    @for (cardSet of savedCardSets(); track $index) {
    <button mat-menu-item (click)="setEstimationCardSet(cardSet)">
      <mat-icon>cloud_download</mat-icon>
      <span class="card-set-title"
        >{{ cardSet.title }} ({{ getCardSetDisplayValues(cardSet) }})
        <button
          mat-icon-button
          class="menu-item-action-button delete-card-set-button"
          (click)="deleteSavedCardSet(cardSet.id); $event.stopPropagation()"
        >
          <mat-icon class="menu-item-icon">delete</mat-icon>
        </button>
      </span>
    </button>
    }
  </mat-menu>
  <button mat-menu-item (click)="openAddCardDeckModal()">
    <mat-icon>add</mat-icon>
    <span>Set a custom card deck</span>
  </button>
</mat-menu>
<mat-menu #changeRoleMenu="matMenu">
  <button
    mat-menu-item
    [class.selected]="(activeMember$() | async)?.type === MemberType.ESTIMATOR"
    (click)="updateMemberType(MemberType.ESTIMATOR)"
  >
    <mat-icon>how_to_vote</mat-icon>
    Estimator
  </button>
  <button
    mat-menu-item
    [class.selected]="(activeMember$() | async)?.type === MemberType.OBSERVER"
    (click)="updateMemberType(MemberType.OBSERVER)"
  >
    <mat-icon>visibility</mat-icon>
    Observer
  </button>
</mat-menu>
