:host {
  display: block;
}

.page-container {
  min-height: 80vh;
  padding: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;

  mat-card {
    max-width: 600px;
  }
}

mat-card-actions {
  padding-top: 1rem;
  a {
    margin-left: 0.5rem;
  }
}
