@import "../../common.scss";

.banner {
  display: flex;
  flex-direction: column;

  &.banner-info {
    // background: var(--on-light-background-color);
    color: var(--text-on-white);
  }

  &.banner-gray {
    // background: var(--on-light-background-color);
  }

  .banner-icon {
    flex-shrink: 0;
  }

  .banner-main {
    display: flex;
    gap: 1rem;

    @include extraSmallScreen {
      flex-direction: column;
    }
  }

  .banner-action {
    display: flex;
    gap: 0.5rem;

    @include extraSmallScreen {
      flex-direction: column;
    }
  }
}

ul {
  padding-inline-start: 0px;
}

li {
  list-style-type: none;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  margin-bottom: 0.5rem;

  mat-icon {
    flex-shrink: 0;
  }
}
