<div
  class="banner banner-info"
  *ngIf="(user | async)?.isAnonymous && (!hideable || (hideable && !isHidden))"
  [class.banner-gray]="bannerStyle === 'gray'"
>
  <div class="banner-main">
    <mat-icon class="banner-icon" color="primary"> info </mat-icon>
    <div class="banner-content">
      <p>
        You are currently using Planning Poker with an anonymous account. Create
        a free a permanent account in two clicks to:
      </p>
      <ul>
        <li>Store your session and voting history securely</li>
        <li>
          Use the same profile across multiple devices and platforms (web & Zoom
          app)
        </li>
        <li>Be the first to try new features</li>
      </ul>
    </div>
  </div>

  <div class="banner-action">
    <button
      mat-flat-button
      color="primary"
      (click)="onSignUpClicked.next()"
      [disabled]="isBusy | async"
    >
      <mat-icon>account_circle</mat-icon>
      Sign up with Google
    </button>
    <button
      mat-flat-button
      color="secondary"
      (click)="hideBanner()"
      *ngIf="hideable"
    >
      <mat-icon>schedule</mat-icon>
      Maybe later
    </button>
  </div>
</div>
