.banner {
    border-radius: 4px;
    padding: 16px;

    display: flex;
    flex-direction: column;
    gap: 1rem;

    &.banner-info {
        background: #fefefe;
    }

    .banner-main {
        display: flex;
        gap: 1rem;
    }
}