<div class="star-rating">
  @if (!submitted) {
    <p class="stars-description">
      How would you rate your experience with this app today?
    </p>
    <div class="stars">
      @for (starValue of stars; track starValue; let i = $index) {
        <mat-icon (click)="toggleStarsUntil(i)">
          {{ starValue ? 'star' : 'star_outline' }}
        </mat-icon>
      }
    </div>
    <div class="actions">
      <button mat-flat-button (click)="submit()">
        <mat-icon>done</mat-icon>
        Submit rating
      </button>
      <button mat-stroked-button color="secondary" (click)="closeSnackbar()">
        <mat-icon>close</mat-icon>
        Close
      </button>
    </div>
  }
  @if (submitted) {
    <p>
      Thank you for providing your rating! Would you be willing to share more
      details with us to improve this app? We read every feedback - it helps us
      immensely.
    </p>
    <mat-form-field appearance="outline">
      <input
        matInput
        [formControl]="additionalFeedback"
        [placeholder]="
          rating <= 3
            ? 'What can we improve about the app?'
            : 'What do you like about the app?'
        " />
    </mat-form-field>
    <div class="actions">
      <button mat-flat-button (click)="clickedSubmitWithFeedback()">
        <mat-icon>send</mat-icon>
        Submit feedback
      </button>
      <button mat-stroked-button color="secondary" (click)="closeSnackbar()">
        <mat-icon>close</mat-icon>
        Close
      </button>
    </div>
  }
</div>
