$opacityTransition: "opacity 400ms cubic-bezier(0.25, 0.8, 0.25, 1)";

.join-container {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  &:focus {
    outline: none !important;
  }
}

.navbar {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

.terms {
  padding-top: 16px;
}

.welcome-name-container {
  color: white;
  margin-bottom: 1rem;
  text-align: center;
}

.action-card {
  padding: 1rem 0rem;
  width: 100%;
  max-width: 350px;
  margin-bottom: 16px;
  transition: height 300ms 100ms ease-out;
  overflow: hidden;
  flex-shrink: 0;
  border: none;

  @media screen and (max-width: 600px) {
    width: 80%;
  }

  .mat-mdc-card-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
  }

  form {
    width: 90%;
    .mat-mdc-form-field {
      width: 100%;
    }
  }
}

.organization-logo-container {
  display: inline-flex;
  color: white;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.logos {
  display: flex;
  margin-bottom: 2rem;
  gap: 1rem;
  position: relative;
}

.logo {
  width: 70px;
  height: 70px;
  border-radius: 8px;
  box-shadow: rgba(5, 18, 37, 0.32) 0px 1px 4px,
    rgba(5, 18, 37, 0.24) 0px 0px 8px;

  &.organization-logo {
    background: white;
    object-fit: contain;
    margin-bottom: 0;
    color: black;
    display: flex;
    align-items: center;
    justify-content: center;

    &.text-only {
      padding: 4px;
      p {
        font-size: 0.7rem;
        word-break: break-all;
        margin: 0;
        text-align: center;
      }
    }
  }
}

.links {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 8px;
  a {
    color: white;
    text-decoration: none;
    opacity: 0.7;
    cursor: pointer;

    &:hover {
      opacity: 1;
    }
  }
}

.sign-in-button {
  color: white !important;
}

.observer-info {
  margin-bottom: 1rem;
  small {
    text-align: initial;
  }
}
