<div class="page-wrapper">
  @if (pageMode === 'modal') {
    <div class="close-button">
      <button mat-button mat-dialog-close>
        <mat-icon>arrow_back</mat-icon>Back
      </button>
    </div>
  }
  <div class="content">
    <h1 class="title">Pricing</h1>
    <p class="description">
      Everyone can <strong>join rooms for free</strong>, while room creators
      (like Scrum Masters) pick a payment option that suits them.<br /><br />
      Each new room you create costs 1 credit. Everything else is free — no
      extra charges for using the app in Teams, Zoom, Meet, Webex, or any other
      platform, regardless of how many participants or features you use.
      <br /><br />
      Start with a free credit bundle, and as a registered user, you’ll also
      receive <strong>1 free credit every month</strong>. Need more? Easily
      top-up your account or switch to an unlimited subscription. Want to share
      credits with your team? Explore our organization credit options.
    </p>
    <mat-card appearance="outlined" class="pricing-configurator">
      <mat-card-content>
        <div class="pricing-configurator-row">
          <span>I want to buy credits for:</span>
          <mat-form-field appearance="outline" subscriptSizing="dynamic">
            <mat-select [formControl]="creditTypeSelector">
              <mat-option value="personal">Myself</mat-option>
              <mat-option value="organization">My organization</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div class="pricing-configurator-row">
          <span>I want to pay in:</span>
          <mat-form-field appearance="outline" subscriptSizing="dynamic">
            <mat-select [formControl]="currencyControl">
              <mat-option value="usd">USD</mat-option>
              <mat-option value="eur">EUR</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </mat-card-content>
    </mat-card>
    <mat-tab-group
      class="plan-selector"
      [selectedIndex]="selectedTabIndex()"
      (selectedIndexChange)="selectedTabIndex.set($event)">
      <mat-tab label="Pay-as-you-go">
        @if (creditTypeSelector.value === 'personal') {
          <div class="options-wrapper">
            @for (plan of PLANS; track plan.id) {
              <div class="option">
                <div class="plan-image-and-title">
                  <div class="image-wrapper">
                    @if (config.runningIn !== 'web') {
                      <img class="plan-image" [src]="plan.imageUrl" />
                    } @else {
                      <img
                        class="plan-image"
                        [ngSrc]="plan.cloudinaryId"
                        [alt]="plan.creditAmount + ' pieces of poker chips'"
                        placeholder
                        width="675"
                        height="675" />
                    }
                  </div>
                  <h3 class="plan-title">{{ plan.title }}</h3>
                </div>
                <p class="plan-description">
                  <strong>{{ plan.creditAmount }} credits</strong>
                  {{ plan.description }}
                </p>
                <div class="plan-price">
                  <span class="price-amount"
                    >{{ currencyControl.value === 'eur' ? '€' : '$'
                    }}{{ plan.priceEuro }}</span
                  >
                  <span class="price-description">{{
                    plan.priceDescription
                  }}</span>
                </div>
                <button
                  mat-flat-button
                  color="primary"
                  class="select-plan"
                  [disabled]="
                    plan.isSelectDisabled ||
                    (isLoadingStripeForBundle &&
                      isLoadingStripeForBundle === plan.bundleName)
                  "
                  (click)="buyBundle(plan.bundleName)">
                  {{
                    isLoadingStripeForBundle &&
                    isLoadingStripeForBundle === plan.bundleName
                      ? 'Redirecting to Stripe...'
                      : 'Buy'
                  }}
                </button>
              </div>
            }
          </div>
        } @else {
          <mat-card appearance="outlined" class="org-price-configurator">
            <mat-card-content>
              <div class="org-price-configurator-content">
                <div class="org-price-configurator-image">
                  <div class="image-wrapper">
                    <img
                      class="plan-image"
                      src="/assets/credits_no_number.png" />
                  </div>
                </div>
                <div class="org-price-configurator-config">
                  <h3 class="plan-title">Organization bundle</h3>
                  <p class="plan-description">
                    Simplify planning poker for your entire organization with
                    bulk credits. This option is perfect for teams with multiple
                    SCRUM Masters using PlanningPoker.live. Enjoy shared credits
                    that never expire, ad-free rooms for focused sessions, and
                    cost-effective team-wide planning.
                  </p>
                  <div class="purchase-form" [formGroup]="purchaseForm">
                    <planning-poker-organization-selector
                      label="Select organization"
                      hint="Credits will be assigned to this org."
                      formControlName="organizationId"
                      class="organization-selector" />
                    <mat-form-field
                      appearance="outline"
                      subscriptSizing="dynamic">
                      <mat-label>Select credit amount</mat-label>
                      <mat-select formControlName="creditCount">
                        <mat-option [value]="150">150 credits</mat-option>
                        <mat-option [value]="300">300 credits</mat-option>
                        <mat-option [value]="500">500 credits</mat-option>
                      </mat-select>
                    </mat-form-field>
                    <div class="summary">
                      <span class="summary-count">{{
                        orgCreditAmountLabel$ | async
                      }}</span>
                      <span class="summary-total">{{
                        orgCreditTotalLabel$ | async
                      }}</span>
                    </div>
                    <span class="hint"
                      >Do you have a coupon code? You can apply it on the Stripe
                      checkout page.</span
                    >
                    <button
                      mat-flat-button
                      color="primary"
                      class="select-plan"
                      [disabled]="
                        purchaseForm.invalid ||
                        (isLoadingStripeForBundle &&
                          isLoadingStripeForBundle ===
                            BundleName.ORGANIZATION_BUNDLE)
                      "
                      (click)="buyOrganizationBundle()">
                      {{
                        isLoadingStripeForBundle &&
                        isLoadingStripeForBundle ===
                          BundleName.ORGANIZATION_BUNDLE
                          ? 'Redirecting to Stripe...'
                          : 'Purchase'
                      }}
                    </button>
                  </div>
                </div>
              </div>
            </mat-card-content>
          </mat-card>
        }
      </mat-tab>
      <mat-tab
        label="Unlimited use"
        [disabled]="creditTypeSelector.value === 'organization'">
        <div class="options-wrapper">
          <div class="option">
            <div class="plan-image-and-title">
              <div class="image-wrapper">
                <img class="plan-image" src="/assets/logo.png" />
              </div>
              <h3 class="plan-title">Premium subscription</h3>
            </div>

            <p class="plan-description">
              <strong>Unlimited credits</strong> for SCRUM masters of multiple
              teams in larger organizations. Simple monthly or yearly invoicing,
              personal customer support. No ads.
            </p>
            <div class="plan-price">
              <span class="price-amount"
                >{{ currencyControl.value === 'eur' ? '€' : '$' }}15</span
              >
              <span class="price-description"
                >billed monthly or 150{{
                  currencyControl.value === 'eur' ? '€' : '$'
                }}/year</span
              >
            </div>
            <button
              mat-flat-button
              color="primary"
              class="select-plan"
              (click)="subscribeToPremium()"
              [disabled]="isLoadingStripe">
              {{ isLoadingStripe ? 'Redirecting to Stripe...' : 'Subscribe' }}
            </button>
          </div>
        </div>
      </mat-tab>
    </mat-tab-group>
    <app-faq-section
      [faqs]="FAQS"
      [inverse]="pageMode === 'page' || theme() !== Theme.DARK"
      [hideMoreButton]="true"></app-faq-section>
    <h2 class="title">Everything included</h2>
    <p class="description">
      Everything you need for awesome planning sessions. Integrated with your
      favorite tools. Used by tens of thousands every month. Open-source
      codebase.
    </p>
    <div class="features-list-container">
      <ul class="premium-features-list">
        <li>
          <div class="icon">
            <mat-icon>groups</mat-icon>
          </div>
          <div class="feature-details">
            <h5>Unlimited members</h5>
            Invite everyone to the room and vote on all of your topics
          </div>
        </li>
        <li>
          <div class="icon">
            <mat-icon>video_call</mat-icon>
          </div>
          <div class="feature-details">
            <h5>Video conferencing</h5>
            The most convenient planning app lives right in your meeting.
            Download our extension for Teams, Zoom or Webex.
          </div>
        </li>
        <li>
          <div class="icon">
            <mat-icon>link</mat-icon>
          </div>
          <div class="feature-details">
            <h5>JIRA & Linear integration</h5>
            Super fast & simple ticket selection right from the topic editor.
            Upload your results with a single click.
          </div>
        </li>
        <li>
          <div class="icon">
            <mat-icon>security</mat-icon>
          </div>
          <div class="feature-details">
            <h5>Private rooms</h5>
            Create private rooms protected by a password or open them for your
            org only.
          </div>
        </li>
        <li>
          <div class="icon">
            <mat-icon>manage_history</mat-icon>
          </div>
          <div class="feature-details">
            <h5>Keep track of previous sessions</h5>
            View your history, compare votes and download results.
          </div>
        </li>
        <li>
          <div class="icon">
            <mat-icon>style</mat-icon>
          </div>
          <div class="feature-details">
            <h5>Customize card sets</h5>
            Create a custom card set and reuse sets across meetings.
          </div>
        </li>
        <li>
          <div class="icon">
            <mat-icon>settings_input_composite</mat-icon>
          </div>
          <div class="feature-details">
            <h5>Custom permissions</h5>
            Adjust room member permissions to your preferences.
          </div>
        </li>
        <li>
          <div class="icon">
            <mat-icon>coffee</mat-icon>
          </div>
          <div class="feature-details">
            <h5>Async voting</h5>
            Let members vote on their own pace asynchronously.
          </div>
        </li>
        <li>
          <div class="icon">
            <mat-icon>no_accounts</mat-icon>
          </div>
          <div class="feature-details">
            <h5>Anonymous voting</h5>
            Reduce bias by hiding voters' identites for more balanced estimates.
          </div>
        </li>
        <li>
          <div class="icon">
            <mat-icon>auto_fix_normal</mat-icon>
          </div>
          <div class="feature-details">
            <h5>Summarize meetings with PokerBot</h5>
            Use the AI Scrum Master to generate useful summaries for follow-ups.
          </div>
        </li>
      </ul>
    </div>
  </div>
</div>
