<div class="editor-container">
  <mat-form-field
    class="topic-control"
    appearance="outline"
    subscriptSizing="dynamic"
  >
    <input
      placeholder="Write a short description of the topic or search/select a ticket from an integration"
      [formControl]="roundTopic"
      cdkFocusInitial
      autofocus
      matInput
      id="topic-name"
      type="text"
      [matAutocomplete]="auto"
      (keyup.escape)="canceled.next(true)"
      #topicInput
    />
    <span class="input-suffix" matSuffix>
      @if (isSearching || isFetchingRecents) {
      <mat-spinner
        diameter="20"
        class="jira-loading"
        matTooltip="Connecting to provider"
      ></mat-spinner>
      } @if (roundTopic.value) {
      <button mat-icon-button (click)="roundTopic.reset()">
        <mat-icon>close</mat-icon>
      </button>
      }
    </span>
    <mat-autocomplete
      #auto="matAutocomplete"
      [displayWith]="displayFn"
      (optionSelected)="issueSelected($event.option.value)"
      class="issue-autocomplete"
    >
      @if (issuesFromIntegration$ | async; as issuesFromIntegration) {
      @if(issuesFromIntegration.search.length ||
      issuesFromIntegration.recent.length) {
      <mat-optgroup
        ><span class="group-label help-label"
          >Search for tickets by typing in the field above</span
        ></mat-optgroup
      >
      } @if (issuesFromIntegration.search.length) {
      <mat-optgroup>
        <span class="group-label"
          ><mat-icon>search</mat-icon>Search results</span
        >
        @for (issue of issuesFromIntegration.search; track issue.id) {
        <mat-option [value]="issue" class="issue-autocomplete-item">
          <span class="issue-autocomplete-label">
            <img
              class="jira-icon"
              [src]="
                issue.provider === 'jira'
                  ? '/assets/jira.png'
                  : '/assets/linear.png'
              "
            />
            <span class="issue-autocomplete-item-text"
              >{{ issue.key }}: {{ issue.summary }}</span
            >
          </span>
        </mat-option>
        }
      </mat-optgroup>
      } @if (issuesFromIntegration.recent.length) {
      <mat-optgroup>
        <span class="group-label"
          ><mat-icon>history</mat-icon>Recent tickets</span
        >
        @for (issue of issuesFromIntegration.recent; track issue.id) {
        <mat-option [value]="issue" class="issue-autocomplete-item">
          <span class="issue-autocomplete-label">
            <img
              class="jira-icon"
              [src]="
                issue.provider === 'jira'
                  ? '/assets/jira.png'
                  : '/assets/linear.png'
              "
            />
            <span class="issue-autocomplete-item-text"
              >{{ issue.key }}: {{ issue.summary }}</span
            >
          </span>
        </mat-option>
        }
      </mat-optgroup>
      } }
    </mat-autocomplete>
  </mat-form-field>
</div>
<app-rich-topic
  [richTopic]="selectedRichTopic"
  [enableEditing]="true"
  (deleted)="selectedRichTopic = null"
></app-rich-topic>
<div class="buttons">
  <button
    mat-stroked-button
    color="primary"
    [matMenuTriggerFor]="integrationsMenu"
    (menuOpened)="menuOpen.set(true)"
    (menuClosed)="menuOpen.set(false)"
    class="import-menu-button"
  >
    <mat-icon [class.rotated]="menuOpen()">expand_more</mat-icon>
    Import
  </button>
  <mat-menu #integrationsMenu="matMenu">
    <button
      mat-menu-item
      (click)="startJiraAuth.next()"
      [disabled]="(activeIntegration$ | async)?.name === 'jira'"
    >
      <span class="button-with-custom-icon">
        <img src="/assets/jira.png" />
        {{
          (connectedIntegrations$ | async)?.jira === false
            ? "Connect to Jira"
            : (activeIntegration$ | async)?.name === "jira"
            ? "Connected to Jira"
            : "Switch to Jira"
        }}
      </span>
    </button>
    <button
      mat-menu-item
      (click)="startLinearAuth.next()"
      [disabled]="(activeIntegration$ | async)?.name === 'linear'"
    >
      <span class="button-with-custom-icon">
        <img src="/assets/linear.png" />
        {{
          (connectedIntegrations$ | async)?.linear === false
            ? "Connect to Linear"
            : (activeIntegration$ | async)?.name === "linear"
            ? "Connected to Linear"
            : "Switch to Linear"
        }}
      </span>
    </button>
    <button
      mat-menu-item
      (click)="openBatchImportModal()"
      [disabled]="
        !(permissionsService.canCreateRounds() | async) ||
        (activeIntegration$ | async) === undefined
      "
    >
      <span class="button-with-custom-icon">
        <mat-icon>cloud_download</mat-icon>
        Batch import issues
      </span>
    </button>
    <mat-divider />
    <button
      mat-menu-item
      (click)="openBatchAddModal()"
      [disabled]="!(permissionsService.canCreateRounds() | async)"
    >
      <span class="button-with-custom-icon">
        <mat-icon>library_add</mat-icon>
        Batch add rounds
      </span>
    </button>
  </mat-menu>

  <div class="nested-buttons">
    <button mat-button (click)="canceled.next(true)">Cancel</button>
    <button
      mat-flat-button
      color="primary"
      (click)="topicBlur()"
      [disabled]="!roundTopic.value"
    >
      Save
    </button>
  </div>
</div>
