<app-header></app-header>
<app-page-header title="Features"></app-page-header>
<main>
  <section class="features">
    <div class="feature-block">
      <div class="block-text">
        <h2>No nonsense remote planning sessions</h2>
        <p>
          Create a room, invite your colleagues and start planning your next
          sprint. <br />No need to create an account and it's all free to use.
        </p>
      </div>
      <div class="block-image">
        <picture>
          <source
            srcset="/assets/features/active-session.webp"
            type="image/webp"
          />
          <source
            srcset="/assets/features/active-session.jpeg"
            type="image/jpeg"
          />
          <img
            src="/assets/features/active-session.jpeg"
            alt="Planning poker session with active members"
          />
        </picture>
      </div>
    </div>
    <div class="feature-block">
      <div class="block-text">
        <h2>Find consensus and discuss edge cases</h2>
        <p>
          Join with an unlimited number of users and find consensus on your
          projects. <br />
          The app will show averages and highlight edge cases amongst the votes.
        </p>
      </div>
      <div class="block-image">
        <picture>
          <source srcset="/assets/features/consensus.webp" type="image/webp" />
          <source srcset="/assets/features/consensus.jpeg" type="image/jpeg" />
          <img
            src="/assets/features/consensus.jpeg"
            alt="Planning poker session with results shown"
          />
        </picture>
      </div>
    </div>
    <div class="feature-block">
      <div class="block-text">
        <h2>Adjust estimation units to fit the team</h2>
        <p>
          Set up t-shirt sizing, Fibonacci numbers or all kinds of combinations
          as voting options.<br />
          Planning poker can be played with different card layouts.
        </p>
      </div>
      <div class="block-image">
        <picture>
          <source srcset="/assets/features/units.webp" type="image/webp" />
          <source srcset="/assets/features/units.jpeg" type="image/jpeg" />
          <img
            src="/assets/features/units.jpeg"
            alt="Planning poker session with the unit selector dropdown opened"
          />
        </picture>
      </div>
    </div>
    <div class="feature-block">
      <div class="block-text">
        <h2>Export results and revote issues</h2>
        <p>
          Download your planning session as a .csv file with a single click.<br />
          Would you rather set up the issues first and vote on them later? You
          can re-vote issues and choose the order of the vote.
        </p>
      </div>
      <div class="block-image">
        <picture>
          <source srcset="/assets/features/export.webp" type="image/webp" />
          <source srcset="/assets/features/export.jpeg" type="image/jpeg" />
          <img
            src="/assets/features/export.jpeg"
            alt="Planning poker session after the download results button was clicked"
          />
        </picture>
      </div>
    </div>
    <div class="feature-block">
      <div class="block-text">
        <h2>This is all open-source</h2>
        <p>
          Something seems odd or a feature is missing? Add it!<br />
          This app is open-source and open to new contributors. Fork the
          <a
            href="https://github.com/biharygergo/card-estimator"
            target="_blank"
            rel="noopener"
            >repo</a
          >, add your change and open a pull request!
        </p>
      </div>
      <div class="block-image">
        <picture>
          <source srcset="/assets/features/github.webp" type="image/webp" />
          <source srcset="/assets/features/github.jpeg" type="image/jpeg" />
          <img
            src="/assets/features/github.jpeg"
            alt="The Github repository of this project"
          />
        </picture>
      </div>
    </div>
  </section>
</main>
