main {
  padding: 50px 0;

  .features {
  }
}

.banner-wrapper {
  max-width: 1000px;
  margin: 0 auto;
  border-radius: 20px;
  overflow: hidden;

  @media screen and (max-width: 800px) {
    margin: 1rem;
  }
}
