
main {
  padding: 50px 0;

  .features {
    
  }

  .feature-grid-row {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    gap: 3rem;
    margin-bottom: 3rem;

    &.vertical {
      flex-direction: column;
    }

    .feature-grid-item {
      flex: 2 0 35%;
      

      &.fat {
        flex: 5 1 65%;
      }

      &.full {
        flex: 1 1 100%;
      }

      &.half {
        flex: 1 1 50%;
      }

      &.center {
        display: flex;
        justify-content: center;
        flex-direction: column;
      }

      &.text-center {
        display: flex;
        align-items: center;
        text-align: center;
        flex-direction: column;
      }
    }

    @media screen and (max-width: 800px) {
      flex-direction: column;
      padding: 1rem;
    }
  }
}

.feature-card {
  background: #243C65;
  border-radius: 20px;
  padding: 3rem;
  min-height: 500px;

  &.image-only {
    padding: 0;
    position: relative;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      border-radius: 20px;
    }
  }
}

.header {
  color: #80C2F2;
  font-size: 0.9rem;
  font-weight: 700;
  text-transform: uppercase;
}

.title {
  color: #BFC6DC;
  font-weight: 700;
  font-size: 2rem;
  line-height: 2.8rem;

  &.small {
    max-width: 500px;
  }
}

.details {
  color: #BFC6DC;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.8rem;

  &.small {
    max-width: 500px;
  }
}

.highlight {
  padding: 50px 0;
  margin: 50px 0;
  background: #09234C;
  display: flex;
  flex-direction: column;
  gap: 3rem;
}

.white-button {
  border-color: #D9E2FF;
  color: #D9E2FF;
  width: fit-content;
}