<app-page-header title="Features"></app-page-header>
<main>
  <section class="features">
    <div class="feature-block">
      <div class="block-text">
        <h2>Simple UI, fast planning meetings</h2>
        <p>
          Create a room, invite your colleagues and start planning your next
          sprint. <br />No need to create an account and it's all free to use.
        </p>
      </div>
      <div class="block-image">
        <picture>
          <source
            srcset="/assets/features/active-session.webp"
            type="image/webp"
          />
          <source
            srcset="/assets/features/active-session.png"
            type="image/png"
          />
          <img
            src="/assets/features/active-session.png"
            alt="Planning poker session with active members"
          />
        </picture>
      </div>
    </div>

    <div class="feature-block">
      <div class="block-text">
        <h2>Find consensus and discuss edge cases</h2>
        <p>
          Join with an unlimited number of users and find consensus on your
          projects. <br />
          The app will show averages and highlight edge cases amongst the votes.
        </p>
      </div>
      <div class="block-image">
        <picture>
          <source srcset="/assets/features/voted.webp" type="image/webp" />
          <source srcset="/assets/features/voted.png" type="image/png" />
          <img
            src="/assets/features/voted.png"
            alt="Planning poker session with results shown"
          />
        </picture>
      </div>
    </div>
    <div class="feature-block">
      <div class="block-text">
        <h2>Adjust estimation units to fit the team</h2>
        <p>
          Set up t-shirt sizing, Fibonacci numbers or all kinds of combinations
          as voting options.<br />
          Planning poker can be played with different card layouts.
        </p>
      </div>
      <div class="block-image">
        <picture>
          <source srcset="/assets/features/units.webp" type="image/webp" />
          <source srcset="/assets/features/units.png" type="image/png" />
          <img
            src="/assets/features/units.png"
            alt="Planning poker session with the unit selector dropdown opened"
          />
        </picture>
      </div>
    </div>
    <div class="feature-block">
      <div class="block-text">
        <h2>Set completely custom card sets</h2>
        <p>
          Haven't found a card set that fits your team?<br />
          You can set custom card sets that match your estimation style. You can
          add numbers or text, such as "Small" or "Medium".
        </p>
      </div>
      <div class="block-image">
        <picture>
          <source
            srcset="/assets/features/custom-units.webp"
            type="image/webp"
          />
          <source srcset="/assets/features/custom-units.png" type="image/png" />
          <img
            src="/assets/features/custom-units.png"
            alt="Planning poker session with the units modal opened"
          />
        </picture>
      </div>
    </div>
    <div class="feature-block">
      <div class="block-text">
        <h2>Never forget what the discussion was about</h2>
        <p>
          With a built-in Notes field, you can keep track of the discussion for
          each topic.<br />
          Save notes for each round and download it for later use.
        </p>
      </div>
      <div class="block-image">
        <picture>
          <source
            srcset="/assets/features/notes-field.webp"
            type="image/webp"
          />
          <source srcset="/assets/features/notes-field.png" type="image/png" />
          <img
            src="/assets/features/notes-field.png"
            alt="Planning poker session with notes filled in"
          />
        </picture>
      </div>
    </div>
    <div class="feature-block">
      <div class="block-text">
        <h2>Manage rounds and export results</h2>
        <p>
          Download your planning session as a .csv file with a single click.<br />
          Would you rather set up the issues first and vote on them later? You
          can re-vote issues and choose the order of the vote.
        </p>
      </div>
      <div class="block-image">
        <picture>
          <source
            srcset="/assets/features/topics-sidebar.webp"
            type="image/webp"
          />
          <source
            srcset="/assets/features/topics-sidebar.png"
            type="image/png"
          />
          <img
            src="/assets/features/topics-sidebar.png"
            alt="Planning poker session with the topics sidebar opened"
          />
        </picture>
      </div>
    </div>
    <div class="feature-block">
      <div class="block-text">
        <h2>Create a unique avatar</h2>
        <p>
          Planning meetings can get boring, so spice it up by choosing from a
          set of randomly generated avatars.<br />
          Setting an avatar helps you stand out from the boring list of
          initials. Try it by clicking on your profile icon on the top left.
        </p>
      </div>
      <div class="block-image">
        <picture>
          <source
            srcset="/assets/features/avatar-selection.webp"
            type="image/webp"
          />
          <source
            srcset="/assets/features/avatar-selection.png"
            type="image/png"
          />
          <img
            src="/assets/features/avatar-selection.png"
            alt="Planning poker session with the topics sidebar opened"
          />
        </picture>
      </div>
    </div>
    <div class="feature-block">
      <div class="block-text">
        <h2>This is all open-source</h2>
        <p>
          Something seems odd or a feature is missing? Add it!<br />
          This app is open-source and open to new contributors. Fork the
          <a
            href="https://github.com/biharygergo/card-estimator"
            target="_blank"
            rel="noopener"
            >repo</a
          >, add your change and open a pull request!
        </p>
      </div>
      <div class="block-image">
        <picture>
          <source srcset="/assets/features/github.webp" type="image/webp" />
          <source srcset="/assets/features/github.jpeg" type="image/jpeg" />
          <img
            src="/assets/features/github.jpeg"
            alt="The Github repository of this project"
          />
        </picture>
      </div>
    </div>
  </section>
</main>
