@import 'src/app/common.scss';

.cards {
  flex: 1;
  height: 200px;
  display: flex;
  align-items: center;
  justify-content: center;

  img {
    object-fit: contain;
    width: 100%;
  }

  @include smallScreen {
    height: 100px;
    flex-basis: 150px;

    img {
      height: 100%;
    }
  }
}

.container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 1rem;

  @include smallScreen {
    flex-direction: column;
  }
}

.text {
  flex: 3;
  
  p {
    line-height: 1.6;
    margin-bottom: 0.75rem;
    
    &:last-child {
      margin-bottom: 0;
    }
  }
  
  strong {
    color: var(--text-color);
  }
}
