<div class="modal-container">
  <div mat-dialog-content>
    <h1>Configure room</h1>
    <p>Lorem ipsum dolor sit amet consecetur sit malit.</p>
    <mat-tab-group
      class="custom-tab-group"
      mat-align-tabs="center"
      [dynamicHeight]="true"
      backgroundColor="primary"
    >
      <mat-tab label="Permissions">
        <div class="tab-content">
          <div class="tab-section">
            <div
              class="permission"
              *ngFor="let configuration of permissionForms"
            >
              <h4 class="permission-title">
                <mat-icon>{{ configuration.icon }}</mat-icon
                >{{ configuration.prompt }}
              </h4>
              <mat-chip-listbox
                aria-label="Topic editors"
                class="chip-selector"
                multiple
                selectable
              >
                <mat-chip-option
                  *ngFor="let option of configuration.options"
                  [selected]="configuration.isSelected(option.value)"
                  (click)="configuration.toggleOption(option.value)"
                  >{{ option.label }}</mat-chip-option
                >
              </mat-chip-listbox>
              <mat-divider></mat-divider>
            </div>
            <button mat-stroked-button>
              <mat-icon>restart_alt</mat-icon>Reset defaults
            </button>
          </div>

          <!-- <h4>Personalize room ID</h4>
          <mat-form-field class="room-id" appearance="outline">
            <mat-label>Room ID</mat-label>
            <input matInput [formControl]="personalizedRoomId" required />
          </mat-form-field> -->
        </div>
      </mat-tab>
      <mat-tab label="Participants">
        <div class="tab-content">
          <div class="tab-section">
            <button mat-stroked-button>
              <mat-icon>groups</mat-icon>Manage organization
            </button>
            <mat-list class="participants-list">
              <mat-list-item *ngFor="let member of members$ | async">
                <span matListItemAvatar class="avatar">
                  <img
                    *ngIf="member.avatarUrl"
                    [src]="member.avatarUrl"
                    class="avatar-image"
                    alt="A user's avatar"
                  />
                  <div class="avatar-text" *ngIf="!member.avatarUrl">
                    {{ member.name?.charAt(0) }}
                  </div>
                </span>
                <h3 matLine class="member">
                  <span class="member-name">
                    {{ member.name }}
                  </span>
                </h3>
                <small matLine>
                  {{ member.type | titlecase }}
                </small>
                <button
                  mat-icon-button
                  [matMenuTriggerFor]="menu"
                  matListItemMeta
                >
                  <mat-icon>more_horiz</mat-icon>
                </button>
                <mat-menu #menu="matMenu">
                  <button mat-menu-item>
                    <mat-icon>group_add</mat-icon> Add to organization
                  </button>
                  <mat-divider></mat-divider>
                  <button mat-menu-item (click)="removeMember(member)">
                    <mat-icon>person_remove</mat-icon> Remove from room
                  </button>
                </mat-menu>
              </mat-list-item>
            </mat-list>
          </div>
        </div>
      </mat-tab>
      <mat-tab label="Security">
        <div class="tab-content">
          <div class="tab-section">
            <p>
              <strong>Room password</strong><br /><small
                >Only people who know the password will be able to enter the
                planning session.</small
              >
            </p>

            <mat-form-field class="room-id" appearance="outline">
              <mat-label>New password</mat-label>
              <input matInput type="password" [formControl]="roomPassword" />
              <mat-hint *ngIf="isPasswordSet$ | async"
                >This room has a password saved.</mat-hint
              >
            </mat-form-field>
            <mat-checkbox
              class="example-margin"
              (click)="togglePasswordProtection()"
              [checked]="
                (authorizationMetadata$ | async)?.passwordProtectionEnabled
              "
              >Enable password protection</mat-checkbox
            >
            <div>
              <button
                mat-stroked-button
                color="primary"
                class="update-password-button"
                (click)="saveRoomPassword()"
              >
                Update password
              </button>
            </div>
          </div>
          <div class="tab-section">
            <p>
              <strong>Organization</strong><br /><small
                >Only people who are part of your organization will be able to
                enter the room.</small
              >
              <mat-checkbox class="example-margin"
                >Enable organization-only protection</mat-checkbox
              >
            </p>
          </div>
        </div>
      </mat-tab>
    </mat-tab-group>
  </div>
  <div mat-dialog-actions>
    <button mat-flat-button mat-dialog-close>Close</button>
  </div>
</div>
