<ng-template #dialogTemplate>
  <div mat-dialog-content>
    <div class="content">
      <div class="main-panel">
        <h1 class="title">Bring PlanningPoker.live to Your Meeting Sidebar</h1>
        <p class="description">
          No more juggling between tabs during meetings! Add PlanningPoker.live
          to your sidebar, so you can cast your vote and collaborate with your
          team without leaving the conversation. It’s quick, easy, and keeps
          everything in one place.
        </p>
        <div class="install-buttons">
          @for(integration of integrations; track integration.name) {
          <a
            class="install-button"
            mat-stroked-button
            [href]="integration.url"
            target="_blank"
            rel="noreferrer"
          >
            <div class="install-button-inner">
              <img
                class="integration-logo"
                [src]="integration.logo"
                [alt]="integration.alt"
              />
              Install in {{ integration.name }}
            </div>
          </a>
          }
          <button
            class="install-button"
            mat-button
            (click)="dialogRef().close()"
          >
            <mat-icon>public</mat-icon>
            Continue on the web
          </button>
        </div>
      </div>
      <div class="side-panel">
        <div class="branding"></div>

        <img
          class="background-image"
          ngSrc="integration-modal"
          alt="PlanningPoker.live running in Zoom"
          priority
          placeholder
          width="1200"
          height="2012"
          sizes="(max-width: 800px) 80vw, 40vw"
        />
      </div>
    </div>
  </div>
</ng-template>
