.banner-card {
  position: fixed;
  bottom: 10px;
  right: 10px;
  transition: transform 150ms ease-in-out, opacity 150ms ease-in-out;
  transform-origin: bottom right;
  width: 400px;
  z-index: 5;
  font-size: 0.9rem;
  border: none;
  border-radius: 16px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

  transform: translateX(150%);
  opacity: 0;

  animation: slideInRight 500ms ease-in-out 150ms;
  animation-fill-mode: forwards;

  .close-icon-button {
    position: absolute;
    top: 4px;
    right: 4px;
  }

  mat-card-content {
    display: flex;
    flex-direction: column;
    gap: 8px;
    align-items: center;

    h4 {
      font-weight: 500;

      .zoom {
        color: #2d8cff;
        font-weight: 1000;
      }

      .webex {
        color: #2d2d2d;
        font-weight: 1000;
      }

      .teams {
        color: #464eb8;
        font-weight: 1000;
      }
    }
  }

  img {
    height: 100px;
    width: 100%;
    margin: 0 auto;
    object-fit: contain;
  }

  @media screen and (max-width: 600px) {
    display: none;
  }
}

mat-card-actions {
  gap: 0.5rem;
  flex-direction: column;
}

.zoom-button {
  width: 100%;
  --mdc-filled-button-container-color: #4185fe;
}

.webex-button {
  width: 100%;
  --mdc-filled-button-container-color: #2d2d2d;
}

.teams-button {
  width: 100%;
  --mdc-filled-button-container-color: #464eb8;
}
