<div class="hero-header-section">
  <div class="hero-header">
    <div class="header-intro">
      <h1>Integrate PlanningPoker.live for smoother team collaboration</h1>
      <p class="header-description">
        Bring PlanningPoker.live to your video calls and project tools in just a
        few clicks—no setup hassle. Start planning poker sessions in Teams with
        no context-switching.
      </p>
      <div>
        <button
          (click)="scrollTo('video-conferencing')"
          mat-flat-button
          class="discover-integrations-button">
          Discover integrations
        </button>
        <p class="header-subtitle">
          Jump to
          <a href="javascript:void(0)" (click)="scrollTo('video-conferencing')">
            video conferencing </a
          >,
          <a href="javascript:void(0)" (click)="scrollTo('project-management')">
            project management</a
          >
          or
          <a href="javascript:void(0)" (click)="scrollTo('messaging')">
            messaging</a
          >.
        </p>
      </div>
    </div>
    <div class="header-image">
      <img
        ngSrc="Integrations_Header_V2_hrlcem"
        alt="PlanningPoker.live running in Zoom"
        priority
        placeholder
        width="1400"
        height="975"
        sizes="(max-width: 800px) 100vw, 60vw" />
    </div>
  </div>
</div>
<main>
  <section id="video-conferencing">
    <div class="integration-section-header">
      <h2 class="title">Video conferencing</h2>
      <p class="details">
        Conduct efficient planning poker sessions directly within your video
        conferences. Our embedded app lets you run planning poker in Zoom
        meetings, and integrates with popular platforms like Teams, Meet, and
        Webex, allowing you to estimate stories without leaving your meeting.
      </p>
      <div class="details-links">
        <a mat-stroked-button routerLink="/integrations/teams">Teams</a>
        <a mat-stroked-button routerLink="/integrations/zoom">Zoom</a>
        <a mat-stroked-button routerLink="/integrations/meet">Meet</a>
        <a mat-stroked-button routerLink="/integrations/webex">Webex</a>
      </div>
    </div>
    <div class="integration-section-items">
      @for (integration of videoConferencingIntegrations; track $index) {
        <ng-container
          *ngTemplateOutlet="
            integrationItem;
            context: { integration: integration, index: $index }
          "></ng-container>
      }
    </div>
  </section>
  <section id="project-management">
    <div class="integration-section-header">
      <h2 class="title">Project management</h2>
      <p class="details">
        Bridge the gap between planning and execution. Integrate with your
        preferred project management tools (Jira, Linear, etc.) to import issues
        directly into your planning sessions, ensuring alignment between
        estimation and delivery.
      </p>
      <div class="details-links">
        <button (click)="scrollTo('jira')" mat-stroked-button>Jira</button>
        <button (click)="scrollTo('linear')" mat-stroked-button>Linear</button>
      </div>
    </div>
    <div class="integration-section-items">
      @for (integration of projectManagementIntegrations; track $index) {
        <ng-container
          *ngTemplateOutlet="
            integrationItem;
            context: { integration: integration, index: $index }
          "></ng-container>
      }
    </div>
  </section>
  <section id="messaging">
    <div class="integration-section-header">
      <h2 class="title">Messaging</h2>
      <p class="details">
        Create rooms effortlessly and invite your team members to estimate
        without leaving your chat platform. Our messaging integrations make it
        easy to start planning poker sessions and keep everyone in the loop.
      </p>
      <div class="details-links">
        <button (click)="scrollTo('slack')" mat-stroked-button>Slack</button>
      </div>
    </div>
    <div class="integration-section-items">
      @for (integration of messagingIntegrations; track $index) {
        <ng-container
          *ngTemplateOutlet="
            integrationItem;
            context: { integration: integration, index: $index }
          "></ng-container>
      }
    </div>
    <div class="banner-wrapper">
      <start-planning-cta></start-planning-cta>
    </div>
  </section>
</main>
<ng-template #integrationItem let-integration="integration" let-index="index">
  <div class="integration-section-item" [id]="integration.id">
    <div class="integration-details">
      <span class="integration-number">Integration 0{{ index + 1 }}</span>
      <h3 class="integration-title">
        {{ integration.title }}
      </h3>
      <p class="integration-description">
        {{ integration.description }}
      </p>
      <div class="action-buttons">
        @if (integration.link) {
          <a
            [routerLink]="integration.link"
            mat-stroked-button
            class="learn-more-button">
            Learn more
          </a>
        }
        @if (integration.hasAction) {
          <button
            (click)="handleAction(integration.id)"
            mat-button
            class="learn-more-button">
            Get started
          </button>
        }
      </div>
    </div>
    <div class="integration-image">
      <video
        #video
        autoplay
        loop
        muted
        playsinline
        (canplay)="video.play()"
        (loadedmetadata)="video.muted = true"
        [class.video-big]="integration.isBigVideo"
        [class.video-16-9]="integration.is169Video">
        <source
          [src]="
            'https://res.cloudinary.com/dtvhnllmc/video/upload/q_auto/' +
            integration.videoId +
            '.mp4'
          "
          type="video/mp4" />
      </video>
    </div>
  </div>
</ng-template>
