<main>
  <div class="content">
    <div class="header">
      <h1>Knowledge base</h1>
      <h2>
        Take a look at our knowledge base to learn best-practices about Planning
        Poker, agile estimation and related topics.
      </h2>
    </div>

    <div class="articles">
      <a
        class="article"
        *ngFor="let article of articles"
        [routerLink]="article.slug"
      >
        <div class="article-image">
          <img
            [ngSrc]="article.coverImageId"
            [alt]="article.coverImageAlt"
            fill
            sizes="20wv"
            priority
          />
        </div>
        <div class="article-preview">
          <h3>{{ article.title }}</h3>
          <p>{{ article.description }}</p>
        </div>
      </a>
    </div>
  </div>
</main>
<app-carbon-ad placement="landing" />
