<app-page-header
  title="Knowledge Base"
  subtitle="Best practices, tutorials, and guides for Planning Poker, agile estimation, and related topics."
  [centered]="true"
/>
<main>
  <div class="content">
    @for (section of sections; track section.category) {
      <h2>{{ section.title }}</h2>
      <p>{{ section.description }}</p>
      <div class="articles">
        @for (
          article of articlesByCategory[section.category];
          track article.slug
        ) {
          <ng-container
            *ngTemplateOutlet="
              articleCard;
              context: { $implicit: article }
            "></ng-container>
        }
      </div>
    }
  </div>
</main>
<app-carbon-ad placement="landing" />
<ng-template #articleCard let-article>
  <a class="article" [routerLink]="article.slug">
    <div class="article-image">
      <img
        [ngSrc]="article.coverImageId"
        placeholder
        [alt]="article.coverImageAlt"
        fill
        sizes="20wv" />
      @if (article.youtubeVideoId) {
        <mat-icon class="play-icon">play_arrow</mat-icon>
      }
    </div>
    <div class="article-preview">
      <h3>{{ article.title }}</h3>
      <span>
        {{ article.lastUpdated | date: 'mediumDate' }},
        {{ article.author }}
      </span>
      <p>{{ article.description }}</p>
    </div>
  </a>
</ng-template>
