<main>
  <div class="content">
    <div class="header">
      <h1>Knowledge base</h1>
      <p>
        Take a look at our knowledge base to learn best-practices about Planning
        Poker, agile estimation and related topics.
      </p>
    </div>
    <h2>Tutorials</h2>
    <p>
      Learn how to use PlanningPoker.live with our in-depth tutorials covering
      basic usage, Jira/Linear integration and our embedded apps in Teams, Zoom,
      Meet and Webex.
    </p>
    <div class="articles">
      @for (article of articlesByCategory['guide']; track article.slug) {
      <ng-container
        *ngTemplateOutlet="articleCard; context: { $implicit: article }"
      ></ng-container>
      }
    </div>
    <h2>Planning poker techniques</h2>
    <p>
      Learn how to estimate with Planning Poker, how to facilitate a session and
      how to use the app to get the most out of your estimation sessions.
    </p>
    <div class="articles">
      @for (article of articlesByCategory['technique']; track article.slug) {
      <ng-container
        *ngTemplateOutlet="articleCard; context: { $implicit: article }"
      ></ng-container>
      }
    </div>
    <h2>News & app updates</h2>
    <p>
      Read about our latest updates, new features and improvements to the app.
    </p>
    <div class="articles">
      @for (article of articlesByCategory['other']; track article.slug) {
      <ng-container
        *ngTemplateOutlet="articleCard; context: { $implicit: article }"
      ></ng-container>
      }
    </div>
  </div>
</main>
<app-carbon-ad placement="landing" />
<ng-template #articleCard let-article>
  <a class="article" [routerLink]="article.slug">
    <div class="article-image">
      <img
        [ngSrc]="article.coverImageId"
        placeholder
        [alt]="article.coverImageAlt"
        fill
        sizes="20wv"
      />
      @if (article.youtubeVideoId) {
      <mat-icon class="play-icon">play_arrow</mat-icon>
      }
    </div>
    <div class="article-preview">
      <h3>{{ article.title }}</h3>
      <span>
        {{ article.lastUpdated | date : "mediumDate" }},
        {{ article.author }}
      </span>
      <p>{{ article.description }}</p>
    </div>
  </a>
</ng-template>
