@import '../../common.scss';

:host {
  @media screen and (max-width: 800px) {
    width: 100%;
  }
}

.card-deck {
  margin: 0;
  position: fixed;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  z-index: 2;

  @media screen and (max-width: 800px) {
    margin: 0.5rem;
    flex: 1;
    position: initial;
    transform: none;
    left: unset;
    bottom: unset;
    z-index: initial;
  }

  @include extraSmallScreen {
    margin: 0.5rem 0;
  }
}

.wrapper {
  transition: transform 0.2s ease-in-out;
  transition-property: transform, border-radius;
}

.main-row {
  display: flex;
  background: var(--main-dark-color);
  border-radius: 12px 12px 0 0;
  border: 1px solid var(--card-border-color);

  @include extraSmallScreen {
    padding: 0.5rem;
  }

  @media (max-width: 800px) {
    flex-wrap: wrap;
    flex-direction: column;
    border-radius: 12px;
  }
}

.control-buttons {
  margin-left: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 0.3rem;
  padding-right: 1rem;
  gap: 4px;

  &.minimized {
    flex-direction: row;
  }

  @media (max-width: 800px) {
    margin-top: 0.5rem;
    margin-left: initial;
    flex-direction: row;
    padding: 0.3rem;

    &.minimized {
      margin-top: 0;
    }
  }

  .emoji-button {
    color: var(--text-on-main);
    background: none;
    border-color: var(--card-border-color);

    &.mat-button-toggle-checked {
      background: var(--main-color);
    }

    @media (max-width: 800px) {
      width: 100%;
      --mat-standard-button-toggle-height: 30px;
      ::ng-deep {
        mat-icon {
          font-size: 20px;
          height: 20px;
          width: 20px;
        }
      }
    }
  }
}

.reaction-buttons {
  background: var(--highlight-background-color);
  border-radius: 12px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  padding: 0.2rem;
  margin-bottom: 0.5rem;
  overflow-x: auto;
  overflow-y: hidden;

  @include extraSmallScreen {
    padding-top: 0.4rem;
    ::ng-deep {
      .mat-mdc-icon-button {
        --mdc-icon-button-state-layer-size: 30px !important;
        --mdc-icon-button-icon-size: 20px;
        padding: 2px !important;
      }

      .mat-mdc-button-touch-target {
        width: 30px;
        height: 30px;
      }
    }
  }
}

.estimator-buttons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: nowrap;
  flex: 1;
  padding: 1rem;
  padding-right: 0;

  @media (max-width: 800px) {
    flex-wrap: wrap;
    padding: 0.5rem;
  }
}

.pass-option-button:not(.mat-accent):not(.selected) {
  background-color: var(--highlight-background-color);
}
