nav {
  background-color: var(--main-color);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;

  ul {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    list-style: none;
    margin: 0;
    padding: 32px;
    transition: top 200ms ease-in-out;

    li {
      margin-right: 32px;

      a {
        text-decoration: none;
        color: white;
        font-size: 1rem;
        letter-spacing: 1.5px;
        font-weight: 400;
        position: relative;
        text-transform: uppercase;
        display: flex;
        align-items: center;
        gap: 6px;

        .badge {
          background: goldenrod;
          color: white;
          font-size: 0.6rem;
          line-height: 0.8rem;
          padding: 0px 3px;
          border-radius: 3px;
        }

        &:not(.start-planning-link)::after {
          position: absolute;
          content: "";
          left: 0;
          right: 0;
          bottom: -3px;
          height: 2px;
          border-radius: 1px;
          background: white;
          transform: scaleX(0);
          transition: transform 200ms ease-in-out;
          transform-origin: center;
        }

        &:hover::after,
        &.active::after {
          transform: scaleX(1);
        }

        &.active::after {
          transition-duration: 0ms;
        }

        &.start-planning-link {
          background: white;
          color: var(--main-color);
          padding: 8px 12px;
          border-radius: 4px;
          font-weight: 500;
        }
      }
    }

    li:last-child {
      margin-right: 0;
    }
  }

  .mobile-nav-toggle {
    display: none;
    color: white;
    margin-left: auto;
  }

  @media screen and (max-width: 800px) {
    .mobile-nav-toggle {
      display: block;
    }

    &.open {
      ul {
        top: 0px;
      }
    }

    ul {
      flex-direction: column;
      justify-content: center;
      height: 350px;
      width: 100%;
      position: absolute;
      top: -500px;
      padding: 0;
      background-color: var(--main-color);
      z-index: -1;

      li {
        margin-right: 0;
        margin-bottom: 32px;
      }
    }
  }
}
