<ng-container *ngIf="vm | async as viewModel">
  <div
    class="ad-container"
    id="ads-container"
    *ngIf="viewModel.showAds && !isHidden"
  >
    <button
      mat-icon-button
      class="ads-close-button"
      matTooltip="Running this app doesn't come for free. You can support this open-source project by checking out relevant sponsors from this banner."
      matTooltipPosition="left"
      (click)="hideAd()"
    >
      <mat-icon>close</mat-icon>
    </button>
  </div>
</ng-container>
