/* You can add global styles to this file, and also import other style files */
@use "@angular/material" as mat;

:root {
  --main-color: #1c4182;
  --main-dark-color: #001b55;
  --main-light-color: #2a479b;
  --accent-color: #f5a115;
  --light-background-color: #f4f5f6;

  --text-on-white: #3F4759;
  --text-on-gray: #44474F;
  --background-dark: #001A43;
}

* {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background: var(--background-dark);

}

.mat-menu-panel {
  max-width: 300px !important;
}

$my-primary: mat.define-palette(mat.$indigo-palette, 500);
$my-accent: mat.define-palette(mat.$orange-palette, A200, A100, A400);

$my-theme: mat.define-light-theme(
  (
    color: (
      primary: $my-primary,
      accent: $my-accent,
    ),
  )
);
@include mat.all-component-themes($my-theme);

.card-footer {
  padding: 1rem !important;
  border-top: 0.5px solid lightgrey;
  h3,
  h4 {
    margin: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;

    small {
      cursor: pointer;
      color: #f5a115;

      &:hover {
        font-weight: bold;
      }
    }

    button {
      flex-shrink: 0;
    }
  }
}

.card-footer-actions {
  margin-top: 1rem !important;
  border-top: 0.5px solid lightgrey;
  padding: 1rem !important;

  &.align-right {
    display: flex !important;
    justify-content: flex-end;
  }

  button:not(:last-of-type) {
    margin-right: 0.5rem;
  }

  &.extra-padding {
    padding-bottom: 2rem;
  }
}

.avatar,
.avatar-button {
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-weight: bold;

  div {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #f5a115;
    border-radius: 50%;
  }
}

.avatar-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
}

.member {
  display: flex !important;
  flex-direction: row;
  justify-content: space-between;
}

.statistic {
  display: flex !important;
  flex-direction: row;
  justify-content: space-between;

  span {
    color: #f5a115;
  }
}

.note-wrapper {
  padding: 0px 16px;
}

.flat-card {
  box-shadow: none !important;
  border: 1px solid lightgrey !important;
}

@keyframes appear {
  0% {
    transform: scale(0);
    opacity: 0;
  }
  70% {
    transform: scale(1.2);
    opacity: 1;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}

@keyframes slideInRight {
  0% {
    transform: transleX(150%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

.center-icon-button {
  display: flex !important;
  align-items: center !important;
  justify-content: center !important;
  gap: 6px !important;
}

.navbar {
  display: flex;
  flex-direction: row;
  flex-basis: 100%;
  justify-content: space-between;
  align-items: center;
}

.navbar-right,
.navbar-left {
  padding: 1rem;

  @media screen and (min-width: 800px) {
    padding: 1rem 2.5rem;
  }
}

.navbar-right {
  display: flex;
  justify-content: flex-end;
}
