/* You can add global styles to this file, and also import other style files */
@use "@angular/material" as mat;
@import "./app/common.scss";

:root {
  --main-color: #1c4182;
  --main-dark-color: #001b55;
  --accent-color: #f5a115;
  --light-background-color: #f4f5f6;
  --on-light-background-color: #efefef;
  --highlight-background-color: #d9e2ff;
  --main-dark-highlight-color: #001b55;
  --title-on-light: #001a43;
  --ad-background: #18325d;

  --card-border-color: transparent;

  --light-blue: #d9e2ff;
  --text-on-light-blue: #001a43;
  --text-on-highlight: #001a43;
  --text-on-white: #3f4759;
  --text-on-main: white;
  --secondary-text-on-main: rgba(255, 255, 255, 0.5);

  --background-dark: #001a43;
  --light-background: white;

  --landing-text-color: #bfc6dc;
}

$m3-dark-theme: mat.define-theme(
  (
    color: (
      theme-type: dark,
      primary: mat.$azure-palette,
      tertiary: mat.$orange-palette,
    ),
  )
);

$m3-light-theme: mat.define-theme(
  (
    color: (
      primary: mat.$azure-palette,
      tertiary: mat.$orange-palette,
    ),
  )
);

@include mat.core();

.default-theme {
  &.running-in-teams,
  &.running-in-zoom,
  &.running-in-meet,
  &.running-in-webex {
    --background-dark: white;
    --main-dark-color: var(--mdc-outlined-card-container-color);
    --main-color: white;
    --text-on-main: #3f4759;
    --card-border-color: lightgray;
    --secondary-text-on-main: lightgray;
    --ad-background: var(--mdc-outlined-card-container-color);
  }

  &.running-in-teams {
    --background-dark: #f5f5f5;
    --main-color: #f5f5f5;
  }
}

.dark-theme {
  @include mat.all-component-colors($m3-dark-theme);
  --mdc-outlined-card-container-color: #2a2929;
  --background-dark: black;
  --main-dark-color: black;
  --main-dark-highlight-color: black;
  --main-color: #141218;
  --light-background: #1f1f1f;
  --light-background-color: #1f1f1f;
  --on-light-background-color: #3d3d3d;
  --highlight-background-color: #3e4759;
  --text-on-highlight: #efefef;
  --text-on-white: #efefef;
  --title-on-light: #efefef;
  --ad-background: var(--mdc-dialog-container-color);

  &.running-in-teams {
    --background-dark: #1f1f1f;
    --main-color: #1f1f1f;
    --highlight-background-color: #151515;
  }

  &.running-in-zoom {
    --mdc-outlined-card-container-color: #1d1d1d;
    --background-dark: #242424;
    --main-color: #242424;
  }

  &.running-in-meet {
    --background-dark: #202124;
    --main-color: #202124;
  }
}

* {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  @include mat.all-component-themes($m3-light-theme);

  @include smallScreen {
    --mat-form-field-container-height: 3rem;
    font-size: 15px;
    @include mat.all-component-densities(-1);
    --mat-form-field-container-height: 3rem;

    .mat-icon,
    .mat-mdc-outlined-button > .mat-icon {
      --mat-menu-item-icon-size: 20px;
      font-size: 20px;
      width: 20px;
      height: 20px;
    }
  }

  @include extraSmallScreen {
    font-size: 14px;
    @include mat.all-component-densities(-2);
    --mat-form-field-container-height: 3rem;

    .mat-icon,
    .mat-mdc-outlined-button > .mat-icon {
      --mat-menu-item-icon-size: 18px;
      font-size: 18px;
      width: 18px;
      height: 18px;
    }
  }
}

body {
  margin: 0;
  background: var(--background-dark);
  transition: background 200ms linear;
}

.mat-mdc-menu-panel {
  max-width: 300px !important;
}

.room-id-container {
  padding: 1rem !important;
  border-top: 0.5px solid lightgrey;

  h4 {
    font-size: 0.9rem;
    margin: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 0.5rem;

    button {
      flex-shrink: 0;
    }

    @include extraSmallScreen {
      flex-direction: column;
      align-items: stretch;
      gap: 0.5rem;
    }
  }
}

.card-footer-actions {
  border-top: 0.5px solid lightgrey;
  padding: 1rem !important;

  &.align-right {
    display: flex !important;
    justify-content: flex-end;
  }

  button:not(:last-of-type) {
    margin-right: 0.5rem;
  }

  &.extra-padding {
    padding-bottom: 2rem;
  }
}

.avatar,
.avatar-button {
  display: flex;
  align-items: center;
  justify-content: center;

  &.avatar-button {
    padding: 0;
    img {
      height: 40px;
      width: 40px;
    }
  }

  .avatar-text {
    height: 90%;
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 1rem;
    font-weight: bold;
    background: #f5a115 !important;
    border-radius: 50%;
  }
}

.avatar-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
}

.statistic {
  display: flex !important;
  flex-direction: row;
  justify-content: space-between;
}

.note-wrapper {
  padding: 0px 16px;
}

@keyframes appear {
  0% {
    transform: scale(0);
    opacity: 0;
  }
  70% {
    transform: scale(1.2);
    opacity: 1;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}

@keyframes slideInRight {
  0% {
    transform: transleX(150%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

.center-icon-button {
  display: flex !important;
  align-items: center !important;
  justify-content: center !important;
  gap: 6px !important;
}

.navbar {
  display: flex;
  flex-direction: row;
  flex-basis: 100%;
  justify-content: space-between;
  align-items: center;
}

.navbar-right,
.navbar-left {
  padding: 1rem 2.5rem;

  @media screen and (max-width: 800px) {
    padding: 1rem;
  }

  @include extraSmallScreen {
    padding: 0.5rem;
  }
}

.navbar-right {
  display: flex;
  justify-content: flex-end;
  gap: 0.5rem;
}

.responsive-label-button {
  @media screen and (max-width: 500px) {
    --mat-outlined-button-icon-offset: 0;
    --mat-filled-button-icon-offset: 0;

    .mdc-button__label {
      display: none;
    }
    mat-icon {
      margin-right: 0 !important;
    }
  }

  &.forced {
    --mat-outlined-button-icon-offset: 0;
    --mat-filled-button-icon-offset: 0;

    .mdc-button__label {
      display: none;
    }
    mat-icon {
      margin-right: 0 !important;
    }
  }
}

.custom-tab-group {
  .mdc-tab-indicator {
    display: none;
  }
  .mat-mdc-tab-header {
    border-radius: 46px;
    background-color: var(--highlight-background-color) !important;
    --mat-mdc-tab-header-with-background-foreground-color: #44474f;
  }

  .mat-mdc-tab {
    .mdc-tab__text-label {
      color: var(--text-on-white) !important;
      font-weight: bold;
    }
    &.mdc-tab--active {
      background-color: #edf0ff !important;
      border-radius: 46px;
      .mdc-tab__text-label {
        color: #345ca8 !important;
      }
    }
  }
}

.tab-content {
  padding-top: 1rem;
}

.tab-section {
  background: var(--light-background-color);
  border-radius: 16px;
  padding: 1rem;
  margin-bottom: 1rem;

  @include extraSmallScreen {
    padding: 0.5rem;
  }
}

.premium-lock {
  color: var(--accent-color) !important;
}

.premium-banner {
  background: var(--highlight-background-color);
  border-radius: 18px;
  padding: 1rem;
  color: white;
  font-size: 0.8rem;
  margin-bottom: 1rem;

  p {
    color: var(--title-on-light);
  }

  .premium-banner-buttons {
    display: flex;
    flex-wrap: w;
    gap: 0.5rem;

    @include extraSmallScreen {
      flex-direction: column;
    }
  }

  .title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 0.2rem;
    font-size: 1rem;
    color: var(--title-on-light);
  }
}

.dialog-title {
  .beta-chip {
    background-color: var(--light-blue) !important;
    margin-left: 0.5rem;
  }
}

.features-list {
  padding: 0;

  li {
    list-style-type: none;
    display: flex;
    align-items: center;
    gap: 0.5rem;
    margin-bottom: 1rem;

    mat-icon {
      color: #48a81c;
      flex-shrink: 0;
    }
  }
}

.full-page-container {
  min-height: 100vh;
}

.full-screen-modal {
  border-radius: 0;
  --mdc-dialog-container-shape: 0;
}

.snackbar-error {
  .mdc-snackbar__surface {
    background: #93000a !important;
    color: #ffdad6 !important;

    .mdc-snackbar__label {
      color: #ffdad6;
    }
  }
}

.menu-item-with-badge {
  display: flex;
  gap: 0.8rem;
  align-items: center;

  .menu-item-badge {
    display: inline-flex;
    background: #725573;
    color: white;
    font-size: 12px;
    padding: 0px 8px;
    border-radius: 40px;
  }
}

.rounded-nav-menu {
  border-radius: 20px !important;
  min-width: 200px !important;
}

.cdk-overlay-pane.rounded-dialog
  .mat-mdc-dialog-container
  .mat-mdc-dialog-surface {
  border-radius: 20px;
}

@include extraSmallScreen {
  .cdk-overlay-pane.custom-dialog {
    width: 99% !important;

    .mdc-dialog .mdc-dialog__content {
      padding: 0.5rem;
    }

    .mat-mdc-dialog-title {
      padding: 0.5rem;
    }
  }
}

.mat-mdc-form-field-hint {
  color: var(--text-on-white);
}

.estimator-button-container {
  flex: 1;
  flex-grow: 0;
  display: flex;
  text-overflow: clip;
  margin: 0.3rem;

  button {
    flex: 1;
    height: 100%;
    min-width: 70px;
    min-height: 120px;
    font-size: 1.3rem;
    font-weight: 400;
    will-change: transform;
    transition: transform 0.2s 50ms ease-in-out, background 100ms linear;
    margin: 0 0.3rem;
    --mdc-protected-button-container-shape: 8px;
    // --mdc-protected-button-label-text-color: black;

    &.selected {
      --mdc-protected-button-container-color: var(
        --mdc-filled-button-container-color
      );
      --mdc-protected-button-label-text-color: var(
        --mdc-filled-button-label-text-color
      );
    }

    @media screen and (max-width: 800px) {
      margin: initial;
      min-width: 45px;
      min-height: 80px;
      padding: 0.4rem;
      font-size: 1.1rem;
    }

    &:disabled {
      opacity: 0.8;
      color: #efefef;

      &.selected {
        --mdc-protected-button-disabled-container-color: var(
          --mdc-filled-button-container-color
        );
      }
    }

    &:hover:not(.mat-accent):not(:disabled) {
      transform: translate3d(2px, -10px, 0px) rotate(-5deg);
    }
  }
}

.mat-mdc-menu-panel {
  box-shadow: 0 5px 5px -3px #0003, 0 8px 10px 1px #00000024,
    0 3px 14px 2px #0000001f;
}

.feedback-panel {
  --mdc-snackbar-container-color: var(--mdc-dialog-container-color);
}

.see-more-features {
  max-width: 1200px;
  margin: 0 auto;

  padding: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;

  --mat-expansion-container-background-color: none;

  .see-more-panel {
    box-shadow: none !important;
  }

  .see-more-panel-header {
    max-width: 200px;
    margin: 0 auto;
    --mat-expansion-header-indicator-color: #bfc6dc;

    .mat-expansion-indicator {
      margin-top: -6px;
    }
  }

  .mat-expansion-panel-body {
    padding: 0;
  }

  .see-more-panel-title {
    color: #bfc6dc;
  }
}

.see-more-features .highlight {
  padding: 50px !important;
  border-radius: 36px !important;

  @media screen and (max-width: 800px) {
    padding: 50px 16px !important;
  }
}

.shepherd-theme-custom.shepherd-element {
  border-radius: 24px;
  background: var(--mat-menu-container-color);

  .shepherd-arrow::before {
    background-color: var(--mat-menu-container-color) !important;
  }

  .shepherd-content {
    border-radius: 24px;
    padding: 1rem 0.5rem;

    .shepherd-header {
      background: var(--mat-menu-container-color);
      border-top-left-radius: 24px;
      border-top-right-radius: 24px;
      .shepherd-title {
        color: var(--mat-app-text-color);
        font-weight: 500;
      }
    }

    .shepherd-text,
    .shepherd-footer {
      background: var(--mat-menu-container-color);
    }

    .shepherd-text {
      color: var(--mat-app-text-color);
    }

    .shepherd-button {
      font-family: "Roboto";
      font-weight: 500;
      border-radius: 24px;
      background: var(--mdc-filled-button-container-color);
      color: var(--mdc-filled-button-label-text-color);
      transition: background 50ms linear;

      &:hover {
        background: #7c94c3;
      }

      &.shepherd-button-secondary {
        background: none;
        color: var(--mdc-outlined-button-label-text-color);

        &:hover {
          background: none;
        }
      }

      
    }

    .shepherd-footer {
      padding-top: 16px;
      border-bottom-left-radius: 24px;
      border-bottom-right-radius: 24px;
    }
  }
}
