header {
  height: 300px;
  padding: 0 2rem;
  color: white;
  background: linear-gradient(90deg, #345ca8 30.32%, #80c2f2 100%);
  display: flex;
  align-items: center;

  .title {
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
    
    h1 {
      font-size: 3rem;
      line-height: 3rem;
      font-weight: 500;
    }

    h3 {
      font-size: 1rem;
    }
  }

  @media screen and (max-width: 800px) {
    background: linear-gradient(180deg, #345ca8 30.32%, #80c2f2 100%);
  }
}
