header {
    padding: 150px 10px;
    color: white;
    background: linear-gradient(90deg, #345ca8 30.32%, #80c2f2 100%);

    h1 {
      font-size: 3rem;
      text-align: center;
      font-weight: 300;
    }
  }