.dialog-content {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  position: relative;
}

.travolta {
  position: absolute;
  left: 10px;
  bottom: 0px;
  height: 150px;
}

.mat-mdc-dialog-actions {
  margin-top: auto;
  justify-content: flex-end;
  padding-left: 100px;

  @media screen and (max-width: 550px) {
    > * {
      margin-bottom: 8px;
    }
  }
}
