mat-chip-set {
    display: inline-flex;
    margin-left: auto;
  
    @keyframes popIn {
      0% {
        opacity: 0;
        transform: scale(0.9);
      }
      50%{
        opacity: 1;
        transform: scale(1.1);
      }
      100% {
        opacity: 1;
        transform: scale(1);
      }
    }

    mat-chip {
      &.consensus {
        background: var(--accent-color);
  
        strong {
          color: white;
        }
      }
  
      &.voter {
        background: #d9e2ff;
      }

      &.vote {
        animation: popIn 200ms ease-in;
        animation-fill-mode: forwards;
      }
      
    }
  }

  .member {
    display: flex !important;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 0 !important;
    flex-wrap: wrap;
    padding: 4px;
  }

  .member-name {
    display: flex;
    align-items: center;
    gap: 0.5rem;

    .verified-icon {
      height: 16px;
      width: 16px;
      font-size: 16px;
      color: #345CA8;
    }
  }

  .subheader {
    font-weight: 500;
  }

  .statistic {
    padding: 4px;
  }