@import "../../common.scss";

@keyframes popIn {
  0% {
    opacity: 0;
    transform: scale(0.9);
  }
  50% {
    opacity: 1;
    transform: scale(1.1);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}

mat-chip-set {
  display: inline-flex;
  margin-left: auto;

  mat-chip {
    &.consensus {
      background: var(--accent-color);
      --mdc-chip-outline-color: var(--accent-color);

      strong {
        color: white;
      }
    }

    &.voter {
      background: var(--mdc-chip-elevated-selected-container-color);
      --mdc-chip-label-text-color: var(--mdc-chip-elevated-selected-text-color);
      --mdc-chip-outline-color: var(
        --mdc-chip-elevated-selected-container-color
      );
    }

    &.vote {
      animation: popIn 200ms ease-in;
      animation-fill-mode: forwards;
    }
  }
}

.subheader {
  margin-top: 0;
  font-weight: 500;
  font-size: 1rem;
  margin-bottom: 1rem;
  margin-left: 0;
}

mat-list-item.statistic-line {
  height: unset;

  @include extraSmallScreen {
    padding-left: 0;
    padding-right: 0;
  }
}

.statistic {
  padding: 4px;
  flex-wrap: wrap;
  margin-bottom: 0;
  font-size: 1rem;
  font-weight: 400;
  margin: 0;

  .statistic-title {
    display: flex;
    align-items: center;
    gap: 0.3rem;
    margin-right: 8px;
  }

  .multiple-chips {
    margin-left: auto;
  }

  ::ng-deep .mdc-evolution-chip-set__chips {
    justify-content: flex-end;
  }
}

.votes {
  max-height: 500px;
  overflow: auto;

  .vote-container {
    display: inline-flex;
    width: 100%;
    align-items: center;
    padding: 0 20px;
    margin-bottom: 1rem;

    @include extraSmallScreen {
      padding: 0 8px;
    }
  }

  .vote-avatar {
    width: 60px;
    height: 60px;
    position: relative;
    flex-shrink: 0;

    .vote-avatar-image {
      width: 100%;
      height: 100%;
      object-fit: cover;
      border-radius: 50%;
    }

    .vote-avatar-text {
      height: 100%;
      width: 100%;
      background: var(--light-blue);
      display: flex;
      align-items: center;
      font-weight: 600;
      justify-content: center;
      font-size: 26px;
      border-radius: 50%;
      color: var(--text-on-light-blue);
    }

    .member-options-button {
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      background: var(--main-dark-highlight-color);
      padding: 0;
      display: flex;
      align-items: center;
      justify-content: center;
      opacity: 0;
      transition: opacity 100ms ease-out;

      &:hover,
      &:focus {
        opacity: 1;
      }

      mat-icon {
        color: white;
      }
    }

    @include extraSmallScreen {
      width: 40px;
      height: 40px;

      .vote-avatar-text {
        font-size: 18px;
      }

      .member-options-button {
        ::ng-deep {
          mat-icon {
            height: 20px;
            width: 20px;
            font-size: 20px;
          }
          .mat-mdc-icon-button {
            --mdc-icon-button-state-layer-size: 30px !important;
            padding: 3px !important;
          }

          .mat-mdc-button-touch-target {
            width: 30px !important;
            height: 30px !important;
          }
        }
      }
    }

    .avatar-warning {
      height: 24px;
      width: 24px;
      position: absolute;
      bottom: 0;
      right: 0;
      background: coral;
      border-radius: 50%;
      display: flex;
      align-items: center;
      justify-content: center;
      box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
      z-index: 2;

      mat-icon {
        font-size: 14px;
        width: 14px;
        height: 14px;
        color: white;
      }
    }
  }

  @keyframes spin {
    from {
      transform: rotate(0deg);
      opacity: 1;
    }
    to {
      transform: rotate(360deg);
      opacity: 1;
    }
  }

  .vote {
    background: var(--main-dark-highlight-color);
    border-radius: 32px;
    padding: 0px 12px;
    font-size: 14px;
    line-height: 24px;
    height: 32px;
    min-width: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-weight: 800;

    margin-left: auto;

    animation: popIn 200ms ease-in;
    animation-fill-mode: forwards;

    .hourglass {
      animation: spin 2s infinite;
      animation-delay: 500ms;
    }
    mat-icon {
      height: 15px;
      width: 15px;
      font-size: 15px;
    }
  }

  .member-name {
    font-weight: 500;
    text-align: center;
    margin-left: 0.5rem;
    font-size: 1rem;
    text-align: left;
    word-break: break-word;
    overflow-wrap: break-word;

    .verified-icon {
      display: inline-block;
      height: 16px;
      width: 16px;
      font-size: 16px;
      line-height: 20px;
      vertical-align: sub;
      overflow: visible;
      color: #345ca8;
      margin-right: 4px;
    }
  }
}

#majority-vote-chip.overridden {
  background: var(--accent-color);
  --mdc-chip-label-text-color: black;
  --mdc-chip-with-trailing-icon-trailing-icon-color: black;
  --mdc-chip-outline-color: var(--accent-color);
}

.blur {
  filter: blur(5px);
}

@keyframes growAnimation {
  0% {
    opacity: 0;
    transform: scaleX(0);
  }
  100% {
    opacity: 1;
    transform: scaleX(1);
  }
}

.distribution-chart {
  display: flex;
  flex-wrap: nowrap;
  gap: 2px;
  height: 15px;
  border-radius: 16px;
  overflow: hidden;
  margin: 4px;

  &__part {
    text-align: center;
    vertical-align: middle;
    line-height: 15px;
    padding: 0 4px;
    min-width: 0;
    font-size: 10px;
    color: white;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    animation: growAnimation 300ms ease-out 0ms 1 forwards;
    transform-origin: left;
    opacity: 0;
    @for $i from 1 through 10 {
      &:nth-child(#{$i}) {
        animation-delay: 200ms * calc($i - 1);
      }
    }
  }
}
