@import '../../common.scss';

.dialog-content {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
}

.card-deck-form {
  display: flex;
  flex-direction: column;
  padding-top: 0.5rem;
  padding-bottom: 2rem;
  gap: 8px;
}

.mat-mdc-dialog-actions {
  margin-top: auto;
  justify-content: flex-end;
}

.preview-cards {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  padding: 1rem;
}

@keyframes scaleIn {
  from {
    transform: scale(1.2);
    opacity: 0.3;
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}

.preview-card {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 20px 12px;
  border-radius: 12px;
  border: 1px solid #fefefe;
  margin-right: 8px;
  opacity: 0.3;

  &.filled {
    animation: scaleIn 300ms ease-in-out 100ms forwards;
  }
}

.hint {
  font-size: 0.8rem;
}

.numeric-forms {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 8px;
  margin-bottom: 0.5rem;

  mat-form-field {
    flex: 1;
    min-width: 150px;
  }

  @include extraSmallScreen {
    grid-template-columns: 1fr;
  }
}

.numeric-description {
  font-size: 0.8rem;
}